<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
<{$securitytoken}>
<input type="hidden" name="formulize_admin_handler" value="advanced_calculation_settings">
<input type="hidden" name="formulize_admin_key" value="<{$content.acid}>">
<input type="hidden" name="formulize_admin_fid" value="<{$content.fid}>">
<input type="hidden" name="aid" value="<{$content.aid}>">


<div class="panel-content content">
  <fieldset>
    <legend><{$smarty.const._AM_CALC_PROCEDURE_SETTINGS}><em><{$content.name}></em></legend>

	  <div class="form-item">
		  <label for="name"><{$smarty.const._AM_CALC_PROCEDURE_NAME}>:</label>
		  <input type="text" id="advcalc-name" name="advcalc-name" value="<{$content.name}>"/>
	  </div>

	  <div class="form-item">
		  <label for="description"><{$smarty.const._AM_CALC_PROCEDURE_DESCR}></label>
	    <textarea id="advcalc-description" name="advcalc-description" rows="5" cols="35"><{$content.description}></textarea>
	  </div>
  </fieldset>
</div>

</form>
