<div class="form-item">
    <fieldset>
        <legend>When displying this element as a list box, display these values:</legend>
        <{$content.displayElements}>
        <div class="description">
        This feature is useful to display multiple elements from the linked form.
        </div>
    </fieldset>
</div>

<div class="form-item">
    <fieldset>
        <legend>When displaying this element in a list of entries, or including it in a dataset with the API, use values from a different element in the source form:</legend>
        <{$content.listValue}>
        <div class="description">
        This feature is useful if you want the value used in the list of entries to be different from the value that users choose when filling in the form.  For example, you might link to a form called "Master List of Workshops" and in that form there are two fields, the name of the workshop, and a code number that is used to refer to them.  You might link the element to the name of the workshop, to get a list of workshops for users to choose from.  But in a list of entries, you want the code number for the workshop to be displayed.  In that case, you would pick the code number element here.
        </div>
    </fieldset>
</div>

<div class="form-item" style="margin-bottom: 0px">
    <fieldset>
        <legend>When exporting this element to a spreadsheet, use values from a different element in the source form:</legend>
        <{$content.exportValue}>
        <div class="description">
        This feature is essentially the same as the previous one, except it applies only when data is being exported to a spreadsheet, not when lists of entries are displayed on screen.
        </div>
    </fieldset>
</div>