<fieldset>
  <legend>Use alternate source fields for the values in this element</legend>
	<div class="form-item">
		<p><b>When displaying this form element to users</b></p>
		<{$content.displayElements}>
		<div class="description">
			This feature is useful to display multiple elements from the linked form.
		</div>
	</div>
	<div class="form-item">
    <p><b>When displaying this element in a list of entries</b></p>
    <{$content.listValue}>
    <div class="description">
     	This feature is useful if you want the value used in the list of entries to be different from the value that users choose when filling in the form.  For example, you might link to a form called "Master List of Workshops" and in that form there are two fields, the name of the workshop, and a code number that is used to refer to them.  You might link the element to the name of the workshop, to get a list of workshops for users to choose from.  But in a list of entries, you want the code number for the workshop to be displayed.  In that case, you would pick the code number element here. This setting also takes effect when including this element in a dataset with the API.
    </div>
	</div>
	<div class="form-item" style="margin-bottom: 0px">
    <p><b>When exporting this element to a spreadsheet</b></p>
    <{$content.exportValue}>
     <div class="description">
      The spreadsheet will contain values from all these elements in the cell for this element.
     </div>

	</div>
</fieldset>
