<div class="panel-content content">
	<form id="form-<{$number}>" class="formulize-admin-form">
        <{php}>print $GLOBALS['xoopsSecurity']->getTokenHTML()<{/php}>
        <input type="hidden" name="formulize_admin_handler" value="application_menu_entries">
        <input type="hidden" name="formulize_admin_key" value="<{$content.aid}>">
        <input type="hidden" id="reload_settings" name="reload_settings" value=1>
        <input type="hidden" id="deletemenuitem" name="deletemenuitem" value="">
        <input type="hidden" name="menuorder" value="">
	<input type="hidden" name="tabnumber" value=<{$number}>>
		
                            
        <table id="plain">
            <div class="form-item">
            
                <tr><td colspan="2"><legend> Add links to the menu</legend></td> </tr>
                
                <tr>
                    <td width="30%">Text for this link:</td>
                    <td><input type="text" id="addmenutext" name="addmenutext"></td>
                </tr>
                <tr>
		    <div id="listofscreenoptions">
                        <td>This link goes to:</td>
                        <td><{html_options name='addnewscreenoptions' options=$content.listsofscreenoptions}></td>
		    </div>
		    <div>
			<h3>A note for this link:</h3>
			<input type="text" name="addnote" id="addnote">
		    </div>
		    <div>
                    <input type="text" name="addurl" id="addurl" value="http://">
		    </div>
		    <div>
                    <h3>Show this link to these groups:</h3>
                    <select name="addgroups" id="addgroups" size=10 multiple style="overflow-y: scroll;">
                        <{foreach from=$content.groups item=group}>
                            <option value=<{$group.id}><{$group.selected}>><{$group.name}></option>                 
                        <{/foreach}></select>
                    </td>
                </tr>
                <tr>
                    <div id="defaultScreenSection"> 
                        <td>Send these groups to this link right after they login:</td>
                        <td><select name="defaultScreenGroups" id="addDefaultScreenGroups" size=10 multiple style="overflow-y: scroll;">
			    <{foreach from=$content.groups item=group}>
				<option value=<{$group.id}><{$group.selected}>><{$group.name}></option>                 
                            <{/foreach}></select>
			<div class="description">
			<p>This only takes effect if Formulize is also set as the default start page for a group, under <a href='<{$xoops_url}>/modules/system/admin.php?fct=preferences&op=show&confcat_id=1' target='_blank'>General Settings</a></p>
			</div>
                        </td>
                    </div>
                </tr>
                <tr>
                    <td>Add another menu item</td>
                    <td><button class="menuButton" id="addMenuItem" type="button" >Add Menu Item</button></td>
                </tr>
            </div> <!-- class formitem-->
                   
        </table>
                
        <div class="accordion-box">			
            <br/><legend> Manage the links in the menu</legend>
            <p>Click and drag the links to re-order them</p><br/>
            <div id="sortable-list">        
                <{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/application_menu_entries_sections.html" sections=$content.links}>
            </div>                                                    
        </div>
    </form>
    
    <div style="clear: both"></div>
    
</div> <!--// end content -->
<script type="text/javascript">
    var formID = "";
    var formRelationID = "1";
    
    // added Oct 2013 
    $(".deletemenulink").click(function () {
        var answer = confirm("Do you want to delete the menu link '"+$(this).attr('menuname')+"'?");
        if(answer) {
            $("[name=deletemenuitem]").val($(this).attr('target'));
            $(".savebutton").click();
        }
        return false;
    });
    
	jQuery("#addurl").hide();
        jQuery("#listofscreenoptions select").change(function(){
            if(jQuery(this).val() == 'url') {
                jQuery("#addurl").fadeIn();
            } else {
                jQuery("#addurl").fadeOut();
            }
        });
    
    // modified Oct 2013
    $("#addMenuItem").click(function (){
        $(".savebutton").click();
    });
  
    $(".savebutton").click(function () {
        $("[name=menuorder]").val($("#accordion-<{$number}>").sortable('serialize'));
	

	var menuText = $("#addmenutext").val().trim();
	if(menuText) {
		var url = $("#addurl").val();
	        var screen = $("#listofscreenoptions select").val();
	        var groupids = $("#addgroups").val();
	        var default_screen = $("#addDefaultScreenGroups").val();
		var note=$("#addnote").val()
	        var value = "null";
		value += "::"+menuText+ "::" + screen + "::" + url + "::"+groupids+"::"+default_screen+"::"+note;
	        addHiddenMenuItem(value);
	}
	
	$(".menuEntriesSection").each(function() {
		var sectionNumber = $(this).attr('menuentry');
		var menuID = $(this).attr('menuid');
		var menuText = $("#menutext"+sectionNumber).val().trim().replace(/\'/g, " ") ;
		var url = $("#url"+sectionNumber).val();
		var screen = $("#sectionScreen"+sectionNumber+" select").val();
		var groupids = $("#groups"+sectionNumber).val();
		var default_screen= $("#defaultScreenGroups"+sectionNumber).val();
		var note=$("#addnote"+sectionNumber).val()
		var value = menuID;
		
		value += "::"+menuText+ "::" + screen + "::" + url + "::"+groupids+"::"+default_screen+"::"+note;                                                                               
		addHiddenMenuItem(value);
	});
    });
 
    $("#accordion-<{$number}>").bind( "sortupdate", function(event, ui) {
        setDisplay('savewarning','block');
    });
                            
    function addHiddenMenuItem(value) {
	$('<input>').attr({
		type: 'hidden',
		name: 'menu_items[]',
		value: value
	}).appendTo('#form-<{$number}>');
    }
    
    
    
    </script>