<div class="panel-content content menuEntriesSection" menuentry='<{$sectionNumber}>' menuid='<{$content.links[$sectionNumber].menu_id}>'>
    
    <p><a href="" class="deletemenulink" target="<{$content.links[$sectionNumber].menu_id}>" menuname="<{$content.links[$sectionNumber].link_text}>"><img src="../images/editdelete.gif"> Delete</a></p>

    <form>
        <div>
        <h3>Text for this link:</h3>
        <input type="text" id="menutext<{$sectionNumber}>" name="menutext" value="<{$content.links[$sectionNumber].link_text}>">
        </div>
        <div>
	    
        <h3>Note for this link:</h3>
        <input type="text" id="addnote<{$sectionNumber}>" name="addnote" value="<{$content.links[$sectionNumber].note}>">
        </div>
	
        <div id="sectionScreen<{$sectionNumber}>" class="sectionScreen">
            <h3>This link goes to:</h3>
            <{html_options name='sectionScreenOptions'|cat:$sectionNumber options=$content.listsofscreenoptions}>
        </div>  
        <div id="externalUrl<{$sectionNumber}>">
        <input type="text" name="url" id="url<{$sectionNumber}>" value="<{$content.links[$sectionNumber].url}>">
        </div>
        <div>    
        <h3>Show this link to these groups:</h3>                        
        <select name="groups" id="groups<{$sectionNumber}>" size=10 multiple style="overflow-y: scroll;">
            <{foreach from=$content.groups item=group}>
                    <option value="<{$group.id}>"> <{$group.name}> </option>
            <{/foreach}>
        </select>
        </div>
        <div id="defaultScreenSection<{$sectionNumber}>"> 
            <h3>Send these groups to this link right after they login:</h3>                        
            <select name="defaultScreenGroups" id="defaultScreenGroups<{$sectionNumber}>" size=10 multiple style="overflow-y: scroll;">
            <{foreach from=$content.groups item=group}>
                    <option value="<{$group.id}>"> <{$group.name}> </option>
            <{/foreach}>
            </select>
       </div>
       <div class="description">
        <p>This only takes effect if Formulize is also set as the default start page for a group, under <a href='<{$xoops_url}>/modules/system/admin.php?fct=preferences&op=show&confcat_id=1' target='_blank'>General Settings</a></p>
	</div>
            
    </form> 
</div>


<script type="text/javascript">
    
    jQuery( document ).ready(function() {
                             
        //show screen for each link (if there is any)		
        jQuery("#sectionScreen<{$sectionNumber}> select").val("<{$content.links[$sectionNumber].screen}>"); 

        if(jQuery("#sectionScreen<{$sectionNumber}> select").val() != 'url') {
            jQuery("#externalUrl<{$sectionNumber}>").hide();
        }
        jQuery("#sectionScreen<{$sectionNumber}> select").change(function(){
            if(jQuery(this).val() == 'url') {
                jQuery("#externalUrl<{$sectionNumber}>").fadeIn();
            } else {
                jQuery("#externalUrl<{$sectionNumber}>").fadeOut();
            }
        });
                             
        //show group permissions for each link (if there are any)
        var permissions= ""+'<{$content.links[$sectionNumber].permissions}>';		
        if ( permissions != ''){				
            permissions= permissions.split(",");
            for (var i=0; i<permissions.length; i++){				
                jQuery("#groups<{$sectionNumber}> option").filter( function(){
                    return jQuery(this).val() == permissions[i];	   			
                }).attr("selected", true);
            }
        }
        var default_screen= ""+'<{$content.links[$sectionNumber].default_screen}>';		
        if ( default_screen != ''){				
            default_screen= default_screen.split(",");
            for (var i=0; i<default_screen.length; i++){				
                jQuery("#defaultScreenGroups<{$sectionNumber}> option").filter( function(){
                    return jQuery(this).val() == default_screen[i];	   			
                }).attr("selected", true);
            }
        }

    });
    
    
     

</script>
