<div>
<{if $sectionContent.frid > 0}><p></p><a href="ui.php?page=relationship&frid=<{$sectionContent.frid}>&aid=<{$content.aid}>&fid=<{$content.fid}>&sid=<{$content.sid}>"><img src="../images/kedit.png"> Configure this relationship</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="deleterelationship" target="<{$sectionContent.frid}>" href=""><img src="../images/editdelete.gif">&nbsp;&nbsp;Delete this relationship</a></p><{/if}>
</div>
<div class="panel-content content">
    <{assign var=prevOne value=''}>
	  <{foreach from=$sectionContent.links key=linkNumber item=link}>
      <{if $prevOne && $prevOne != $link.form1}>
        </p>
      <{/if}>
      <{if $prevOne != $link.form1}>
        <p><{$link.each}> <em><{$link.form1}></em>...
        <{assign var=prevOne value=$link.form1}>
      <{/if}>
      <br>&nbsp;&nbsp;&nbsp;<{$link.has}> <em><{$link.form2}></em> <a class="tooltip"><span><{$link.help}></span></a>
  	<{/foreach}>
    <{if $prevOne}>
      </p>
    <{/if}>
</div>
