<div class="panel-content content">

<form id="form-<{$number}>" class="formulize-admin-form">
<{php}>print $GLOBALS['xoopsSecurity']->getTokenHTML()<{/php}>
<input type="hidden" name="formulize_admin_handler" value="application_settings">
<input type="hidden" name="formulize_admin_key" value="<{$content.aid}>">
<input type="hidden" id="reload_settings" name="reload_settings" value="">

	<table id="plain">
		<tr><td colspan="2"><legend> Settings </legend></td> </tr>
			<div class="form-item">
				<tr>
					<td  width="30%"><label for="applications-name" class="question"><{$smarty.const._AM_APP_NAMEQUESTION}></label></td>
					<td><input type="text" id="applications-name" name="applications-name" value="<{$content.name}>" class="input-text" /></td>
				</tr>
			</div>

			<div class="form-item">
				<tr>
					<td><label for="applications-description" class="question"><{$smarty.const._AM_APP_DESCQUESTION}></label></td>
					<td><textarea rows="4" id="applications-description" name="applications-description"><{$content.description}></textarea></td>
				</tr>
			</div>

			<div class="form-item">
				<tr>
					<td><label for="applications-forms" class="question"><{$smarty.const._AM_APP_FORMSIN}></label></td>
					<td>
						<select id="applications-forms" name="applications-forms[]" size=6 multiple>
						<{foreach from=$content.forms item=thisform}>
						<option value=<{$thisform.id}><{$thisform.selected}>><{$thisform.name}></option>
						<{/foreach}>
						</select>
					</td>
				</tr>
			</div>

	</table>

	

</form>

<div style="clear: both"></div>
</div> <!--// end content -->

<script type="text/javascript">

	$("#applications-name").keydown(function () {
		window.document.getElementById('reload_settings').value = 1;
	});
	
	$("#applications-forms").change(function () {
		window.document.getElementById('reload_settings').value = 1;
	});
	
</script>