<div class="panel-content content">
  <fieldset>
    <legend>API Key</legend>
    <div class="form-item">
	    <input id="elements-ele_value[apikey]" name="elements-ele_value[apikey]" type="text" value="<{$content.apikey}>"></input>
    </div>
  </fieldset>
    <div class="description">If you use Google to login to this website, then use the API Key from the same Google project you use to handle the authentication. IMPORTANT: make sure to enable the Google Places API for that project too!</div>
</div>