<!-- start checkboxTree configuration -->
<script type="text/javascript" src="<{$xoops_url}>/modules/formulize/libraries/jquery/checkboxtree/jquery.checkboxtree.js"></script>
<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/formulize/libraries/jquery/checkboxtree/jquery.checkboxtree.css"/>
<!-- end checkboxTree configuration -->

<div class="panel-content content">

<form id="form-<{$number}>" class="formulize-admin-form">
<input type="hidden" name="formulize_admin_handler" value="element_display">
<input type="hidden" name="formulize_admin_key" value="<{$content.ele_id}>">
<input type="hidden" name="reload_element_pages" value="">
<input type="hidden" class="display-conditionsdelete" name="display-conditionsdelete" value="">
<input type="hidden" class="disabled-conditionsdelete" name="disabled-conditionsdelete" value="">

<!-- initialize checkboxTree plugin -->
<script type="text/javascript">
$(document).ready(function() {
    $('#multi-screen-tree').checkboxTree({
        onCheck: {
            ancestors: 'checkIfFull',
            descendants: 'check'
        },
        onUncheck: {
            ancestors: 'uncheck'
        },
        initializeChecked: 'expanded',
        initializeUnchecked: 'collapsed'
    });
});
</script>

<div class="accordion-box">

	<div class="form-item">
   	<fieldset>
      <legend><label for="elements_ele_display" class="question">Which groups should see this element?</label></legend>
			<select name="elements_ele_display[]" size=8 multiple>
				<option value="all"<{$content.ele_display.all}>>All groups with permission to view the form</option>
				<option value="none"<{$content.ele_display.none}>>No groups</option>
				<{foreach from=$content.groups item=group}>
				<{assign var=groupid value=$group.id}>
        <option value=<{$groupid}><{$content.ele_display.$groupid}>><{$group.name}></option>
        <{/foreach}>
			</select>
		</fieldset>
	</div>

		<div class="form-item">
			 <fieldset>
				<legend><label for="elements_ele_filtersettings" class="question">Only display to these groups when:</label></legend>
				<div id="displayfilter">
				<{$content.filtersettings}>
				</div>
			</fieldset>
		</div>

</div>

<div class="accordion-box">

	<div class="form-item">
   	<fieldset>
      <legend><label for="elements_ele_disabled" class="question">Disable this element for any groups?</label></legend>
			<select name="elements_ele_disabled[]" size=8 multiple>
				<option value="none"<{$content.ele_disabled.none}>>Disable for no groups</option>
				<option value="all"<{$content.ele_disabled.all}>>Disable for all groups</option>
				<{foreach from=$content.groups item=group}>
				<{assign var=groupid value=$group.id}>
        <option value=<{$groupid}><{$content.ele_disabled.$groupid}>><{$group.name}></option>
        <{/foreach}>
			</select>
			<div class="description">
				<p>Users will see this element if they are a member of any group for which the element is not disabled.  Only users who have all their groups selected here, will see the element as disabled.</p>
			</div>
		</fieldset>
	</div>

		<div class="form-item">
			 <fieldset>
				<legend><label for="elements_ele_disabledconditions" class="question">Only disable for these groups when:</label></legend>
				<div id="disabledconditions">
				<{$content.disabledconditions}>
				</div>
			</fieldset>
		</div>

	</div>

<div class="accordion-box">
    <div class="form-item">
    <fieldset>
	<legend>Form Screens to display this element on</legend>
    <ul id="multi-screen-tree">
		<label for="multi_page_screens">Select the pages where the element will appear</label>
		<{foreach from=$content.multi_form_screens item=form_screen}>
			<{assign var=formscreenid value=$form_screen.sid}>
			<{assign var=formscreenpages value=$form_screen.pages}>
			<li><input type="checkbox" name="multi_page_screens[]" value=all><label><{$form_screen.title}></label>
			<{foreach from=$formscreenpages key=k item=screen_page}>
				<{if in_array($content.ele_id, $screen_page)}>
				 <ul>
	                <li><input type="checkbox" name="multi_page_screens[]" value=<{$formscreenid|cat:'-'|cat:$k}> checked><label><{$form_screen.pagetitles[$k]}></label>
	            </ul>
	            <{else}>
	            <ul>
	                <li><input type="checkbox" name="multi_page_screens[]" value=<{$formscreenid|cat:'-'|cat:$k}>><label><{$form_screen.pagetitles[$k]}></label>
	            </ul>
	            <{/if}>
			<{/foreach}>
        <{/foreach}>
	</ul>
    </fieldset>
    </div>
</div>

<{if $content.form_screens|is_array AND $content.form_screens|@count AND $content.ele_form_screens|is_array AND $content.ele_form_screens|@count}>
<div class="accordion-box">
    <div class="form-item">
    <fieldset>
	<legend>Legacy Form Screens to display on</legend>
	<div class="form-item">
		<label for="elements_form_screens">On which legacy form screens should this element appear?</label>
		<select id="elements_form_screens" name="elements_form_screens[]" size="8" multiple>
		<{foreach from=$content.form_screens item=form_screen}>
		<{assign var=formscreenid value=$form_screen.sid}>
        <option value=<{$formscreenid}><{$content.ele_form_screens.$formscreenid}>><{$form_screen.title}></option>
        <{/foreach}>
		</select>
    </div>
    </fieldset>
    </div>
</div>
<{/if}>

<div class="accordion-box">
	<div class="form-item">
   	<fieldset>
      <legend><label class="question">Additional display options:</label></legend>
			<input type="checkbox" name="elements-ele_private" value="1"<{$content.ele_private}>> Only display this element to users who have permission to "view private elements".
			<div class="description">
				This can be useful for hiding information like phone numbers and other personal details from most other users.
			</div><br />
            <input type="checkbox" name="elements-ele_forcehidden" value="1"<{$content.ele_forcehidden}>> DEPRECATED - use default values for the element instead - If this element is not displayed to a user, still save its value when the form is submitted.
			<div class="description">
				This can be useful for setting default values in a form, for elements the user should not interact with.
			</div>
		</fieldset>
	</div>
</div>

</form>

<div style="clear: both;"></div>
</div> <!--// end content -->

<script type='text/javascript'>

$("div#displayfilter > input[name=addcon]").click(function () {
	$("[name=reload_element_pages]").val(1);
  $(".savebutton").click();
	return false;
});

$("div#displayfilter > a.conditionsdelete").click(function () {
	$(".display-conditionsdelete").val($(this).attr('target'));
	$("[name=reload_element_pages]").val(1);
  $(".savebutton").click();
	return false;
});

$("div#disabledconditions > input[name=addcon]").click(function () {
	$("[name=reload_element_pages]").val(1);
  $(".savebutton").click();
	return false;
});

$("div#disabledconditions > a.conditionsdelete").click(function () {
	$(".disabled-conditionsdelete").val($(this).attr('target'));
	$("[name=reload_element_pages]").val(1);
  $(".savebutton").click();
	return false;
});

</script>
