<div class="panel-content content">
  <fieldset>
    <legend>API Key</legend>
    <div class="form-item">
	    <input id="elements-ele_value[apikey]" name="elements-ele_value[apikey]" type="text" value="<{$content.apikey}>"></input>
    </div>
  </fieldset>
    <fieldset>
    <legend>OAuth 2.0 Client ID</legend>
    <div class="form-item">
	    <input id="elements-ele_value[clientid]" name="elements-ele_value[clientid]" type="text" value="<{$content.clientid}>"></input>
    </div>
  </fieldset>
  <fieldset>
    <legend>Project Number (under IAM & Admin > Settings)</legend>
    <div class="form-item">
	    <input id="elements-ele_value[projectnumber]" name="elements-ele_value[projectnumber]" type="text" value="<{$content.projectnumber}>"></input>
    </div>
  </fieldset>
  <fieldset>
    <legend>Mime Types (comma separated list, leave blank to include all types)</legend>
    <div class="form-item">
	    <input id="elements-ele_value[mimetypes]" name="elements-ele_value[mimetypes]" type="text" value="<{$content.mimetypes}>"></input>
    </div>
  </fieldset>
    <div class="description">If you use Google to login to this website, then use the API Key and Client ID and Project Number from the same Google project you use to handle the authentication. IMPORTANT: make sure to enable to Google Picker API for that project too!</div>
</div>