<div class="panel-content content">
    <fieldset>
        <legend>Default Time</legend>
        <div class="form-item">
            <input type="text" id="element-time" name="elements-ele_value[0]" value="<{$content.ele_value[0]}>" size="15" />
        </div>
    </fieldset>
	<div class="description">
		<p>Specify the time in 24 hour format, ie: <b>13:25</b><br>Leave blank for no default time. Use {NOW} for the current time, or {NOW+60} for one hour in the future, {NOW-15} for fifteen minutes in the past, etc.<br>You can also use {elementHandle} to reference another element in this form and base the default time on the value saved in that element.</p>
	</div>
</div>
