	    <div class="form-item">
		    <fieldset>
			    <legend>Which column in the source form should be used to sort the options?</legend>
			    <p><{$content.optionSortOrder}><br /><label for="elements-ele_value[15]-1"><input type=radio id="elements-ele_value[15]-1" name="elements-ele_value[15]" value=1 <{if $content.ele_value[15] != 2}>checked<{/if}>/> Ascending (a..z)&nbsp;&nbsp;&nbsp;</label><label for="elements-ele_value[15]-2"><input type=radio id="elements-ele_value[15]-2" name="elements-ele_value[15]" value=2 <{if $content.ele_value[15] eq 2}>checked<{/if}>/> Descending (z..a)</label></p>
			    <div class="description">
				By default, the linked column/element will be used, so the options will simply appear in alphabetical order.  If you select another column, then the options will be sorted according to those values in the source form instead.  For example, you might link to a list of classroom names, but rather than having them show up alphabetical by name, you want to show them according to which building they're in.  If the source form has an element to record the building, then you could sort the options by that column and they will show up in a different order.
			    </div>
		    </fieldset>
	    </div>