When users type something that doesn't match any of the choices:<br>
<div class="form-radios">
	<label for="elements-ele_value[16]-0"><input type="radio" id="elements-ele_value[16]-0" name="elements-ele_value[16]" value="0"<{if $content.ele_value[16] eq 0}> checked="checked"<{/if}>/>Say "No Match Found"</label>
	<label for="elements-ele_value[16]-1"><input type="radio" id="elements-ele_value[16]-1" name="elements-ele_value[16]" value="1"<{if $content.ele_value[16] eq 1}> checked="checked"<{/if}>/>Allow new values to be saved</label>
</div>
