<div class="panel-content content">

	<{include file="db:admin/element_linkedoptionlist.html"}>

  <{include file="db:admin/element_options_delimiter_choice.html"}>

	<div id="linked-filter" class="form-item" <{if $content.islinked != 1}>style="display: none;"<{/if}>>
  	<{include file="db:admin/element_linkedfilter.html"}>
	</div>

	<div id="linked-or-usernames-options" class="form-item" <{if $content.islinked != 1 && $content.usernameslist != 1}>style="display: none;"<{/if}>>
		<{include file="db:admin/element_linkedandusernames_scopefilter.html"}>
	</div>

	<div id="linked-options" class="form-item" <{if $content.islinked != 1}>style="display: none;"<{/if}>>
  	<{include file="db:admin/element_linkedsortoptions.html"}>
	  <{include file="db:admin/alternate_fields_for_linked_elements.html"}>
	</div>

</div>

<script>
$("#snapshot-<{$content.ele_value.snapshot}>").attr('checked',1);
$("#selfreference-<{$content.ele_value.selfreference}>").attr('checked',1);

    $('input[name="linked_yesno"]').change(function() {
        if($('input[name="linked_yesno"]:checked').val() == 1) {
					$('div#fixedListOptions').hide(200);
					$('div#linkedSourceOptions').show(200);
					$('div#linked-options').show(200);
					$('div#linked-filter').show(200);
					$('div#linked-or-usernames-options').show(200);
        } else {
					$('div#fixedListOptions').show(200);
          $('div#linkedSourceOptions').hide(200);
					$('div#linked-options').hide(200);
					$('div#linked-filter').hide(200);
					checkForNames();
        }
    });

</script>
