<div class="panel-content content">

	<div id="fixedListOptions" <{if $content.islinked == 1}>style="display: none;"<{/if}>>
			<{include file="db:admin/element_optionlist.html"}>
	</div>

  <{include file="db:admin/element_options_delimiter_choice.html"}>

	<div id="linked-or-usernames-options" class="form-item" <{if $content.usernameslist != 1}>style="display: none;"<{/if}>>
		<{include file="db:admin/element_linkedandusernames_scopefilter.html"}>
	</div>

</div>

<script>
$("#snapshot-<{$content.ele_value.snapshot}>").attr('checked',1);
$("#selfreference-<{$content.ele_value.selfreference}>").attr('checked',1);
</script>
