<div class="panel-content content">

	<{include file="db:admin/element_linkedoptionlist.html"}>

    <{include file="db:admin/element_options_delimiter_choice.html"}>
    
       <div class="form-item">
    <fieldset>
		<legend>If the options are linked -- or are {FULLNAMES} or {USERNAMES}</legend>
		<div class="form-item">
		<fieldset>
			<legend>Limit them to...</legend>
            <div class="form-radios">
                <label for="elements-ele_value[formlink_useonlyusersentries]-1"><input type="radio" id="elements-ele_value[formlink_useonlyusersentries]-1" name="elements-ele_value[formlink_useonlyusersentries]" value="1"<{if $content.ele_value.formlink_useonlyusersentries eq 1}> checked="checked"<{/if}>/>The entries created by the user</label>
            </div>
            <div class="form-radios">
                <label for="elements-ele_value[formlink_useonlyusersentries]-0"><input type="radio" id="elements-ele_value[formlink_useonlyusersentries]-0" name="elements-ele_value[formlink_useonlyusersentries]" value="0"<{if $content.ele_value.formlink_useonlyusersentries eq 0}> checked="checked"<{/if}>/>The entries created by these groups:</label>
            </div>
            <br>
            <select id="element-formlink_scope" name="element_formlink_scope[]" size="10" multiple>
            <{html_options options=$content.formlink_scope_options selected=$content.formlink_scope}>
            </select>
            <br/><br/>
            <fieldset>
                <div class="form-radios">
                    <label for="elements-ele_value[checkbox_scopelimit]-0"><input type="radio" id="elements-ele_value[checkbox_scopelimit]-0" name="elements-ele_value[checkbox_scopelimit]" value="0"<{if $content.ele_value.checkbox_scopelimit eq 0}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_SCOPELIMIT_NO}></label>
                </div>
                <div class="form-radios"><label for="elements-ele_value[checkbox_scopelimit]-1"><input type="radio" id="elements-ele_value[checkbox_scopelimit]-1" name="elements-ele_value[checkbox_scopelimit]" value="1"<{if $content.ele_value.checkbox_scopelimit eq 1}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_SCOPELIMIT_YES}></label></div>
            </fieldset>
            <fieldset>
                <div class="form-radios">
                    <label for="elements-ele_value[checkbox_formlink_anyorall]-0"><input type="radio" id="elements-ele_value[checkbox_formlink_anyorall]-0" name="elements-ele_value[checkbox_formlink_anyorall]" value="0"<{if $content.ele_value.checkbox_formlink_anyorall eq 0}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_ANYALL_ANY}></label>
                </div>
                <div class="form-radios">
                    <label for="elements-ele_value[checkbox_formlink_anyorall]-1"><input type="radio" id="elements-ele_value[checkbox_formlink_anyorall]-1" name="elements-ele_value[checkbox_formlink_anyorall]" value="1"<{if $content.ele_value.checkbox_formlink_anyorall eq 1}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_ANYALL_ALL}></label>
                </div>
            </fieldset>
            <div class="description">
                <{$smarty.const._AM_ELE_FORMLINK_SCOPE_DESC}>
            </div>
        </fieldset>
	</fieldset>
</div>  
    
  <{include file="db:admin/element_linkedfilter.html"}>
  
  <{include file="db:admin/element_linkedsortoptions.html"}>
    
  <{include file="db:admin/alternate_fields_for_linked_elements.html"}>
  
</div>

<script>
$("#snapshot-<{$content.ele_value.snapshot}>").attr('checked',1);
    
    $('input[name="linked_yesno"]').change(function() {
        if($('input[name="linked_yesno"]:checked').val() == 1) {
            $('#snapshot-values').show(200);
        } else {
            $('#snapshot-values').hide(200);
        }
    });
</script>