		  <div class="form-item">
			  <fieldset>
				  <legend>Filter options based on these properties of their entry in the source form</legend>
				  <div id="filterdiv">
				  <{$content.formlinkfilter}>
				  </div>
				  <div class="description">
					  <{$smarty.const._AM_ELE_FORMLINK_SCOPEFILTER_DESC}>
				  </div>
			  </fieldset>
		  </div>


<script type='text/javascript'>

    $("#formlink").change(function() {
		$("#yes").attr('checked',1);
		$("[name=reload_option_page]").val(1);
		$("#filterdiv").empty();
		$("#filterdiv").append('<p><input type="button" class="formButton" name="refreshfilter" onclick="refreshfilterjq()" value="Save changes to update filter options"></p>');
    });

    function refreshfilterjq() {
        $("[name=reload_option_page]").val(1);
        $(".savebutton").click();
	}

    $("[name=ele_value[0]]").keydown(function () {
        $("#no").attr('checked',1);
        $("#formlink").val('none');
        $("#filterdiv").empty();
        $("#filterdiv").append('<p>The options are not linked.</p>');
	});

    $("div#filterdiv > a.conditionsdelete").click(function () {
		$(".optionsconditionsdelete").val($(this).attr('target'));
		$("[name=reload_option_page]").val(1);
	  $(".savebutton").click();
		return false;
	});


	$("div#filterdiv > input[name=addcon]").click(function () {
		$("[name=reload_option_page]").val(1);
	  $(".savebutton").click();
		return false;
	});


</script>
