<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<div id="element-mgmt-ui">
	<div id="element-mgmt-ui-left">

		<div class="accordion-box-wide">
			<form class="formulize-admin-form">
				<input type="hidden" name="formulize_admin_handler" value="form_elements">
				<input type="hidden" name="formulize_admin_key" value="<{$content.fid}>">
				<input type="hidden" name="cloneelement" value="">
				<input type="hidden" name="clonefid" value="<{$content.fid}>">
				<input type="hidden" name="deleteelement" value="">
				<input type="hidden" name="convertelement" value="">
				<input type="hidden" name="reload_elements" value="">
				<input type="hidden" name="aid" value="<{$content.aid}>">
				<input type="hidden" name="elementorder" value="">
				<h2><{$smarty.const._AM_ELE_MANAGINGELEFORM}></h2>
				<h2><a href="" onclick="showAddElementOptions();return false;"><img src="../images/filenew2.png"> Add an element</a></h2>
				<p><{$smarty.const._AM_ELE_CLICKDRAGANDDROP}></p>
				<div id="sortable-list">
					<{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/form_elements_sections.html" sections=$content.elements closeAccordion=1}>
				</div>
			</form>
			<h2><a href="" onclick="showAddElementOptions();return false;"><img src="../images/filenew2.png"> Add an element</a></h2>
		</div>

	</div> <!-- end of mgmt ui left -->

	<div id="fakeform-container">
		<h2>Preview &mdash; <a href="" onclick="$('#fakeform').toggle(300);return false;">Show/Hide</a></h2>
		<br>
		<iframe style="display: none;" id="fakeform" src="fakeform.php?fid=<{$content.fid}>&aid=<{$content.aid}>"></iframe>
	</div>

</div> <!-- end of mgmt ui -->

<div id="cloneElementFormChoice" style="display:none;">
	<{html_options name="cloneformselect" options=$content.allFormTitles selected=$content.fid}><br>
	<button style="float: right;" onclick="$('[name=clonefid]').val($('[name=cloneformselect]').val());$('.savebutton').click();"><{$smarty.const._AM_ELE_CLONE_TO_FORM_BUTTON}></button>
</div>

<div id="addElementOptions" style="display:none;">

	<div id="element-categories-container">

		<ul>
			<li><a href="#add-textboxes"><{$smarty.const._AM_ELE_CATEGORY_TEXTBOXES}></a></li>
			<li><a href="#add-lists"><{$smarty.const._AM_ELE_CATEGORY_LISTS}></a></li>
			<li><a href="#add-selectors"><{$smarty.const._AM_ELE_CATEGORY_SELECTORS}></a></li>
			<li><a href="#add-layout"><{$smarty.const._AM_ELE_CATEGORY_LAYOUT}></a></li>
			<li><a href="#add-misc"><{$smarty.const._AM_ELE_CATEGORY_MISC}></a></li>
			<li><a href="#add-embed"><{$smarty.const._AM_ELE_CATEGORY_EMBED}></a></li>
		</ul>
		<div id="add-textboxes" class="element-category-content">
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_TEXTBOX}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=text"><img class="element-example" src="../images/admin_elements/text.png"></a>
				<div>
					<p class="element-variations">
						<{$smarty.const._AM_ELE_CATEGORY_CHOOSEATYPE}><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=text" data-testid="element-text"><{$smarty.const._AM_ELE_CATEGORY_REGULAR}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=number" data-testid="element-text-number"><{$smarty.const._AM_ELE_CATEGORY_TEXTBOX_NUMBER}></a>
					<p>
				</div>
				<div>
					<p class="element-variations">
						<br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=phone" data-testid="element-text-phone"><{$smarty.const._AM_ELE_CATEGORY_TEXTBOX_PHONE}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=email" data-testid="element-text-email"><{$smarty.const._AM_ELE_CATEGORY_TEXTBOX_EMAIL}></a>
					</p>
				</div>
			</div>

			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_TEXTAREA}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=textarea" data-testid="element-textarea"><img class="element-example" src="../images/admin_elements/textarea.png"></a>
			</div>
		</div>

		<div id="add-lists" class="element-category-content">
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_DROPDOWNLISTS}></h2><h3><{$smarty.const._AM_ELE_ONEOPTION}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=select"><img class="element-example" src="../images/admin_elements/select.png"></a>
				<div>
					<p class="element-variations">
						<{$smarty.const._AM_ELE_CATEGORY_CHOOSEATYPE}><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=select" data-testid="element-select"><{$smarty.const._AM_ELE_CATEGORY_REGULAR_OPTIONS}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=selectLinked" data-testid="element-select-linked"><{$smarty.const._AM_ELE_CATEGORY_LINKED}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=selectUsers" data-testid="element-select-users"><{$smarty.const._AM_ELE_CATEGORY_USERS}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=provinceList" data-testid="element-select-province"><{$smarty.const._AM_ELE_CATEGORY_PROVINCE}></a>
					</p>
				</div>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_RADIOBUTTONS}></h2><h3><{$smarty.const._AM_ELE_ONEOPTION}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=radio"><img class="element-example" src="../images/admin_elements/radio.png"></a>
				<div>
					<p class="element-variations">
						<{$smarty.const._AM_ELE_CATEGORY_CHOOSEATYPE}><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=radio" data-testid="element-radio"><{$smarty.const._AM_ELE_CATEGORY_REGULAR_OPTIONS}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=yn" data-testid="element-radio-yn"><{$smarty.const._AM_ELE_CATEGORY_RADIOBUTTONS_YN}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=provinceRadio" data-testid="element-radio-province"><{$smarty.const._AM_ELE_CATEGORY_PROVINCE}></a>
					</p>
				</div>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_CHECKBOXES}></h2><h3><{$smarty.const._AM_ELE_ONEORMOREOPTIONS}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=checkbox"><img class="element-example" src="../images/admin_elements/checkbox.png"></a>
				<div>
					<p class="element-variations">
						<{$smarty.const._AM_ELE_CATEGORY_CHOOSEATYPE}><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=checkbox" data-testid="element-checkbox"><{$smarty.const._AM_ELE_CATEGORY_REGULAR_OPTIONS}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=checkboxLinked" data-testid="element-checkbox-linked"><{$smarty.const._AM_ELE_CATEGORY_LINKED}></a><br>
					</p>
				</div>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_AUTOCOMPLETE}></h2><h3><{$smarty.const._AM_ELE_ONEORMOREOPTIONS}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=autocomplete"><img class="element-example" src="../images/admin_elements/autocomplete.png"></a>
				<div>
					<p class="element-variations">
						<{$smarty.const._AM_ELE_CATEGORY_CHOOSEATYPE}><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=autocomplete" data-testid="element-autocomplete"><{$smarty.const._AM_ELE_CATEGORY_REGULAR_OPTIONS}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=autocompleteLinked" data-testid="element-autocomplete-linked"><{$smarty.const._AM_ELE_CATEGORY_LINKED}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=autocompleteUsers" data-testid="element-autocomplete-users"><{$smarty.const._AM_ELE_CATEGORY_USERS}></a>
					</p>
				</div>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_LISTBOXES}></h2><h3><{$smarty.const._AM_ELE_ONEORMOREOPTIONS}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=listbox"><img class="element-example" src="../images/admin_elements/listbox.png"></a>
				<div>
					<p class="element-variations">
						<{$smarty.const._AM_ELE_CATEGORY_CHOOSEATYPE}><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=listbox" data-testid="element-listbox"><{$smarty.const._AM_ELE_CATEGORY_REGULAR_OPTIONS}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=listboxLinked" data-testid="element-listbox-linked"><{$smarty.const._AM_ELE_CATEGORY_LINKED}></a><br>
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=listboxUsers" data-testid="element-listbox-users"><{$smarty.const._AM_ELE_CATEGORY_USERS}></a>
					</p>
				</div>
			</div>
		</div>

		<div id="add-selectors" class="element-category-content">
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_DATE}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=date" data-testid="element-date"><img class="element-example" src="../images/admin_elements/date.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_TIME}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=time" data-testid="element-time"><img class="element-example" src="../images/admin_elements/time.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_FILEUPLOAD}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=fileUpload" data-testid="element-fileupload"><img class="element-example" src="../images/admin_elements/fileUpload.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_SLIDER}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=slider" data-testid="element-slider"><img class="element-example" src="../images/admin_elements/slider.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_DURATION}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=duration" data-testid="element-duration"><img class="element-example" src="../images/admin_elements/duration.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_COLORPICK}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=colorpick" data-testid="element-colorpick"><img class="element-example" src="../images/admin_elements/colorpick.png"></a>
			</div>
		</div>

		<div id="add-layout" class="element-category-content">
			<div class="element-title"><h2><{$smarty.const._AM_ELE_MODIF}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=areamodif" data-testid="element-areadmodif"><img class="element-example" src="../images/admin_elements/areamodif.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_MODIF_ONE}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=ib" data-testid="element-ib"><img class="element-example" src="../images/admin_elements/ib.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_TABLE}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=grid" data-testid="element-grid"><img class="element-example" src="../images/admin_elements/grid.png"></a>
			</div>
		</div>

		<div id="add-misc"  class="element-category-content">
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_DERIVED}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=derived" data-testid="element-derived"><img class="element-example" src="../images/admin_elements/derived.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_GOOGLE_ADDRESS}></h2><h3><{$smarty.const._AM_ELE_CATEGORY_GOOGLE_REQUIREMENTS}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=googleAddress" data-testid="element-googleaddress"><img class="element-example" src="../images/admin_elements/googleAddress.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_GOOGLE_FILEPICKER}></h2><h3><{$smarty.const._AM_ELE_CATEGORY_GOOGLE_REQUIREMENTS}></h3></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=googleFilePicker" data-testid="element-googlefilepicker"><img class="element-example" src="../images/admin_elements/googleFilePicker.png"></a>
			</div>

			<{foreach item=customElement from=$content.customElements}>
				<{if $customElement.type|in_array:$content.standardTypes == false}>
					<div class="element-title"><h2><{$customElement.name}></h2></div>
					<div class="element-types">
						<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=<{$customElement.type}>"><{$customElement.name}></a>
					</div>
				<{/if}>
			<{/foreach}>

		</div>

		<div id="add-embed"  class="element-category-content">
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_EMBED_LISTING}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=subformListings" data-testid="element-subformlistings"><img class="element-example" src="../images/admin_elements/subformListings.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_EMBED_ROW}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=subformEditableRow" data-testid="element-subformeditablerow"><img class="element-example" src="../images/admin_elements/subformEditableRow.png"></a>
			</div>
			<div class="element-title"><h2><{$smarty.const._AM_ELE_CATEGORY_EMBED_FULLFORM}></h2></div>
			<div class="element-types">
				<a href="ui.php?page=element&ele_id=new&fid=<{$content.fid}>&aid=<{$content.aid}>&type=subformFullForm" data-testid="element-subformfullform"><img class="element-example" src="../images/admin_elements/subformFullForm.png"></a>
			</div>
		</div>


	</div> <!-- end of tabs container -->
</div> <!-- end of add element dialog div -->

<script type="text/javascript">

// Calculate 85% of the window height
var windowHeight = $(window).height();
var dialogHeight = windowHeight * 0.85; // 85% of window height

function showAddElementOptions() {
	$("#addElementOptions").dialog({
		modal: true,
		width: "825px",
		height: dialogHeight,
		show: 200,
		hide: 200,
		title: "<{$smarty.const._AM_ELE_ADDINGTOFORM}>",
		close: function( event, ui ) {
			$(this).dialog('destroy');
		}
	});
	// Show the dialog
	$("#addElementOptions").dialog('open');
}

$("#element-categories-container").tabs();

function toggleElementCategories(clickedElement) {
	return false;
    const h1 = clickedElement.parentElement;
    const contentDiv = h1.nextElementSibling;
    const container = h1.parentElement;

    // Close all other sections first
    const allH1s = container.querySelectorAll('h1.element-category');
    allH1s.forEach(otherH1 => {
        if (otherH1 !== h1) {
            const otherDiv = otherH1.nextElementSibling;
            if (otherDiv) {
                jQuery(otherDiv).hide(200);
						}
        }
    });

    // Toggle the clicked section
    if (contentDiv.style.display === 'none' || contentDiv.style.display === '') {
        jQuery(contentDiv).show(200);
    } else {
        jQuery(contentDiv).hide(200);
    }

    return false;
}

function cloneLinkSteps(target) {
	$("[name=cloneelement]").val(target);
	$("#cloneElementFormChoice").dialog({
		modal: true,
		height: 100,
		width: 400,
		show: 200,
		hide: 200,
		title: "<{$smarty.const._AM_ELE_CLONE_TO_FORM}>",
		close: function( event, ui ) {
			$("[name=cloneelement]").val(0);
			$(this).dialog('destroy');
		}
	});
	return false;
}

$(".clonelink").click(function () {
	return cloneLinkSteps($(this).attr('target'));
});

function deleteLinkSteps(target, inlink) {
	if(inlink) {
		var message = "<{$smarty.const._AM_ELE_CONFIRM_DELETE_INLINK}>";
	} else {
		var message = "<{$smarty.const._AM_ELE_CONFIRM_DELETE}>";
	}
	var answer = confirm(message);
	if(answer) {
		$("[name=deleteelement]").val(target);
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
}

$(".deleteelementlink").click(function () {
	return deleteLinkSteps($(this).attr('target'), $(this).attr('inlink'));
});

$(".converttotextarea").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERTTEXT_HELP}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".converttotext").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERTTEXTAREA_HELP}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});
$(".converttocheckbox").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERT_RB_CB}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".converttocheckboxfromsb").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERT_SB_CB}> WARNING: existing submissions from users will not be preserved!!");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".converttoradio").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERT_CB_RB}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".savebutton").click(function () {
	$("[name=elementorder]").val($("#accordion-2").sortable('serialize'));
});

$("#accordion-2").bind( "sortupdate", function(event, ui) {
  setDisplay('savewarning','block');
});

$("input[name=principalidentifier]").change(function() {
	setPI($(this).val());
});

function setPI(elementId) {
	$("select[name=forms-pi]").val(elementId);
	$("input[name=principalidentifier]").attr("checked", false);
	$("input[name=principalidentifier][value="+elementId+"]").attr("checked", true);
}

</script>
