<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<div id="element-mgmt-ui">
	<div id="element-mgmt-ui-left">

		<div class="accordion-box-wide">
			<form class="formulize-admin-form">
				<input type="hidden" name="formulize_admin_handler" value="form_elements">
				<input type="hidden" name="formulize_admin_key" value="<{$content.fid}>">
				<input type="hidden" name="cloneelement" value="">
				<input type="hidden" name="clonefid" value="<{$content.fid}>">
				<input type="hidden" name="deleteelement" value="">
				<input type="hidden" name="convertelement" value="">
				<input type="hidden" name="reload_elements" value="">
				<input type="hidden" name="aid" value="<{$content.aid}>">
				<input type="hidden" name="elementorder" value="">
				<h2><{$smarty.const._AM_ELE_MANAGINGELEFORM}></h2>
				<h2><a href="" onclick="showAddElementOptions();return false;"><img src="../images/filenew2.png"> Add an element</a></h2>
				<p><{$smarty.const._AM_ELE_CLICKDRAGANDDROP}></p>
				<div id="sortable-list">
					<{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/form_elements_sections.html" sections=$content.elements closeAccordion=1}>
				</div>
			</form>
			<h2><a href="" onclick="showAddElementOptions();return false;"><img src="../images/filenew2.png"> Add an element</a></h2>
		</div>

	</div> <!-- end of mgmt ui left -->

	<div id="fakeform-container">
		<h2>Preview &mdash; <a href="" onclick="$('#fakeform').toggle(300);return false;">Show/Hide</a></h2>
		<br>
		<iframe style="display: none;" id="fakeform" src="fakeform.php?fid=<{$content.fid}>&aid=<{$content.aid}>"></iframe>
	</div>

</div> <!-- end of mgmt ui -->

<div id="cloneElementFormChoice" style="display:none;">
	<{html_options name="cloneformselect" options=$content.allFormTitles selected=$content.fid}><br>
	<button type="button" style="float: right;" onclick="$('[name=clonefid]').val($('[name=cloneformselect]').val());$('.savebutton').click();$('div#cloneElementFormChoice').dialog('destroy');"><{$smarty.const._AM_ELE_CLONE_TO_FORM_BUTTON}></button>
</div>

<{include file="db:admin/add_element_dialog.html" fid=$content.fid aid=$content.aid customElements=$content.customElements standardTypes=$content.standardTypes}>

<script type="text/javascript">

function toggleElementCategories(clickedElement) {
	return false;
    const h1 = clickedElement.parentElement;
    const contentDiv = h1.nextElementSibling;
    const container = h1.parentElement;

    // Close all other sections first
    const allH1s = container.querySelectorAll('h1.element-category');
    allH1s.forEach(otherH1 => {
        if (otherH1 !== h1) {
            const otherDiv = otherH1.nextElementSibling;
            if (otherDiv) {
                jQuery(otherDiv).hide(200);
						}
        }
    });

    // Toggle the clicked section
    if (contentDiv.style.display === 'none' || contentDiv.style.display === '') {
        jQuery(contentDiv).show(200);
    } else {
        jQuery(contentDiv).hide(200);
    }

    return false;
}

function cloneLinkSteps(target) {
	$("[name=cloneelement]").val(target);
	$("#cloneElementFormChoice").dialog({
		modal: true,
		height: 100,
		width: 400,
		show: 200,
		hide: 200,
		title: "<{$smarty.const._AM_ELE_CLONE_TO_FORM}>",
		close: function( event, ui ) {
			$("[name=cloneelement]").val(0);
			$(this).dialog('destroy');
		}
	});
	return false;
}

$(".clonelink").click(function () {
	return cloneLinkSteps($(this).attr('target'));
});

function deleteLinkSteps(target, inlink) {
	if(inlink) {
		var message = "<{$smarty.const._AM_ELE_CONFIRM_DELETE_INLINK}>";
	} else {
		var message = "<{$smarty.const._AM_ELE_CONFIRM_DELETE}>";
	}
	var answer = confirm(message);
	if(answer) {
		$("[name=deleteelement]").val(target);
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
}

$(".deleteelementlink").click(function () {
	return deleteLinkSteps($(this).attr('target'), $(this).attr('inlink'));
});

$(".converttotextarea").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERTTEXT_HELP}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".converttotext").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERTTEXTAREA_HELP}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});
$(".converttocheckbox").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERT_RB_CB}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".converttocheckboxfromsb").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERT_SB_CB}> WARNING: existing submissions from users will not be preserved!!");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".converttoradio").click(function () {
	var answer = confirm("<{$smarty.const._AM_CONVERT_CB_RB}>");
	if(answer) {
		$("[name=convertelement]").val($(this).attr('target'));
		$("[name=reload_elements]").val(1);
		$(".savebutton").click();
	}
	return false;
});

$(".savebutton").click(function () {
	$("[name=elementorder]").val($("#accordion-2").sortable('serialize'));
});

$("#accordion-2").bind( "sortupdate", function(event, ui) {
  setDisplay('savewarning','block');
});

$("input[name=principalidentifier]").change(function() {
	setPI($(this).val());
});

function setPI(elementId) {
	$("select[name=forms-pi]").val(elementId);
	$("input[name=principalidentifier]").attr("checked", false);
	$("input[name=principalidentifier][value="+elementId+"]").attr("checked", true);
}

</script>
