<div class="panel-content content">


<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
<{php}>print $GLOBALS['xoopsSecurity']->getTokenHTML()<{/php}>
<input type="hidden" name="formulize_admin_handler" value="form_settings">
<input type="hidden" name="formulize_admin_key" value="<{$content.fid}>">
<input type="hidden" name="application_url_id" value="<{$content.aid}>">
<input type="hidden" id="reload_settings" name="reload_settings" value="<{if $content.fid == 'new'}>1<{/if}>">

	<div class="accordion-box">
		<div class="form-item required">
        	<fieldset>
                <legend><label for="forms-title" class="question"><{$smarty.const._AM_SETTINGS_FORM_TITLE_QUESTION}></label></legend>
                <p><{$smarty.const._AM_SETTINGS_FORM_TITLE}><input type="text" id="forms-title" name="forms-title" class="required_formulize_element" value="<{$content.name}>" onkeyup="fillHandle()" /></p>
            
            </fieldset>
		</div>
	</div>

  <div class="accordion-box">
	  <div class="form-item">
     	<fieldset>
        <legend><label for="forms-form_handle" class="question"><{$smarty.const._AM_SETTINGS_FORM_HANDLE}></label></legend>
			  <input type="text" name="forms-form_handle" value="<{$content.form_handle}>" >
              <a class="tooltip"><span><{$smarty.const._AM_SETTINGS_FORM_HANDLE_EXPLAIN}></span></a>
		  </fieldset>
	  </div>
  </div>

	<div class="accordion-box">
		<div class="form-item">
			<fieldset>
				<legend><label class="question">Note</label></legend>
				<textarea id="forms-note" name="forms-note"><{$content.note}></textarea>
			</fieldset>
		</div>
	</div>

	<div class="accordion-box">
		<div class="form-item required">
        	<fieldset>
                <legend><label for="forms-title" class="question"><{$smarty.const._AM_EOG_Repair}>
                </label>
                </legend><input type="button" id="fix_entries" value="Repair Ownership table">
             </fieldset>
		</div>
	</div>
		<{if $content.istableform == true && $content.fid == "new"}>
		<div class="accordion-box">
			<div class="form-item">
				<fieldset>
                    <legend><label for="database_table" class="question"><{$smarty.const._AM_SETTINGS_FORM_DATABASE}></label></legend>
                    <input type="text" id="forms-tableform" name="forms-tableform" value="" />
                    <div class="description">
                        <p><{$smarty.const._AM_SETTINGS_FORM_DATABASE_EXPLAIN}></p>
                    </div>
                </fieldset>
			</div>
		</div>
		<div style="clear: both;"></div>
		<{/if}>
	
		<{if $content.istableform == false}>
		<div class="accordion-box">
			<div class="form-item">
        	<fieldset>
				<legend><label class="question"><{$smarty.const._AM_SETTINGS_FORM_ENTRIES_ALLOWED}></label></legend>
				
				<div class="form-radios">
					<label for="group"><input type="radio" id="group" name="forms-single" value="group" /><{$smarty.const._AM_SETTINGS_FORM_ENTRIES_ONEPERGROUP}></label>
				</div>
				<div class="form-radios">
					<label for="on"><input type="radio" id="user" name="forms-single" value="user" /><{$smarty.const._AM_SETTINGS_FORM_ENTRIES_ONEPERUSER}></label>
				</div>
				<div class="form-radios">
					<label for="empty"><input type="radio" id="off" name="forms-single" value="off" /><{$smarty.const._AM_SETTINGS_FORM_ENTRIES_MORETHANONE}></label>
				</div>
             </fieldset>
		</div>
	</div>
	<div style="clear: both;"></div>
	
		<{if $content.fid == "new"}>
			<div class="accordion-box">
			<div class="form-item">
			<fieldset>
				<legend><label class="question"><{$smarty.const._AM_SETTINGS_FORM_DEFAULT_GROUP_PERM}></label></legend>
				<select name="groups_can_edit[]" multiple size=8>
				<{html_options options=$content.groupsCanEditOptions selected=$content.groupsCanEditDefaults}>
				</select>
			</fieldset>
			</div>
			</div>
			<div style="clear: both;"></div>
		<{/if}>
	
		<{if $content.fid != "new" AND $content.elementheadings|is_array AND $content.elementheadings|@count}>
		<div class="accordion-box">
			<div class="form-item">
				<fieldset>
									<legend><label class="question"><{$smarty.const._AM_SETTINGS_FORM_SHOWING_LIST}></label></legend>
									<select name=headerlist[] size=10 multiple class="form-multiple-select">
											<{foreach from=$content.elementheadings item=element}>
											<option value=<{$element.ele_id}><{$element.selected}>><{$element.text}></option>
											<{/foreach}>
									</select>
							</fieldset>
			</div>
		</div>
		<{/if}>

		<div class="accordion-box">
			<div class="form-item">
				<fieldset>
					<legend><label class="question">Do you want to keep a revision history of all the changes people make to entries in this form?</label></legend>
					<div class="form-radios">
						<label for="store_revisions-0"><input type="radio" id="store_revisions-0" name="forms-store_revisions" value="0" />No</label>
					</div>
					<div class="form-radios">
						<label for="store_revisions-1"><input type="radio" id="store_revisions-1" name="forms-store_revisions" value="1" />Yes, store revision history for this form</label>
					</div>
					<div class="description">
						<p>This can increase the size of your database <b>a lot</b> if you turn on revisions for a form where entries are updated very often!</p>
					</div>
				</fieldset>
			</div>
		</div>
					
        <div class="accordion-box">
			<div class="form-item">
				<fieldset>
					<legend><label class="question">Do you want to send notification e-mails for activity in this form once a day as a digest?</label></legend>
					<div class="form-radios">
						<label for="send_digests-0"><input type="radio" id="send_digests-0" name="forms-send_digests" value="0" />No, send notifications right away</label>
					</div>
					<div class="form-radios">
						<label for="send_digests-1"><input type="radio" id="send_digests-1" name="forms-send_digests" value="1" />Yes</label>
					</div>
					<div class="description">
						<p>This feature requires that you turn on the <a href="<{$xoops_url}>/modules/system/admin.php?fct=preferences&op=showmod&mod=<{$adminPage.formulizeModId}>">Formulize module Preference</a> for sending nofitications via cron job. In addition to creating a cron job for triggering 'notify.php' to process notification events, you will need to set a cron job for triggering 'digest.php' which will actually send the digest e-mails.</p>
					</div>
				</fieldset>
			</div>
		</div>
    
    
	<{/if}>
	
	<{if $content.applications|is_array AND $content.applications|@count > 0}>
	<div class="accordion-box">
		<div class="form-item">
			<fieldset>
                <legend><label class="question"><{$smarty.const._AM_SETTINGS_FORM_APP_PART}></label></legend>
                <select name="apps[]" id="apps" size=10 multiple>
                    <{foreach from=$content.applications item=application}>
                        <option value=<{$application.appid}><{$application.selected}>><{$application.text}></option>
                    <{/foreach}>
                </select>
            </fieldset>
		</div>
	</div>
	<{/if}>
	<div class="accordion-box">
		<div class="form-item">
			<fieldset>
                <legend><label class="question"><{$smarty.const._AM_SETTINGS_FORM_APPNEW}></label></legend>
                <div class="form-radios radio-inline">
                    <label for="yes"><input type="radio" id="new-app-yes" name="new_app_yes_no" value="yes"/><{$smarty.const._AM_YES}></label>
                </div>
                <div class="form-radios radio-inline">
                    <label for="yes"><input type="radio" id="new-app-no" name="new_app_yes_no" value="no" checked/><{$smarty.const._AM_NO}></label>
                </div>
								<br /><br />
								<div class="form-item" id="new-application-box" style="display: none;">
			          <label class="question">What is the name of the new application?</label>
                <input type="text" id="applications-name" name="applications-name" value="" />
							</div>
            </fieldset>
		</div>
	</div> 

</form>
<script type="text/javascript">
  $("#<{$content.singleentry}>").attr('checked', true);
  $("#store_revisions-<{$content.store_revisions}>").attr('checked', true);
  $("#send_digests-<{$content.send_digests}>").attr('checked', true);
	
	$("#forms-title").keydown(function () {
		window.document.getElementById('reload_settings').value = 1;
	});
	
	$('input:radio[name=new_app_yes_no]').change(function(){
		if($('input:radio[name=new_app_yes_no]:checked').val() == 'yes') {
			window.document.getElementById("new-application-box").style.display = 'block';
		} else {
			window.document.getElementById("new-application-box").style.display = 'none';
		}
		});
	
	$(".savebutton").click(function() {
		if($("[name=forms-title]").val() == "") {
			alert("Forms must have a name!");
			$("[name=forms-title]").focus();
		}
		if ($("[name=forms-form_handle]").val() == "") {
			fillHandle();
		}
		
	});
	function fillHandle(){
		//this function will be called when they are typing title to update handle
		if ("<{$content.fid}>" == "new") {
			var str=$("[name=forms-title]").val();
			str=str.toLowerCase().replace(new RegExp("[^a-z0-9]","gm"),"_");
			str=str.replace(new RegExp("_{2,}","gm"),"_").substring(0,20);
			$("[name=forms-form_handle]").val(str);
		}
	}
	$('#fix_entries').click(function(){
		$.ajax({
			type:"POST",
			url:"<{$xoops_url}>/modules/formulize/admin/repair_eog_table.php",
			data:{"form_id":"<{$content.fid}>","form_handle":"<{$content.form_handle}>"},
			success:function(response){
				alert(response);
			}
		});
	});	
</script>
<div style="clear: both"></div>
</div> <!--// end content -->
