<{if $sectionContent.aid == 0}>
<div class="description homepage-description"><p><{$smarty.const._AM_HOME_APP_DESC}></p></div>
<{else}>
<div class="description homepage-description"><p><{if $sectionContent.description}><{$sectionContent.description}><{else}>&nbsp;<{/if}></p></div>
<{/if}>

<p><a href="ui.php?page=form&tab=settings&fid=new&aid=<{$sectionContent.aid}>"><img src="../images/filenew2.png"> <{$smarty.const._AM_HOME_NEWFORM}></a>&nbsp&nbsp&nbsp;&nbsp;&nbsp&nbsp&nbsp;&nbsp;<a href="ui.php?page=form&tab=settings&fid=new&tableform=true&aid=<{$sectionContent.aid}>"><img src="../images/filenew3.gif"> Create a new reference to a datatable</a></p><br>

<{if count((array) $sectionContent.forms) == 0}>
<p>No forms.</p>
<{else}>
<{include file="db:admin/form_listing.html" sectionContent=$sectionContent}>
<{/if}>




