<{if $sectionContent.aid == 0}>
<div class="description homepage-description"><p><{$smarty.const._AM_HOME_APP_DESC}></p></div>
<{else}>
<div class="description homepage-description"><p><{$sectionContent.description}></p></div>
<{/if}>

<span class="formulize-toolbar left-toolbar">
    <a href="<{$xoops_url}>/modules/formulize/admin/ui.php?page=form&aid=<{$sectionContent.aid}>&tab=settings&fid=new"><i class="icon-add"></i> Add a Form</a>&emsp;
</span>
<{if count($sectionContent.forms) == 0}>
<p>No forms.</p>
<{else}>
<h2>Forms</h2>
<ul class="admin-application-form-list">
<{foreach from=$sectionContent.forms item=form}>
    <li><a href="<{$xoops_url}>/modules/formulize/admin/ui.php?page=form&aid=<{$sectionContent.aid}>&fid=<{$form.fid}>&tab=elements"><i class="icon-form"></i>  <{$form.name}> (id: <{$form.fid}>)</a></li>
<{/foreach}>
</ul>
<{/if}>


	

