<{if $sectionContent.aid == 0}>
<div class="description homepage-description"><p><{$smarty.const._AM_HOME_APP_DESC}></p></div>
<{else}>
<div class="description homepage-description"><p><{$sectionContent.description}></p></div>
<{/if}>
<!--Start of form sidebar... -->
<div class="sidebar">
<p>Options</p>
<a class = "sidebar-item" href="<{$xoops_url}>/modules/formulize/admin/ui.php?page=application&amp;aid=0&amp;tab=forms" style="background-color: #eeeeee"><i class="icon-menu"></i>App Settings</a>
<a class = "sidebar-item"  href="<{$xoops_url}>/modules/formulize/admin/ui.php?page=form&amp;aid=0&amp;tab=settings&amp;fid=new"><i class="icon-add"></i>Add a Form</a><i class="icon-settings"></i>


<{if count($sectionContent.forms) == 0}>
<p>No forms.</p>
<{else}>
<!-- fill the sidebar with all the forms -->
    <p>Forms</p>
    <!--
    <form action="">
        <input type="text" placeholder="Search forms.." name="search">
        <button type="submit"><i class="icon-view" style="background: transparent"></i></button>
    </form>
    -->
    <{foreach from=$adminPage.apps[1].content.forms item=form}>
    <div class="sidebar-item">
        <span onclick="openInfoBar()"><a><i class="icon-form"></i><{$form.form->title}></a></span>
    </div>

  <{/foreach}>
    <!-- make one for each from -->
    <div id="sideWithInfo" class="sideBarInfo">
        <a href="javascript:void(0)" class="close" onclick="closeInfoBar()">&times</a>
        <div style="border-bottom: 5px solid">
            <b>
                <h1><{$form.form->title}></h1>
            </b> <!-- Name Block-->
        </div>

        <div style="border-bottom: 3px solid">
            <!--Data Stats>-->
            <p>ID: <{$form.fid}></p>
            <p>Elements: <{$form.form->elementHandles|@count}></p>
            <p>Entries: <{$form.form->entry_count}></p>

            <p>Last Updated: ###</p>
            <p>Owner: ###</p>
        </div>

        <div style="border-bottom: 3px solid">
            <!--Action Menu (it links to stuff)-->
            <a href="#">Configure</a>
            <span style="cursor:pointer" onclick="openViewPopUp()"><a href="#">View</a></span>

            <span style="cursor:pointer" onclick="openClonePopUp()"><a href="#">Clone</a></span>

            <a href="#">Lock Down</a>

            <span style="cursor:pointer" onclick="openDeletePopUp()"><a href="#">Delete</a></span>


            <span style="cursor:pointer" onclick="openScreensPopUp()"><a href="#">Screens</a></span>

        </div>
    </div>
<{/if}>


</div>
<!--hopefully the end of the sidebar... -->


<script type="text/javascript">
    $(".deleteformlink").click(function() {
        answer = confirm("<{$smarty.const._AM_HOME_CONFIRMDELETEFORM}>");
        if (answer) {
            $("[name=deleteform]").val($(this).attr('target'));
            runSaveEvent();
        }
        return false;
    });

    $(".deleteapplink").click(function() {
        answer = confirm("<{$smarty.const._AM_HOME_CONFIRMDELETEAPP}>");
        if (answer) {
            $("[name=deleteapp]").val($(this).attr('target'));
            runSaveEvent();
        }
        return false;
    });

    $(".cloneform").click(function() {
        $("[name=cloneform]").val($(this).attr('target'));
        runSaveEvent();
        return false;
    });

    $(".cloneformdata").click(function() {
        $("[name=cloneformdata]").val($(this).attr('target'));
        runSaveEvent();
        return false;
    });

    $(".lockdown").click(function() {
        answer = confirm("<{$smarty.const._AM_HOME_CONFIRMLOCKDOWN}>");
        if (answer) {
            $("[name=lockdown]").val($(this).attr('target'));
            runSaveEvent();
        }
        return false;
    });

    function closeInfoBar() {
        document.getElementById("sideWithInfo").style.width = "0";
        //			closePops();
    }


    function openInfoBar() {

        document.getElementById("sideWithInfo").style.width = "250px";

    }

    function showForm(formname){
        window.history.pushState('page2', 'Title', '/page2.php');
        return false;
    }
</script>

<style>
    .sidebar {
        left: 0;
        bottom: 0;
        top: 200px;
        overflow-y: scroll;
        overflow-x: auto;
        width: 200px;
        background-color: #fdfdfd;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 10px;
        position: fixed;
        padding-bottom: 75px;
        text-decoration: none;
        color: dimgrey;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
    }

    .sidebar-item {
        display: block;
        padding: 8px;
        margin-left: 4px;
        text-decoration: none;
        color: dimgrey;
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
    }

    .sidebar-item: hover {
        display: block;
        padding: 8px;
        margin-left: 4px;
        text-decoration: none;
    }

    .sidebar a,
    .sidebar-item a {
        font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        color: dimgrey;
    }

    .sidebar-item i {
        padding-right: 8px;
    }

    .sidebar p {
        padding: 10px;
        padding-left: 2px;
    }

    a.sidebar-item:hover,
    div.sidebar-item:hover {
        border-radius: 5px;
        background-color: #efefef;
        color: #3391c7;
        /*default highlight*/
    }

    .actionIcon {
        color: dimgrey;
        position: relative;
        display: none;
        vertical-align: middle;
        float: right;
        list-style: none;
    }

    div.sidebar-item:hover .actionIcon{
        display:inline-block;
        cursor:pointer;
    }

    .actionIcon:hover {
        color: #3391c7;
        /*default highlight*/
    }

    .panel-content {
        margin-left: 230px;
    }

    /*SAMS*/
    .sideBarIcons {
        height: 100%;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        padding-top: 60px;
        font-family: Arial;
        overflow: auto;
        border-right: 2px solid black;
    }

    .sideBarIcons a {
        padding: 10px 10px 10px 20px;
        font-size: 24px;
        color: rgba(242, 251, 248, 0.99);
        display: block;
        transition: 0.3s;
    }

    .sideBarIcons a:hover {
        color: lightgreen;
    }

    .sideBarInfo {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        font-family: Arial;
        overflow: auto;
        border-left: 2px solid black;
    }

    .sideBarInfo a {
        padding: 10px 10px 10px 20px;
        font-size: 24px;
        color: lightskyblue;
        display: block;
        transition: 0.3s;
    }

    .sideBarInfo p {
        padding: 10px 10px 10px 20px;
        font-size: 24px;
        color: lightskyblue;
        display: block;
        transition: 0.3s;
    }

    .sideBarInfo a:hover {
        color: lightgreen;
    }

    .sideBarInfo .close {
        position: absolute;
        top: 0;
        left: 10px;
        margin-right: 20px;
        color: black;
    }

    .imgToText {
        position: relative;
        width: 100%;
        z-index: -1;
    }

    .initBase {
        position: absolute;
        top: 0;
        left: 16px;
        width: 100%;
    }

    .popup {
        display: none;
        z-index: 10000;
        background-color: white;
        width: 25%;
        height: 25%;
        margin: 15% auto;
    }

    .popBox {
        background-color: white;
        padding: 15px;
        border: 2px solid black;
    }

    .popBox .close {
        float: right;
        font-weight: bold;
    }

    #page-overlay {
        background: rgba(0, 0, 0, 0.35);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
    }
</style>
	

