<{if $sectionContent.aid == 0}>
<div class="description homepage-description"><p><{$smarty.const._AM_HOME_APP_DESC}></p></div>
<{else}>
<div class="description homepage-description"><p><{$sectionContent.description}></p></div>
<{/if}>

<{if count($sectionContent.forms) == 0}>
<p>No forms.</p>
<{else}>
<h2>Forms</h2>
<table>
  <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Elements</th>
      <th>Entries</th>
      <th>Data-entry Screen</th>
      <th>List Screen</th>
  </tr>
  <{foreach from=$sectionContent.forms item=form}>
  <tr>
      <td style="text-align:right;padding-right:1em;"><{$form.fid}></td>
      <td><a href="<{$xoops_url}>/modules/formulize/admin/ui.php?page=form&aid=<{$sectionContent.aid}>&fid=<{$form.fid}>&tab=elements"><i class="icon-form"></i> <{$form.form->title}></a></td>
      <td style="text-align:right;padding-right:1em;"><{$form.form->elementHandles|@count}></td>
      <td style="text-align:right;padding-right:1em;"><{$form.form->entry_count}></td>
      <td><{if $form.form->defaultform > 0}><a href="<{$xoops_url}>/modules/formulize/index.php?sid=<{$form.form->default_form_screen->sid}>" target="_blank"><i class="icon-screen"></i> <{$form.form->default_form_screen->title}></a><{/if}></td>
      <td><{if $form.form->defaultlist > 0}><a href="<{$xoops_url}>/modules/formulize/index.php?sid=<{$form.form->default_list_screen->sid}>" target="_blank"><i class="icon-screen"></i> <{$form.form->default_list_screen->title}></a><{/if}></td>
  </tr>
  <{/foreach}>
</table>
<{/if}>


	

