<div class="panel-content content">

    <{if $adminPage.mailStatus}>
    <h2>Mail Status:</h2>
    <{$adminPage.mailStatus}>
    <{/if}>

    <h2>Email Users</h2>

    <form method='post' enctype='multipart/form-data'>
    
    <p><b>Send To:</b></p>
    <select name='groups[]' size=<{$adminPage.groupListSize}> multiple>
        <{html_options values=$adminPage.groupIds output=$adminPage.groupNames}>
    </select>
    
    <p><label for='all'><input type='radio' checked id='all' name='include' value='all'> <b>Include all users from each selected group</b></label><br />
    <label for='overlap'><input type='radio' id='overlap' name='include' value='overlap'> <b>Include only users who are members of all the selected groups</b></label></p>
    
    <p><b>Subject:</b></p>
    <input type='text' name='subject'>
        
    <p><b>Body:</b></p>
    <textarea name='body' rows=10></textarea>
    
    <p><b>Attachment:</b> (optional)</p>
    <input type='file' name='attachment'>
    
    <p><input type='submit' name='submit' value='Send'></p>
    
    </form>
    
    </div>