<{assign var=prevOne value=''}>
<{foreach from=$sectionContent.links key=linkNumber item=link}>
  <{if $prevOne && $prevOne != $link.form1}>
    </div>
  <{/if}>
  <{if $prevOne != $link.form1}>
    <div class="relationship-links"><{$link.each}> <em><{$link.form1}></em>...
    <{assign var=prevOne value=$link.form1}>
  <{/if}>
  <br>&nbsp;&nbsp;&nbsp;<{$link.has}> <em><{$link.form2}></em> <a href='' target='<{$link.linkId}>' class="relationship-link-options">Details</a>
<{/foreach}>
<{if $prevOne}>
  </div>
<{/if}>
