<input type="hidden" name="form1" value="<{$content.form1Id}>">
<{if $content.creatingFromSubformOptions}>
	<div id="create-connection-title-options"><span class="title">Each <{$content.formSingular}></span>
		<div>
			Has Many
		</div>
		<span class="title"><{$content.form2Plural}></span>
	</div>
<{else}>
	<div id="create-connection-title-options"><span class="title">Connect '<{$content.formPlural}>' with which other form?&nbsp;&nbsp;</span>
		<select name='form2' id='2names'>
			<{html_options options=$content.manyFormNames}>
		</select>
	</div>
<{/if}>

<br>
<hr>

<script type="text/javascript">

	<{if $content.creatingFromSubformOptions}>
	form1Id = <{$content.form1Id}>;
	form2Id = <{$content.form2Id}>;
	<{/if}>

</script>
