<div>
	<form name="relationship-options-popupform">
		<input type="hidden" name="formulize_admin_handler" value="relationship_options">
		<input type="hidden" name="formulize_admin_key" value="<{$content.linkId}>">
		<div id="relationship-options-popupsavebutton"><input type="button" class="relationship-options-savebuttonpopup" id="relationship-options-savebuttonpopup" value="Save your changes"/></div>
		<div id="relationship-options-popupsavewarning">You have unsaved changes!</div>
		<div style="clear: both"></div>
		<p class='title'><{$content.title}></p>
		<p>Connected by:</p>
		<{if $content.element1Text AND $content.element2Text }>
		<ul class='connections admin-ui'><li><{if $content.element1Id > 0}><a href='/modules/formulize/admin/ui.php?page=element&aid=<{$content.firstApp1}>&ele_id=<{$content.element1Id}>'><{/if}><{$content.element1Text}><{if $content.element1Id > 0}></a><{/if}></li><li><{if $content.element2Id > 0}><a href='/modules/formulize/admin/ui.php?page=element&aid=<{$content.firstApp2}>&ele_id=<{$content.element2Id}>'><{/if}><{$content.element2Text}><{if $content.element2Id > 0}></a><{/if}></li></ul>
		<{else}>
		<{$smarty.const._AM_FRAME_UIDLINK}>;
		<{/if}>
		<input type='hidden' name='lid' value='<{$content.linkId}>'>
		<{include file="db:admin/relationship_connection_options.html" content=$content}>
	</form>
</div>

<script type="text/javascript">

	// If saveLock is turned on, do not display save button to user, instead display "READ ONLY"
	$( document ).ready(function() {
		<{if $content.isSaveLocked}>
			document.getElementById('relationship-options-savebuttonpopup').style.visibility = 'hidden';
			document.getElementById('relationship-options-popupsavebutton').innerHTML = "READ ONLY";
		<{/if}>
	});

  $("input").change(function() {
    window.document.getElementById('relationship-options-popupsavewarning').style.display = 'block';
    });
  $("input[type=text]").keydown(function() {
    window.document.getElementById('relationship-options-popupsavewarning').style.display = 'block';
    });
  $("select").change(function() {
    window.document.getElementById('relationship-options-popupsavewarning').style.display = 'block';
    });
  $("textarea").keydown(function() {
    window.document.getElementById('relationship-options-popupsavewarning').style.display = 'block';
    });

	$(".relationship-options-savebuttonpopup").click(function() {
		var pagedata = window.document.getElementsByName("relationship-options-popupform");
		$('#dialog-relationship-options').fadeTo(1, 0.25, function() {
			$.post("save.php?popupsave=1", $(pagedata).serialize(), function(data) {
				if(data) {
					if(data.substr(0,10)=="/* eval */") {
						eval(data);
					} else {
						alert(data);
					}
				}
				window.document.getElementById('relationship-options-popupsavewarning').style.display = 'none';
				$('#dialog-relationship-options').fadeTo(1, 1);
			});
		});
    $(".relationship-options-savebuttonpopup").blur();
  });

</script>
