<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-admin-form" class="formulize-admin-form">
<{$securitytoken}>
<input type="hidden" name="formulize_admin_handler" value="screen_settings">
<input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">
<input type="hidden" name="formulize_admin_fid" value="<{$content.fid}>">
<input type="hidden" name="aid" value="<{$content.aid}>">
<input type="hidden" id="delete_passcode" name="delete_passcode" value="">
<input type="hidden" id="make_new_passcode" name="make_new_passcode" value="">
<input type="hidden" id="add_existing_passcode" name="add_existing_passcode" value="">



<div class="panel-content content">
  <fieldset>
    <legend><{$smarty.const._AM_SCREEN_SETTINGS_LEGEND}> <em><{$content.title}></em></legend>

	  <div class="form-item">
		  <label for="screens-title"><{$smarty.const._AM_SCREEN_SETTINGS_NAME}></label>
		  <input type="text" id="screens-title" name="screens-title" value="<{$content.title}>" onkeyup="fillHandle()"/>
    </div>
    <br>
    <div class="form-item">
      <label for="screens-screen_handle"><{$smarty.const._AM_SCREEN_SETTINGS_HANDLE}></label>
			<input type="text" id="screens-screen_handle" name="screens-screen_handle" value="<{$content.screen_handle}>"/>
			<div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_HANDLE_DESC}></div>
	  </div>
    <br>
	  <div class="form-item">
		  <label for="screens-type"><{$smarty.const._AM_SCREEN_SETTINGS_KIND}></label>

	    <select id="screens-type" size="1" name="screens-type"<{if $content.sid neq 'new'}> disabled<{/if}>>
		    <option value="listOfEntries"<{if $content.type eq 'listOfEntries'}> selected="selected"<{/if}>><{$smarty.const._AM_SCREEN_SETTINGS_KIND_LIST}></option>
		    <option value="multiPage"<{if $content.type eq 'multiPage'}> selected="selected"<{/if}>><{$smarty.const._AM_SCREEN_SETTINGS_KIND_FORM}></option>
          <option value="template"<{if $content.type eq 'template'}> selected="selected"<{/if}>><{$smarty.const._AM_SCREEN_SETTINGS_KIND_TEMPLATE}></option>
          <option value="calendar"<{if $content.type eq 'calendar'}> selected="selected"<{/if}>><{$smarty.const._AM_SCREEN_SETTINGS_KIND_CALENDAR}></option>
          <option value="map"<{if $content.type eq 'map'}> selected="selected"<{/if}>><{$smarty.const._AM_SCREEN_SETTINGS_KIND_MAP}></option>
	    </select>
			<{if $content.sid neq 'new'}>
				<input type="hidden" name="screens-type" value="<{$content.type}>">
			<{/if}>
	  </div>
  </fieldset>

	<fieldset>
		<legend><{$smarty.const._AM_SCREEN_SETTINGS_URLS_LEGEND}></legend>
		<p><{$smarty.const._AM_SCREEN_SETTINGS_URL_DEFAULT}> <a href="<{$xoops_url}>/modules/formulize/index.php?sid=<{$content.sid}>" target="_blank"><{$xoops_url}>/modules/formulize/index.php?sid=<{$content.sid}></a></p>
		<{if $content.alternateURLsOn eq 1}><p><{$smarty.const._AM_SCREEN_SETTINGS_URL_ALTERNATE}> <{$xoops_url}>/<input type='text' name='screens-rewriteruleAddress' value='<{$content.rewriteruleAddress}>'</p>
        <p><{$smarty.const._AM_SCREEN_SETTINGS_URL_ALTERNATE_ELEMENT}> <{html_options name='screens-rewriteruleElement' options=$content.rewriteruleElements selected=$content.rewriteruleElement}></p>
        <{/if}>
	</fieldset>

	<{* Embedding in another website sits with the other ways of reaching this screen, and ahead of
	   the PHP include below it, because that is what people come here for now: including a screen
	   in another page on this same server is a much older idea and a much rarer one. The code to
	   paste only appears once the site allows embedding at all - until then there is nothing that
	   would work anywhere. *}>
	<fieldset>
		<legend><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_LEGEND}></legend>

	  <div class="form-item">
	    <{if not $content.embeddingAllowed}>
	      <div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_OFF}></div>
	    <{else}>
	    <{if $content.embedCode}>
	    <{* Two versions of the code, because this page only knows the address it is being viewed at.
	       That address works for anonymous visitors. Signed-in visitors need an embedding address on the
	       host website's own domain, which the administrator has to fill in. *}>
	    <label><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_CODE}></label>
	    <div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_CODE_DESC}></div>
	    <br />
	    <label for="screens-embedCode"><{$content.embedCodeAnonLabel}></label>
	    <textarea id="screens-embedCode" rows="4" cols="60" readonly onclick="this.select();"><{$content.embedCode}></textarea>
	    <div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_CODE_ANON_DESC}></div>
	    <br />
	    <label for="screens-embedCodeAlias"><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_CODE_ALIAS}></label>
	    <textarea id="screens-embedCodeAlias" rows="4" cols="60" readonly onclick="this.select();"><{$content.embedCodeForEmbeddingAddress}></textarea>
	    <div class="description"><{$content.embedCodeAliasDesc}></div>
	    <br />
	    <{/if}>
	    <label for="screens-embedOrigins"><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_ORIGINS}></label>
	    <textarea name="screens-embedOrigins" id="screens-embedOrigins" rows="4" cols="60" maxlength="1000" placeholder="www.example.com"><{$content.embedOrigins}></textarea>
	    <{$content.embedOriginsWarning}>
	    <div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_EMBED_ORIGINS_DESC}></div>
	    <{$content.embedSessionNotice}>
	    <{/if}>
	  </div>
	</fieldset>

	<fieldset>
		<legend><{$smarty.const._AM_SCREEN_SETTINGS_PHP_LEGEND}></legend>
		<p><{$smarty.const._AM_SCREEN_SETTINGS_PHP_DESC}><br /><{$smarty.const._AM_SCREEN_SETTINGS_PHP_DESC2}></p>
		<blockquote class="code">include_once "<{$smarty.const.XOOPS_ROOT_PATH}>/mainfile.php";<br/>
$formulize_screen_id = <{$content.sid}>;<br/>
include "<{$smarty.const.XOOPS_ROOT_PATH}>/modules/formulize/index.php";</blockquote>
	</fieldset>

  <fieldset>
	  <legend><{$smarty.const._AM_SCREEN_SETTINGS_TOKEN_LEGEND}></legend>

	  <div class="form-item">
	    <label for="screens-useToken-yes"><input type="radio" id="screens-useToken-yes" name="screens-useToken" value="1"<{if $content.useToken eq 1}> checked<{/if}>/><{$smarty.const._YES}></label>
	    <label for="screens-useToken-no"><input type="radio" id="screens-useToken-no" name="screens-useToken" value="0"<{if $content.useToken eq 0}> checked<{/if}>/><{$smarty.const._NO}></label>
	    <div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_TOKEN_DESC}></div>
	  </div>
  </fieldset>

  <fieldset>
	  <legend><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_LEGEND}></legend>

	  <div class="form-item">
        <label for="screens-anonNeedsPasscode-0"><input type="radio" id="screens-anonNeedsPasscode-0" name="screens-anonNeedsPasscode" value="0"<{if $content.anonNeedsPasscode eq 0}> checked<{/if}>/><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_NO}></label><br />
	    <label for="screens-anonNeedsPasscode-1"><input type="radio" id="screens-anonNeedsPasscode-1" name="screens-anonNeedsPasscode" value="1"<{if $content.anonNeedsPasscode eq 1}> checked<{/if}>/><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_YES}></label>
	    <div class="description"><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_DESC}></div>
        <br />
        <fieldset id='codelist' <{if $content.anonNeedsPasscode eq 0}>style='display: none;'<{/if}>>
        <legend><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_VALIDCODES}></legend>
        <table id='validcodes'>
        <{foreach from=$content.passcodes item=passcode}>
            <tr><td><{$passcode.passcode}></td><td>&mdash;</td>
                <td><{$passcode.notes}></td><td>&mdash;</td>
                <td><input type="radio" name="passcode_status_<{$passcode.id}>" value=1><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_ACTIVE}><br />
                <input type="radio" name="passcode_status_<{$passcode.id}>" value=0><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_EXPIRED}></td><td>&mdash;</td>
                <td><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_AUTOEXPIRE}> <input type="text" value="<{$passcode.expiry}>" name="passcode_expiry_<{$passcode.id}>" size=10 class="passcode_expiry" /></td><td>&mdash;</td>
                <td><a href='' class='delete_passcode' passcodeId='<{$passcode.id}>'><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_DELETE}></a></td></tr>
        <{/foreach}>
        </table>
        <p><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_ADDEXISTING}> <select name="existing_passcode" size=1>
            <{foreach from=$content.existingPasscodes item=pc}>
                <option value=<{$pc.id}>><{$pc.passcode}> &mdash; <{$pc.notes}></option>
            <{/foreach}>
        </select> <input type="button" name="add_existing_passcode_button" id="add_existing_passcode_button" value="<{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_ADD}>" /></p>
        <p><{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_ADDNEW}> <input type="text" name="new_passcode" size=25 value="<{$content.newPasscode}>" /> <input type="text" name="new_notes" size=40 value="" placeholder="<{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_NOTE}>" /> <input type="button" name="make_new_passcode_button" id="make_new_passcode_button" value="<{$smarty.const._AM_SCREEN_SETTINGS_PASSCODE_ADD}>" /></p>
        </fieldset>
	  </div>
  </fieldset>



  <!--<fieldset>
	  <legend>Sample PHP Code</legend>

	  <div class="form-item">
		  <textarea name="code"/></textarea>
		  <input type="submit" class="copybutton" name="copy-code" value="Copy code"/>
		  <div class="description">Copy this sample PHP code somewhere.</div>
	  </div>
  </fieldset>-->
</div>

</form>

<script>
    $('.delete_passcode').click(function() {
       $('#delete_passcode').val($(this).attr('passcodeId'));
       $(".savebutton").click();
       return false;
    });
    $('#add_existing_passcode_button').click(function() {
        $('#add_existing_passcode').val(1);
        $(".savebutton").click();
    });
    $('#make_new_passcode_button').click(function() {
        $('#make_new_passcode').val(1);
        $(".savebutton").click();
    });
    $('input[name="screens-anonNeedsPasscode"]').click(function() {
       if($(this).val() == 1 && $('#codelist').css('display') == 'none') {
            $('#codelist').show();
       } else if($(this).val() == 0 && $('#codelist').css('display') != 'none') {
            $('#codelist').hide();
       }
    });
		function fillHandle(){
			//this function will be called when they are typing title to update handle
			if ("<{$content.sid}>" == "new") {
				var str=$("[name=screens-title]").val();
				str=str.toLowerCase().replace(new RegExp("[^a-z0-9]","gm"),"_");
				str=str.replace(new RegExp("_{2,}","gm"),"_").substring(0,40);
				$("[name=screens-screen_handle]").val(str);
			}
		}

</script>

<style>
    #validcodes {
        border: none;
        width: auto;
        margin-left: 2em;
    }
    #validcodes td {
        vertical-align: middle;
    }
</style>
