
<p>	<a name="delpage" href="" target="<{$sectionContent.index}>">
	<img src="../images/editdelete.gif"> Delete this page</a>
</p>
<p>	<a name="editpage" href="" target="<{$sectionContent.index}>">
	<img src="../images/kedit.png"> Edit this page</a>
</p>
<p>Form Elements on this page:</p>
<div class="accordion-box-wide">
	<h2><{$smarty.const._AM_ELE_MANAGINGELEFORM}></h2>
	<p><{$smarty.const._AM_ELE_CLICKDRAGANDDROP}></p>
		<div id="sortable-list">
			<{include 	file="db:admin/ui-sub-accordion.html" 
						sectionTemplate="db:admin/form_elements_sections.html"
						subid = $sectionContent.number
						sections=$sectionContent.elements}>
		</div>
</div>