<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
<{$securitytoken}>
<input type="hidden" name="formulize_admin_handler" value="screen_graph_options">
<input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">


<div class="panel-content content">
	<fieldset>
		<legend>Dimension</legend>
		<div class="form-item">
			<label for="screens-width">Width</label>
			<input type="text" id="screens-width" name="screens-width" value="<{$content.width}>"/>
		</div>
		<div class="form-item">
			<label for="screens-height">Height</label>
			<input type="text" id="screens-height" name="screens-height" value="<{$content.height}>"/>
		</div>
	</fieldset>
	<fieldset>
		<legend>Orientation</legend>
		<div class="form-item">
			<label for="screens-orientation">Orientation</label>
			<select id="screens-orientation" size="1" name="screens-orientation">
				<option value="horizontal"<{if $content.orientation eq 'horizontal'}> selected="selected"<{/if}>>Bar expands upwards</option>
				<option value="vertical"<{if $content.orientation eq 'vertical'}> selected="selected"<{/if}>>Bar expands sideways</option>
				<option value="pie"<{if $content.orientation eq 'pie'}> selected="selected"<{/if}>>Pie Chart</option>
			</select>
		</div>
	</fieldset>
	<fieldset>
		<legend>Background Color</legend>
		<div class="form-item">
			<input id="bgc">
		</div>
		<input type="text" id="screens-bgr" name="screens-bgr" value="<{$content.bgr}>" hidden=true/>
		<input type="text" id="screens-bgg" name="screens-bgg" value="<{$content.bgg}>" hidden=true/>
		<input type="text" id="screens-bgb" name="screens-bgb" value="<{$content.bgb}>" hidden=true/>
	</fieldset>
	<fieldset>
		<legend>Bar Color</legend>
		<div class="form-item">
			<input id="barc">
		</div>
		<input type="text" id="screens-barr" name="screens-barr" value="<{$content.barr}>" hidden=true/>
		<input type="text" id="screens-barg" name="screens-barg" value="<{$content.barg}>" hidden=true/>
		<input type="text" id="screens-barb" name="screens-barb" value="<{$content.barb}>" hidden=true/>
	</fieldset>
</div>

</form>

<script type="text/javascript">
	var bgcp = new jscolor.color(document.getElementById('bgc'), {});
	bgcp.fromRGB(document.getElementById('screens-bgr').value / 255.0, document.getElementById('screens-bgg').value / 255.0, document.getElementById('screens-bgb').value / 255.0);
	var barcp = new jscolor.color(document.getElementById('barc'), {});
	barcp.fromRGB(document.getElementById('screens-barr').value / 255.0, document.getElementById('screens-barg').value / 255.0, document.getElementById('screens-barb').value / 255.0);
	
	bgcp.onImmediateChange = function() {
		document.getElementById('screens-bgr').value = Math.round(bgcp.rgb[0] * 255);
		document.getElementById('screens-bgg').value = Math.round(bgcp.rgb[1] * 255);
		document.getElementById('screens-bgb').value = Math.round(bgcp.rgb[2] * 255);
	}
	
	barcp.onImmediateChange = function() {
		document.getElementById('screens-barr').value = Math.round(barcp.rgb[0] * 255);
		document.getElementById('screens-barg').value = Math.round(barcp.rgb[1] * 255);
		document.getElementById('screens-barb').value = Math.round(barcp.rgb[2] * 255);
	}
	
	$("#<{$content.reloadblank}>").attr('checked', true);
</script>