<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
<{$securitytoken}>
<input type="hidden" name="formulize_admin_handler" value="screen_calendar_data">
<input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">
<input type="hidden" name="formulize_admin_op" value="">
<input type="hidden" name="formulize_admin_index" value="">
<input type="hidden" name="reload_calendar_data" value="">

    <p><a name="adddata" href=""><img src="../images/filenew2.png"> Add new dataset</a></p>
    <h2>Manage the datasets in this screen:</h2>
    
<div>
<{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/screen_calendar_data_sections.html" sections=$content.data}>
</div>


</form>


<script type='text/javascript'>

  $("[name=adddata]").click(function () {
    $("[name=formulize_admin_op]").val('adddata');
    $(".savebutton").click();
    return false;
  });
  
	
	$("[name=deldata]").click(function () {
			var answer = confirm('Are you sure you want to remove this dataset?');
			if (answer)	{
		    $("[name=formulize_admin_op]").val('deldata');
		    $("[name=formulize_admin_index]").val($(this).attr('target'));
		    $(".savebutton").click();
			}
		  return false;
	});

    
</script>
