<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we are inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
    <{$securitytoken}>
    <input type="hidden" name="formulize_admin_handler" value="screen_template_templates">
    <input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">

    <div class="panel-content content">
        <p><{$smarty.const._AM_FORMULIZE_SCREEN_TEMPLATE_DESC_TEMPLATE}></p><br />
        <div class="form-item">
            <fieldset>
                <legend>Template</legend>
                <textarea id="screens-template"  name="screens-template" class="code-textarea" rows="20"/>
<{$content.template}></textarea>
            </fieldset>
        </div>
        <div class='description'><{$smarty.const._AM_FORMULIZE_SCREEN_TEMPLATE_HELP}></div>
        <br />

        <p><{$smarty.const._AM_FORMULIZE_SCREEN_TEMPLATE_DESC_CUSTOM_CODE}></p><br />
        <div class="form-item">
            <fieldset>
            <legend>Custom code</legend>
                <textarea id="screens-custom_code" name="screens-custom_code" class="code-textarea" rows="20"/>
<{$content.custom_code}></textarea>
            </fieldset>
        </div>

    </div>
</form>
<script>
jQuery(document).ready(function() {
    jQuery(".savebutton").click(function() {
        fz_check_php_code(jQuery("#screens-custom_code").val(), "Template Code", "<{$icms_url}>", <{$icms_userid}>);
    });
});
</script>
