<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
<{$securitytoken}>
<input type="hidden" name="formulize_admin_handler" value="screen_list_templates">
<input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">
<input type ="hidden" name="screens-toptemplate-prototype" value="<{$content.prototype_toptemplate|escape}>"></textarea>
<input type ="hidden" name="screens-listtemplate-prototype" value="<{$content.prototype_listtemplate|escape}>"></textarea>


<div class="panel-content content">
	
	<p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE}></p>
	<p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE2}></p>
	<p>See the <a href="#templatedocs">bottom of this page for documentation</a> about how to include buttons and other interface elements in your templates.</p>
	
	</form>
	
	  <div class="form-item">
		  <fieldset>
		  <legend>Top Template</legend>
		  	<input type="button" class="importDefaultTopTemplate"  name="importDefaultTopTemplate" value="Import Default Top Template">

			  <textarea name="screens-toptemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.toptemplate}></textarea>
		  </fieldset>
	  </div>

	  <div class="form-item">
		  <fieldset>
		  <legend>List Template</legend>
		  	<input type="button" class="importDefaultListTemplate"  name="importDefaultListTemplate" value="Import Default List Template">

			  <textarea name="screens-listtemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.listtemplate}></textarea>
				  <a name="elementhandles"></a>
					<table>
					<tr><th>Form element</th><th>handle</th></tr>
					<{foreach from=$content.listtemplatehelp item=row}>
						<{$row}>
					<{/foreach}>
					</table>
		  </fieldset>
	  </div>

	  <div class="form-item">
		  <fieldset>
		  <legend>Bottom Template</legend>
			  <textarea name="screens-bottomtemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.bottomtemplate}></textarea>
		  </fieldset>
	  </div>
	
		<a name="templatedocs"></a>
		<fieldset>
			<legend>Template Documentation</legend>
			<{$smarty.const._AM_FORMULIZE_SCREEN_LOE_TEMPLATEINTRO2}>
		</fieldset>
	
</div>

</form>

<script type='text/javascript'>


  $(".importDefaultTopTemplate").click(function () {
	var textarea = document.getElementsByName("screens-toptemplate")[0];
	var prototypeValue = document.getElementsByName("screens-toptemplate-prototype")[0].value;
	$(textarea).siblings('.CodeMirror').each(function(i, el){
	el.CodeMirror.setValue("<?php \n" + prototypeValue);
});
  });
  
    $(".importDefaultListTemplate").click(function () {
	var textarea = document.getElementsByName("screens-listtemplate")[0];
	var prototypeValue = document.getElementsByName("screens-listtemplate-prototype")[0].value;
	$(textarea).siblings('.CodeMirror').each(function(i, el){
	el.CodeMirror.setValue("<?php \n" + prototypeValue);
});
  });

</script>
