<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
<{$securitytoken}>
<input type="hidden" name="formulize_admin_handler" value="screen_list_entries">
<input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">


<div class="panel-content content">
  
  <fieldset>
    <legend><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DISPLAY_ONLY_COLUMNS}></legend>
    <p><input type="button" class="formButton" name="addColumn" value="<{$smarty.const._AM_FORMULIZE_SCREEN_LOE_CUSTOMBUTTON_ADVANCE_VIEW_ADD_COLUMN}>"></p>
    <br/>
    <table class="advanceview" style="border:none">
      <tr>
	<td><label><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_ADVANCE_VIEW_COLUMNS}></label></td>
	<td><label><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_ADVANCE_VIEW_SEARCH_BY}></label></td>
	<td><label><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_ADVANCE_VIEW_SORT_BY}></label></td>
	<td></td>
      </tr>
	<{if $content.advanceview|@count > 0}>
	  <{foreach from=$content.advanceview key=index item=value}>
	    <tr class="advanceviewcol" name="<{$index}>">
	      <td>
		<select id="cols-<{$index}>" name="col-value[<{$index}>]" size="1">
		  <{html_options options=$content.advanceviewoptions selected=$value.column}>
		</select>
	      </td>
	      <td>
		<input type="text" name="search-value[<{$index}>]" value="<{$value.text}>"></input>
	      </td>
	      <td>
		<{if $value.sort == 1}>
		  <input type="radio" name="sort-by" value=<{$index}> checked></input>
		<{else}>
		  <input type="radio" name="sort-by" value=<{$index}>></input>
		<{/if}>
	      </td>
	      <td class='removeImage'>
		<img class="removeCol" style="cursor: pointer;" onclick="removeColumn(<{$index}>)" src="../images/editdelete.gif"></img>
	      </td>
	    </tr>
	  <{/foreach}>
	  <input type="hidden" id="numberOfRows" name="rows" value=<{$content.advanceview|@count}>></input>
	<{else}>
	    <tr class="advanceviewcol" name="0">
	      <td>
		<select id="cols-0" name="col-value[0]" size="1">
		  <{html_options options=$content.advanceviewoptions}>
		</select>
	      </td>
	      <td>
		<input type="text" name="search-value[0]"></input>
	      </td>
	      <td>
		<input type="radio" name="sort-by" value=0></input>
	      </td>
	      <td></td>
	    </tr>
	    <input type="hidden" id="numberOfRows" name="rows" value=<{$content.advanceview|@count}>></input>
	<{/if}>
    </table>
    <div class="description"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_ADVANCE_VIEW_DESCRIPTION}></div>
    
  </fieldset>
  <fieldset>
    <legend><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_VIEW_DATA_TO_DISPLAY_HEADER}></legend>	
	<div class="form-item float-left half-width">
	  
	  <label for="screens-defaultview"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DEFAULTVIEW}></label>

	  <p><input type="button" name="add_view" class="formButton" value="<{$smarty.const._AM_ELE_ADD_OPT_SUBMIT}> Default View"</p><br /><br />

	  <div class="view-list">
		<{foreach from=$content.defaultview key=groupid item=viewid name=viewlist}>
          <{if $smarty.foreach.viewlist.first}><{else}><br><br><{/if}>
		  <select id="view_group_<{$smarty.foreach.viewlist.iteration}>" class='default_view_group' name="defaultview_group[]">
			<{html_options options=$content.grouplist selected=$groupid}>
		  </select>
		  <select id="view_view_<{$smarty.foreach.viewlist.iteration}>" class='default_view_list' name="defaultview_view[]">
			<{html_options options=$content.viewoptions selected=$viewid}>
		  </select>
		<{/foreach}>
	  </div>

	  <div class="description"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_DEFAULTVIEW}></div>
	</div>     
	<div class="save-view-access">
	<p><a href="<{$xoops_url}>/modules/formulize/master.php?fid=<{$content.fid}>&frid=<{$content.frid}>" target="_blank"><img src="../images/kedit.png"> <{$smarty.const._AM_FORMULIZE_SCREEN_LOE_EDIT_VIEW}></a></p>
	<p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_EDIT_VIEW_DETAILS}></p>
	</div>
	
	<div class="form-item clear-both">
	  <label for="screens-usecurrentviewlist"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_CURRENTVIEWLIST}></label>
	  <input type="text" id="screens-usecurrentviewlist" name="screens-usecurrentviewlist" value="<{$content.usecurrentviewlist}>" size="20" maxlength="255"/>
	  <div class="description"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_LEAVEBLANK_LIST}></div>
	</div>
	<div class="form-item">
	  <label for="screens-limitviews"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_LIMITVIEWS}></label>
	  <select id="screens-limitviews[]" name="screens-limitviews[]" size="8" multiple>
		<{html_options options=$content.limitviewoptions selected=$content.limitviews}>
	  </select>
	  <div class="description"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_LIMITVIEWS}></div>
	</div>
    
    
    
    <div class="form-item">
      <label for="screens-useworkingmsg"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_USEWORKING}></label>
			<div class="form-radios">
			  <label for="1"><input type="radio" id="screens-useworkingmsg" name="screens-useworkingmsg"<{if $content.useworkingmsg eq 1}> checked="checked"<{/if}> value="1"/><{$smarty.const._YES}></label>
		  </div>
		  <div class="form-radios">
			  <label for="0"><input type="radio" id="screens-useworkingmsg" name="screens-useworkingmsg"<{if $content.useworkingmsg eq 0}> checked="checked"<{/if}> value="0"/><{$smarty.const._NO}></label>
		  </div>
      <div class="description"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_USEWORKING}></div>
    </div>
    <div class="form-item">
      <label for="screens-usescrollbox"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_USESCROLLBOX}></label>
						<div class="form-radios">
			  <label for="1"><input type="radio" id="screens-usescrollbox" name="screens-usescrollbox"<{if $content.usescrollbox eq 1}> checked="checked"<{/if}> value="1"/><{$smarty.const._YES}></label>
		  </div>
		  <div class="form-radios">
			  <label for="0"><input type="radio" id="screens-usescrollbox" name="screens-usescrollbox"<{if $content.usescrollbox eq 0}> checked="checked"<{/if}> value="0"/><{$smarty.const._NO}></label>
		  </div>
      <div class="description"></div>
    </div>
    <div class="form-item">
      <label for="screens-entriesperpage"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_ENTRIESPERPAGE}></label>
      <input type="text" id="screens-entriesperpage" name="screens-entriesperpage" value="<{$content.entriesperpage}>" size="4" maxlength="4"/>
      <div class="description"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_ENTRIESPERPAGE}></div>
    </div>
	<div class="form-item">
      <label for="screens-viewentryscreen"><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_VIEWENTRYSCREEN}></label>
	    <select id="screens-viewentryscreen" name="screens-viewentryscreen" size="1">
        <{html_options options=$content.viewentryscreenoptions selected=$content.viewentryscreen}>
	    </select>
      <div class="description"></div>
    </div>
  </fieldset>
</div>

</form>

<script type="text/javascript">
  
  setInterval(function () {
    $.ajax({
      type:"POST",
      url:"<{$xoops_url}>/modules/formulize/formulize_xhr_responder.php?op=get_views_for_form&uid=<{$content.uid}>",
      data:{"form_id":"<{$content.fid}>"},
      dataType: "json",
      success:function(response){
	$.each(response, function( index, value ) {
            $(".default_view_list").each(function() {
                if ($(this).find("option[value='"+value[0]+"']").length == 0) {
                    $(this).append($('<option>', { label : value[1], value : value[0] }).text(value[1]));
	  }
	});
        });
      }
    });
  }, 8000);
  
  $("[name=add_view]").click(function(){
    oldNumber = $(".default_view_group").length;
    newNumber = parseInt(oldNumber)+1;
    group = $("#view_group_"+oldNumber);
    view = $("#view_view_"+oldNumber);
    appendContentsGroup ='<select id="view_group_'+newNumber+'" class="default_view_group" name="defaultview_group[]">' + group.html().replace('selected="selected"', '') + '</select>';
    appendContentsView = '<select id="view_view_'+newNumber+'" class="default_view_list" name="defaultview_view[]">' + view.html().replace('selected="selected"', '') +'</select>';

    $('div.view-list').append('<br /><br />');
    $('div.view-list').append(appendContentsGroup);
    $('div.view-list').append('&nbsp;');
    $('div.view-list').append(appendContentsView);
    $("[name=add_view]").blur();
    setDisplay('savewarning','block');
    });
  
  
  
  function getFormColumns(number) {
    <{foreach from=$content.advanceviewoptions key=index item=value}>
	  $("#cols-"+number).append($('<option>', { 
	    value: "<{$index}>" }).text("<{$value}>"));
    <{/foreach}>
  }
  
  function addAdvanceViewRow(number) {
    appendContents1 = '<td><select id="cols-'+number+'" name="col-value['+number+']"></select></td>';
    appendContents2 = '<td><input type="text" name="search-value['+number+']"></input></td>';
    appendContents3 = '<td><input type="radio" name="sort-by" value='+number+'></input></td>';
    $(".advanceview:last").append('<tr class="advanceviewcol" name="'+number+'"></tr>');
    $(".advanceviewcol:last").append(appendContents1);
    $(".advanceviewcol:last").append(appendContents2);
    $(".advanceviewcol:last").append(appendContents3);
    $(".advanceviewcol:last").append("<td class='removeImage'></td>");
  }
  
  $("[name=addColumn]").click(function (){
    number = $(".advanceviewcol:last").attr('name');
    number = parseInt(number) + 1;
    addAdvanceViewRow(number);
    
    //Append the remove column
    appendContents4 = '<img class="removeCol" style="cursor: pointer;" onclick="removeColumn('+number+')" src="../images/editdelete.gif"></img>';
    $(".removeImage:last").append(appendContents4);
    
    //Populate the columns
    getFormColumns(number);
    
    //Update the number of rows
    rows = $("#numberOfRows").val();
    rows = parseInt(rows) + 1;
    $("#numberOfRows").val(rows);
    
    //$("#numberOfRows").text($("#numberOfRows").val() + 1);
    $("[name=addColumn]").blur();
    setDisplay('savewarning','block');
  });
  
  function removeColumn(id){
    firstNumber = $(".advanceviewcol:first").attr('name');
    lastNumber = $(".advanceviewcol:last").attr('name');
    if(firstNumber == lastNumber) {
      //Remove the row with past values but add another row with the default values
      $("tr").remove("[name="+id+"]");
      addAdvanceViewRow(id);
      getFormColumns(id);
      $("#numberOfRows").html(1);
    }
    else {
      $("tr").remove("[name="+id+"]");
      
      //Update the number of rows
      rows = $("#numberOfRows").val();
      rows = parseInt(rows) - 1;
      $("#numberOfRows").val(rows);
    }
    
    setDisplay('savewarning','block');
  }
  
</script>
