<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
    <{$securitytoken}>
    <input type="hidden" name="formulize_admin_handler" value="screen_list_templates">
    <input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">

    <div class="panel-content content">
        <p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE}></p>
        <p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE2}></p>
        <p>See the <a href="#templatedocs">bottom of this page for documentation</a> about how to include buttons and other interface elements in your templates.</p>
        <div class="form-item">
            <fieldset>
                <legend>Top Template</legend>
                <textarea id="screens-toptemplate"  name="screens-toptemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.toptemplate}></textarea>
            </fieldset>
        </div>

        <div class="form-item">
            <fieldset>
                <legend>List Template</legend>
                <textarea id="screens-listtemplate" name="screens-listtemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.listtemplate}></textarea>
                <a name="elementhandles"></a>
                <table>
                    <tr><th>Form element</th><th>handle</th></tr>
                    <{foreach from=$content.listtemplatehelp item=row}>
                        <{$row}>
                    <{/foreach}>
                </table>
            </fieldset>
        </div>

        <div class="form-item">
            <fieldset>
            <legend>Bottom Template</legend>
                <textarea id="screens-bottomtemplate" name="screens-bottomtemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.bottomtemplate}></textarea>
            </fieldset>
        </div>

        <a name="templatedocs"></a>
        <fieldset>
            <legend>Template Documentation</legend>
            <{$smarty.const._AM_FORMULIZE_SCREEN_LOE_TEMPLATEINTRO2}>
        </fieldset>
    </div>
</form>
<script>
jQuery(document).ready(function() {
    jQuery(".savebutton").click(function() {
        check_php_code("#screens-toptemplate", "Top template");
        check_php_code("#screens-listtemplate", "List template");
        check_php_code("#screens-bottomtemplate", "Bottom template");
    });
    function check_php_code(template_id, template_name) {
        jQuery.ajax({
            type: "POST",
            url: "<{$icms_url}>/modules/formulize/formulize_xhr_responder.php?uid=<{$icms_userid}>&op=validate_php_code",
            data: {the_code: escape(jQuery(template_id).val())},
            success: function(result) {
                if (result.length > 0) {
                    alert("The "+template_name+" has an error:\n\n"+result+".");
                }
            },
            async: false
        });
    }
});
</script>
