<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we are inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
    <{$securitytoken}>
    <input type="hidden" name="formulize_admin_handler" value="screen_form_templates">
    <input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">

    <div class="panel-content content">
        <p><b>Showing templates for use with this theme:</b> <{html_options name=screens-theme options=$content.themes selected=$content.selectedTheme}></p>
        <p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE3}></p><br />
        
        <{if !$content.usingTemplates}>
            <p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_SEEDTEMPLATES1}><{$content.seedtemplates}><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_SEEDTEMPLATES2}></p><br /><p><input type="button" value="<{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_SEEDTEMPLATES3}>" id="seedtemplates"></p><br />        
        <{/if}>
        
        <{if $content.usingTemplates}>
        
            <{include file="db:admin/screen_form_template_boxes.html"}>
        
        <{/if}>

    </div>
</form>
<script>
jQuery(document).ready(function() {
    jQuery(".savebutton").click(function() {
        fz_check_php_code(jQuery("#bottomtemplate").val(), "Bottom Template", "<{$icms_url}>", <{$icms_userid}>);
        fz_check_php_code(jQuery("#toptemplate").val(), "Top Template", "<{$icms_url}>", <{$icms_userid}>);
        fz_check_php_code(jQuery("#elementtemplate1").val(), "Element Template (one column)", "<{$icms_url}>", <{$icms_userid}>);
        fz_check_php_code(jQuery("#elementtemplate2").val(), "Element Template (two columns)", "<{$icms_url}>", <{$icms_userid}>);
    });
});
</script>
