<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
    <{$securitytoken}>
    <input type="hidden" name="formulize_admin_handler" value="screen_list_templates">
    <input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">
<input type ="hidden" name="screens-toptemplate-prototype" value="<{$content.prototype_toptemplate|escape}>"></textarea>
<input type ="hidden" name="screens-tabletemplate-prototype" value="<{$content.prototype_tabletemplate|escape}>"></textarea>
<input type ="hidden" name="screens-listtemplate-prototype" value="<{$content.prototype_listtemplate|escape}>"></textarea>

    <div class="panel-content content">
        <p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE}></p>
        <p><{$smarty.const._AM_FORMULIZE_SCREEN_LOE_DESC_TOPTEMPLATE2}></p>
        <p><a class="formulize-open-close-link" open-text="View template documentation" close-text="Hide template documentation" linked-block-id="#formulize-template-documentation">View template documentation</a> about how to include buttons and other interface elements.</p><br />
        <div id="formulize-template-documentation" style="display:none;">
            <fieldset>
                <legend>Template Documentation</legend>
                <{$smarty.const._AM_FORMULIZE_SCREEN_LOE_TEMPLATEINTRO2}>
            </fieldset>
            <br />
        </div>

        <div class="form-item">
            <fieldset>
                <legend>Top Template</legend>
                <textarea id="screens-toptemplate"  name="screens-toptemplate" class="code-textarea" rows="20"/>
<{$content.toptemplate}></textarea>
            </fieldset>
        </div>

        <div class="form-item">
            <fieldset>
		  <legend>Table Template</legend>
		  	<input type="button" class="importDefaultTableTemplate"  name="importDefaultTableTemplate" value="Import Default Table Template">

			  <textarea name="screens-tabletemplate" class="code-textarea" rows="20"/>&lt;?php
<{$content.tabletemplate}></textarea>
				  <a name="elementhandles"></a>
					<table>
					<tr><th>Form element</th><th>handle</th></tr>
					<!--<{foreach from=$content.tableetemplatehelp item=row}>
						<{$row}>
					<{/foreach}>-->
					</table>
		  </fieldset>
	  </div>

	  <div class="form-item">
		  <fieldset>
                <legend>List Template</legend>
                <textarea id="screens-listtemplate" name="screens-listtemplate" class="code-textarea" rows="20"/>
<{$content.listtemplate}></textarea>
                <br />
                <a name="elementhandles"></a>
                <p><a class="formulize-open-close-link" open-text="View Available Variables" close-text="Hide Available Variables" linked-block-id="#formulize-open-close-section">View Available Variables</a></p>
                <div id="formulize-open-close-section" style="display:none;">
                    <br />
                    <table>
                        <tr><th>Form element</th><th>handle</th></tr>
                        <{foreach from=$content.listtemplatehelp item=row}>
                            <{$row}>
                        <{/foreach}>
                    </table>
                </div>
            </fieldset>
        </div>

        <div class="form-item">
            <fieldset>
            <legend>Bottom Template</legend>
                <textarea id="screens-bottomtemplate" name="screens-bottomtemplate" class="code-textarea" rows="20"/>
<{$content.bottomtemplate}></textarea>
            </fieldset>
        </div>

    </div>
</form>
<script>
jQuery(document).ready(function() {
    jQuery(".savebutton").click(function() {
        check_php_code("#screens-toptemplate", "Top template");
        check_php_code("#screens-listtemplate", "List template");
        check_php_code("#screens-bottomtemplate", "Bottom template");
    });
    function check_php_code(template_id, template_name) {
        jQuery.ajax({
            type: "POST",
            url: "<{$icms_url}>/modules/formulize/formulize_xhr_responder.php?uid=<{$icms_userid}>&op=validate_php_code",
            data: {the_code: jQuery(template_id).val()},
            success: function(result) {
                if (result.length > 0) {
                    alert("The "+template_name+" has an error:\n\n"+result+".");
                }
            },
            async: false
        });
    }
});
</script>
