<div class="form-item">
            <fieldset>
                <legend>Top Template</legend>
                <textarea id="toptemplate"  name="toptemplate" class="code-textarea" rows="20"/>
<{$content.toptemplate}></textarea>
            </fieldset>
        </div>
        <div class='description'>The top template is rendered before the elements in the form. If you need to contain the form elements inside a table, or div, this is where you would open that tag. You might also want to include custom navigation, instructions, etc, above the form. Use the variable $formTitle for the title of the form.</div>
        <br />

        <div class="form-item">
            <fieldset>
            <legend>Element Container Template (opening)</legend>
                <textarea id="elementcontainero" name="elementcontainero" class="code-textarea" rows="5"/>
<{$content.elementcontainero}></textarea>
            </fieldset>
        </div>
        <div class='description'>All form elements are contained inside other markup with a consistent id. Use the variable $elementContainerId for the id, ie: "&lt;div id='$elementContainerId' ..."<br>This id is used by the conditional element logic to show and hide elements. Conditional elements won't work unless you use this id.<br>You can use a table row, a div, even a series of divs or whatever you want. You just have to make sure the HTML works seamlessly between the top, container, element, and bottom templates, and the $elementContainerId is used on the parent item in the DOM that contains the form elements.</div>
        <br />
        
        <div class="form-item">
            <fieldset>
            <legend>Element Template (two columns)</legend>
                <textarea id="elementtemplate2" name="elementtemplate2" class="code-textarea" rows="20"/>
<{$content.elementtemplate2}></textarea>
            </fieldset>
        </div>
        <div class='description'>The element template is used to render each element in the form.<br>The two column version is used when the two column option is selected on the Options tab, and is intended for situations where you want captions on the left and form elements on the right.<br><br>You can use the following variables in the element templates:<ul>
        <li>$elementName - the markup name that is used to uniquely identify the element</li>
        <li>$elementCaption - the caption for the element</li>
        <li>$elementHelpText - any help text for the element</li>
        <li>$elementIsRequired - a flag to indicate if the user must provide a response to the element. The enforcement of required elements is done automatically, but you may wish to highlight them differently than others when displaying on screen</li>
        <li>$renderedElement - use this variable to drop in the actual HTML for the element itself, ie: the textbox, the radio buttons, etc</li>
        <li>$elementObject - the Formulize element object, containing all the configuration settings of the element</li>
        <li>$column1Width - the CSS width setting for the first (and possibly only) column. Note it does <b>not</b> have a ; on the end.</li>
        <li>$column2Width - the CSS width setting for the second column, if relevant. Note it does <b>not</b> have a ; on the end.</li>
        <li>$spacerNeeded - a flag indicating if there should be some kind of spacer added to the end of the element display, to maintain the appropriate widths. For example, if the form is rendered in a 100% width table, and the two columns are handled as table cells, then a third, empty table cell, with 'auto' width could use up the rest of the space on screen so that the specified widths of the first two columns are respected.</li>
        <li>$colSpan - a special value that will be passed in for use in the "Element Template (one column)" and should be included in any table cell if you are using one, so that it will span across two columns when appropriate, ie: for the "Text for display spanning both columns" element type.</li></ul></div>
        <br />

        <div class="form-item">
            <fieldset>
            <legend>Element Template (one column)</legend>
                <textarea id="elementtemplate1" name="elementtemplate1" class="code-textarea" rows="20"/>
<{$content.elementtemplate1}></textarea>
            </fieldset>
        </div>
        <div class='description'>The element template is used to render each element in the form.<br>The one column version is used when the one column option is selected on the Options tab, and is intended for situations where you want captions and the form elements in a single column vertically. This is usually a good layout for mobile devices.</div>
        <br />
        
        <div class="form-item">
            <fieldset>
            <legend>Element Container Template (closing)</legend>
                <textarea id="elementcontainerc" name="elementcontainerc" class="code-textarea" rows="5"/>
<{$content.elementcontainerc}></textarea>
            </fieldset>
        </div>
        <div class='description'>The element container (closing) ends the element container started above.<br>If you opened a table row above and show each element in a table cell, you would need to use a &lt;/tr> here, for example.</div>
        
        <!--
            displayType not actually used yet. Might be relevant in more complex themes? The js for displaying conditional elements simply sets the display property in css to null, and the browser figures out what is appropriate, but that's sort of a hack and might not work in all cases.
            <div class="form-item">
            <fieldset>
                <legend>Element Container Display Type</legend>
                <{html_options name="screens-displayType" options=$content.displayOptions selected=$content.displayType}>
            </fieldset>
        </div>
        <div class='description'>When conditional elements are shown, the CSS display setting is set to this value.</div>-->
        <br />
        
        <div class="form-item">
            <fieldset>
                <legend>Bottom Template</legend>
                <textarea id="bottomtemplate"  name="bottomtemplate" class="code-textarea" rows="20"/>
<{$content.bottomtemplate}></textarea>
            </fieldset>
        </div>
        <div class='description'>The bottom template is rendered after the elements in the form. You can use it to close any tags you opened in the top template. You can also add other navigation or information below the form.</div>
        <br />