<{* form elements must be named with their object name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a property of an object to update *}>
<{* securitytoken should be part of the form *}>
<{* formulize_admin_handler and formulize_admin_key are required, to tell what the name of the save handling file is, and what the key is that we're inserting/updating on *}>

<form id="form-<{$number}>" class="formulize-admin-form">
    <{$securitytoken}>
    <input type="hidden" name="formulize_admin_handler" value="screen_form_templates">
    <input type="hidden" name="formulize_admin_key" value="<{$content.sid}>">

    <div class="panel-content content">

        <p>
            You can type PHP code into any or all of the three template boxes below. 
            Code in the <i>top template</i> box will replace the default user interface above the form. 
            Code in the <i>elements template</i> box will replace the default way that each form element is displayed.  
            Code in the <i>bottom template</i> box will be rendered below the form.
        </p>
        <p>See the <a href="#templatedocs">bottom of this page for documentation</a> about how to include buttons and other interface elements in your templates.</p>

        <div class="form-item">
            <fieldset>
                <legend>Top Template</legend>
                <textarea name="screens-formTopTemplate" class="code-textarea" rows="20"/><{$content.formTopTemplate}></textarea>
            </fieldset>
        </div>
        <div class="form-item">
            <fieldset>
                <legend>Elements Template</legend>
                <textarea name="screens-formElementsTemplate" class="code-textarea" rows="20"/><{$content.formElementsTemplate}></textarea>
            </fieldset>
        </div>
        <div class="form-item">
            <fieldset>
                <legend>Bottom Template</legend>
                <textarea name="screens-formBottomTemplate" class="code-textarea" rows="20"/><{$content.formBottomTemplate}></textarea>
            </fieldset>
        </div>

        <a name="templatedocs"></a>
        <fieldset>
            <legend>Template Documentation</legend>

            <div style="font-weight: normal">

                <h3>Top and Bottom Templates</h3>

                <p>
                    If you specify any PHP code in the Top or Bottom Templates, it will be used to control the appearance of the space either above or below the form.
                </p>
                <p>
                    To include buttons and controls, use these variables:
                </p>

                <table>
                    <tr>
                        <th>Variable Name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>$title</td>
                        <td>Text containing the form's title.</td>
                    </tr>
                    <tr>
                        <td>$formMetaData</td>
                        <td>Text describing which user created the form entry and the date and time at which it was created. Also describes which user last modified the entry and the date and time at which it was last modified. This variable will be empty if the current entry is new.</td>
                    </tr>
                    <tr>
                        <td>$formInstructions</td>
                        <td>Text with general instructions about the form.</td>
                    </tr>
                    <tr>
                        <td>$saveInstructions</td>
                        <td>Text describing how to save the form.</td>
                    </tr>
                    <tr>
                        <td>$doneInstructions</td>
                        <td>Text describing what to do when you are done.</td>
                    </tr>
                    <tr>
                        <td>$printBtn</td>
                        <td>A button</td>
                    </tr>
                    <tr>
                        <td>$saveBtn</td>
                        <td>A button to validate and save the form.</td>
                    </tr>
                    <tr>
                        <td>$allDoneBtn</td>
                        <td>A done button.</td>
                    </tr>
                </table>

                <h3>Elements Template</h3>
                <p>
                    You do not need to create a foreach loop or any other loop structure in this template.
                    The PHP code you specify will be executed inside a loop that runs once for each form element.
                </p>
                <table>
                    <tr>
                        <th>Variable Name</th>
                        <th>Description</th>
                    </tr>
                    <tr>
                        <td>$elementCaption</td>
                        <td>Text containing the element's caption.</td>
                    </tr>
                    <tr>
                        <td>$elementDescription</td>
                        <td>Text containing the element's description or help text.</td>
                    </tr>
                    <tr>
                        <td>$elementField</td>
                        <td>Section of code containing the element field(s).</td>
                    </tr>
                    <tr>
                        <td>$elementIsRequired</td>
                        <td>A boolean that is set to true if this element is required or false otherwise.</td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>

</form>