<div>

    <{if count($sectionContent.inserts) > 0}>
    <fieldset>
        <legend>Inserts (<{$sectionContent.inserts|@count}>)</legend>
        <ul>
            <{foreach from=$sectionContent.inserts item=rec}>
            <li><{$rec}></li>
            <{/foreach}>
        </ul>
    </fieldset>
    <{/if}>

    <{if count($sectionContent.updates) > 0}>
    <fieldset>
        <legend>Updates (<{$sectionContent.updates|@count}>)</legend>
        <ul>
            <{foreach from=$sectionContent.updates item=rec}>
            <li><{$rec}></li>
            <{/foreach}>
        </ul>
    </fieldset>
    <{/if}>

    <{if count($sectionContent.deletes) > 0}>
    <fieldset>
        <legend>Deletions (<{$sectionContent.deletes|@count}>)</legend>
        <ul>
            <{foreach from=$sectionContent.deletes item=rec}>
            <li><{$rec}></li>
            <{/foreach}>
        </ul>
    </fieldset>
    <{/if}>

</div>
