<div class="panel panel-content">

    <h2><{$name}></h2>

    <div class="ui-widget ui-widget-content ui-corner-all" style="padding:10px">

        <{if !$content.catalog_error}>
        <div>
            <{if !$content.result}>
            <p>Review the synchronize import details before commiting the changes.</p>

            <h4>Table Changes:</h4>
            <{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/sync_import_sections.html" sections=$adminPage.syncimport.content.elements}>

            <p align="center">
            <form name="syncimport" action="POST">
                <label for="syncimportbtn">Import the above changes to the system: </label>
                <input type="button" id="syncimportbtn" name="syncimport" value="Synchronize Import"/>
            </form>
            </p>
            <{/if}>

            <{if $content.result}>
            <div style="padding:15px;">
                <{if $content.result.error}>
                <span style="color: red;">{$content.result.error}</span>
                <{/if}>

                <{if $content.result.success}>
                <span style="color:green;">Successfully completed</span>
                <{/if}>
            </div>
            <{/if}>
        </div>
        <{/if}>


        <{if $content.catalog_error}>
        <div>
            <p>Error: There is no current synchronization import data on the server.</p>
            <br>
            <a href="ui.php?page=synchronize">Return to Synchronize</a>
        </div>
        <{/if}>

    </div>

</div>