<div>

    <{if $sectionContent.createTable}>
    <span style="color:green;">New table!</span>
    <{/if}>

    <{if count((array) $sectionContent.inserts) > 0}>
    <fieldset>
        <legend>Inserts (<{if $sectionContent.inserts|is_array}><{$sectionContent.inserts|@count}><{/if}>)</legend>
        <ul>
            <{foreach from=$sectionContent.inserts item=rec}>
            <li><{$rec}></li>
            <{/foreach}>
        </ul>
    </fieldset>
    <{/if}>

    <{if count((array) $sectionContent.updates) > 0}>
    <fieldset>
        <legend>Updates (<{if $sectionContent.updates|is_array}><{$sectionContent.updates|@count}><{/if}>)</legend>
        <ul>
            <{foreach from=$sectionContent.updates item=rec}>
            <li><{$rec}></li>
            <{/foreach}>
        </ul>
    </fieldset>
    <{/if}>

    <{if count((array) $sectionContent.deletes) > 0}>
    <fieldset>
        <legend>Deletions (<{if $sectionContent.deletes|is_array}><{$sectionContent.deletes|@count}><{/if}>)</legend>
        <ul>
            <{foreach from=$sectionContent.deletes item=rec}>
            <li><{$rec}></li>
            <{/foreach}>
        </ul>
    </fieldset>
    <{/if}>

</div>
