<{if $sectionContent.type == "import"}>
    <h3>Select Archive to Synchronize with Current System</h3>
    <form name="import" method="POST" enctype="multipart/form-data">
        <p>Import settings from another system. You will see a list of changes for approval before synchronizing.<br/>
        Please select the zip folder to be imported:</p>
        <p><input type="file" name="fileToUpload" id="fileToUpload"></p>
        <p><input type="radio" name="groupsMatch" value=1 id="gm1" checked=checked><label for="gm1"> The groups in this system should match the other system exactly</label> <br>
        <input type="radio" name="groupsMatch" id="gm2" value=2><label for="gm2"> The groups in this system are different, or partially different, from the other system</label></p>
        <p><input type="submit" name="import" value="Synchronize!"></p>
    </form>
    <div style="padding:5px;">
        <{if $sectionContent.error == "import_err"}>
        <span style="color: red;"> an error occurred while importing </span>
        <{/if}>
        <{if $sectionContent.error == "upload_err"}>
        <span style="color: red;"> an error occurred while uploading </span>
        <{/if}>
        <{if $sectionContent.error == "file_err"}>
        <span style="color: red;"> an error occurred while getting the file name </span>
        <{/if}>
    </div>
<{/if}>

<{if $sectionContent.type == "export"}>
    <h3>Export Current System</h3>
    <form name="export" method="POST">
        <p>Select the user data you would like to include in the export<br/>
            <{html_checkboxes name='forms' options=$sectionContent.checkboxes separator='<br />'}>
        </p>

        <p>Enter a name for the zip folder: <br/>
        <input type ="text" name ="filename" value ="">
        <input type ="Submit" name ="export" value ="Export!">
        </p>
    </form>
    <{if $sectionContent.error == 1}>
        <span style="color: red; ">an error occurred while exporting</span>
    <{/if}>
    <br/>
<{/if}>