<div class="panel-content content">

    <h2>Synchronize With Another System</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet dui nec elit pharetra volutpat. Curabitur
        dapibus venenatis ante ac volutpat. Nulla imperdiet laoreet est, eget tincidunt ex dictum vel. Ut tincidunt
        sit amet enim id eleifend. Nam tincidunt erat eget interdum iaculis. Cras et ultrices velit. Etiam ut sodales
        diam, quis auctor sapien. Nullam sit amet vestibulum ipsum.</p>

    <p align="center">
        <{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/synchronize_sections.html" sections=$adminPage.sync}>
    </p>

</div>