
<script type="text/javascript">

	pagehasaccordion["accordion-<{$number}>"] = true;

	$(function() {
		var stop = false;
		$("#accordion-<{$number}> h3").click(function(event) {
			if (stop) {
				event.stopImmediatePropagation();
				event.preventDefault();
				stop = false;
			}
		});
		$("#accordion-<{$number}>").accordion({
			autoHeight: false, // no fixed height for sections
			collapsible: true, // sections can be collapsed 
			active: <{$accordion_active}>,
			header: "> div > h3"
		}).sortable({
			axis: "y",
			handle: "h3",
			stop: function(event, ui) {
				stop = true;
			}
		});
		$("#accordion-<{$number}>").accordion("activate" , 0);
	});

</script>

<div id="accordion-<{$number}>">
	<{foreach from=$sections key=sectionNumber item=section}>
	<div id="drawer-<{$number}>-<{$sectionNumber}>">
        <h3><a href="#"><span class="accordion-name"><{$section.name}></span></a></h3>
		<div class="accordion-content content">

			<{if $section.header}>
			<div style="position: absolute; top: 10px; right: 10px;">
				<{$section.header}>
				<!-- call to create the sidebars... -->
			</div>
			<{/if}>
			<{include file=$sectionTemplate sectionContent=$section.content}>

			<{if $sidebars == true}>
			<{include file="db:admin/home_sections2_sidebars.html"}>
			<{/if}>

		</div>
	</div>
	<{/foreach}>
</div><!-- end accordion -->
