env:
  global:
  - secure: f1Dkf/AObhtZJf/OtM/NREIZRzVeuw/QXQkV82WrbszKdpLrm1RwfwTAgcUa+JDiE931LJ41W86JWUia3PbS3pLVSL9gSwfBPk+PU6VM7AeYIVuje1V1tXpZoGlf+0RcfGHZA3JzeNSo65QjKl5iUxrT31wnpQpQ9rdG/bXQrUg=
  - secure: Xjc2qZs42LLIk4lRMc/JdFxeN5pmXUTLFd/stohOTX3g1rmRInXXqYpnXW/S15FjShqgtQAvvmnU/SV9QNpfaMhQVgS1ORVTS10gvy3aLPodW5hB9AGCDiQHXD0r9p+73LfNzenvdtmDme9Pp8PdLwb+spSroRbXgJ3tqHpXntM=
  phpenv:
  - version-name: "5.5.10"

language: php

php:
  - 5.5

install:
  - sudo apt-get install apache2 libapache2-mod-fastcgi
  # enable php-fpm
  - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
  - sudo a2enmod rewrite actions fastcgi alias
  - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
  # configure apache virtual hosts
  - sudo cp -f ci/travis/travis-ci-apache /etc/apache2/sites-available/default
  - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
  # set 777 on necessary directories
  - sudo chmod 777 cache
  - sudo chmod 777 templates_c
  - sudo chmod 777 uploads
  - sudo chmod 777 install
  - sudo chmod 777 mainfile.php
  - sudo chmod 777 cache
  - sudo chmod 777 modules/formulize/cache
  - sudo chmod 777 modules/formulize/temp
  - sudo chmod 777 modules/formulize/upload
  - sudo chmod 777 modules/formulize/templates/screens/default
  - sudo chmod 777 modules/formulize/export
  # add to .ini and restart
  - phpenv config-add ci/travis/php.ini
  - sudo service apache2 restart
  
addons:
  sauce_connect: true
  
before_script:
  - npm install -g se-interpreter

script:
  - se-interpreter ci/travis/interpreter_config.json

after_script:
  - cat /home/travis/build/jegelstaff/formulize/modules/formulize/temp/php_error_log
