/*
  Icon Font: formulize-icons
*/
@font-face {
  font-family: "formulize-icons";
  src: url("./formulize-icons/formulize-icons.eot");
  src: url("./formulize-icons/formulize-icons.eot?#iefix") format("embedded-opentype"), url("./formulize-icons/formulize-icons.woff") format("woff"), url("./formulize-icons/formulize-icons.ttf") format("truetype"), url("./formulize-icons/formulize-icons.svg#formulize-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-application:before,
.icon-arrow-backward:before,
.icon-arrow-forward:before,
.icon-calculator:before,
.icon-check-all:before,
.icon-check-mark:before,
.icon-check-none:before,
.icon-config:before,
.icon-connection:before,
.icon-copy:before,
.icon-delete:before,
.icon-download:before,
.icon-edit:before,
.icon-form-mini:before,
.icon-form:before,
.icon-help:before,
.icon-home:before,
.icon-lock-unlocked:before,
.icon-lock:before,
.icon-magnifier:before,
.icon-menu:before,
.icon-permission:before,
.icon-piechart:before,
.icon-print:before,
.icon-relationship:before,
.icon-screen-form:before,
.icon-screen-list:before,
.icon-screen:before,
.icon-table:before,
.icon-trash:before,
.icon-view:before {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }

.icon-add:before {
  content: "\f100"; }

.icon-application:before {
  content: "\f101"; }

.icon-arrow-backward:before {
  content: "\f102"; }

.icon-arrow-forward:before {
  content: "\f103"; }

.icon-calculator:before {
  content: "\f104"; }

.icon-check-all:before {
  content: "\f105"; }

.icon-check-mark:before {
  content: "\f106"; }

.icon-check-none:before {
  content: "\f107"; }

.icon-config:before {
  content: "\f108"; }

.icon-connection:before {
  content: "\f109"; }

.icon-copy:before {
  content: "\f10a"; }

.icon-delete:before {
  content: "\f10b"; }

.icon-download:before {
  content: "\f10c"; }

.icon-edit:before {
  content: "\f10d"; }

.icon-form-mini:before {
  content: "\f10e"; }

.icon-form:before {
  content: "\f10f"; }

.icon-help:before {
  content: "\f110"; }

.icon-home:before {
  content: "\f111"; }

.icon-lock-unlocked:before {
  content: "\f112"; }

.icon-lock:before {
  content: "\f113"; }

.icon-magnifier:before {
  content: "\f114"; }

.icon-menu:before {
  content: "\f115"; }

.icon-permission:before {
  content: "\f116"; }

.icon-piechart:before {
  content: "\f117"; }

.icon-print:before {
  content: "\f118"; }

.icon-relationship:before {
  content: "\f119"; }

.icon-screen-form:before {
  content: "\f11a"; }

.icon-screen-list:before {
  content: "\f11b"; }

.icon-screen:before {
  content: "\f11c"; }

.icon-table:before {
  content: "\f11d"; }

.icon-trash:before {
  content: "\f11e"; }

.icon-view:before {
  content: "\f11f"; }

html, body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  height: 100%; }

table {
  width: 100%;
  border-collapse: collapse; }

table td {
  padding: 0;
  border-width: 0;
  vertical-align: top; }

img {
  border: 0; }

a {
  color: #8fbe58;
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #689138; }

h1 {
  font-size: 1.4em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .9em; }

h6 {
  font-size: .8em; }

#controlbar {
  color: #F3AC03;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed #8dbde1; }

/* ---------- Column left/right rules ---------- */
/* ------ Main content ------ */
#xo-canvas-content {
  line-height: 1.3em; }

/* lists */
#xo-canvas-content ul {
  margin: 5px;
  padding: 2px;
  list-style: decimal inside;
  text-align: left; }

#xo-canvas-content li {
  margin-left: 5px;
  color: #000;
  background-color: inherit;
  line-height: 1.4em;
  list-style: circle; }

/* ---------- Footer rules ---------- */
#footer-padding {
  clear: both;
  height: 19px; }

#xo-footer {
  clear: both;
  padding-bottom: 3px;
  text-align: center;
  font-size: 70%;
  color: #bbb;
  background-color: #59a7d4;
  border-top: 5px solid #82bcde; }

#xo-footer a {
  color: white; }

#xo-footer a:hover {
  color: #cccccc; }

/* ---------- Module display rules ---------- */
#xo-content {
  padding: 5px;
  background-color: white;
  color: black;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* ---------- Redirect ------------ */
#xo-redirect {
  margin: 40px 0;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  background-color: #F2F2F2;
  color: #222;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #ddddff; }

/* ---------- Site close ------------ */
#xo-siteclose-login {
  width: 270px;
  margin: 0 auto; }

#xo-siteclose-login h2 {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 1em;
  color: #999;
  padding: 2px;
  margin: 0px;
  text-align: center;
  border: 1px solid #ddddff; }

#xo-siteclose-login form {
  padding: 5px 0;
  margin: 0;
  border: 1px solid #ddddff;
  text-align: center; }

#xo-siteclose-login input {
  width: 90%; }

#xo-siteclose-login div.button {
  clear: both;
  margin-top: 10px;
  text-align: center; }

#xo-siteclose-login div.button input {
  width: 95%; }

/* ----------  mode debug  ---------- */
#xo-logger-output {
  font-size: 80%; }

/* ------ Header rules ------ */
#xo-header {
  clear: both;
  height: 90px;
  position: relative;
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  border-bottom: 10px solid #e6e6e6;
  background: -webkit-linear-gradient(top, white, #fafafa);
  background: -moz-linear-gradient(top, white, #fafafa);
  background: -ms-linear-gradient(top, white, #fafafa);
  background: -o-linear-gradient(top, white, #fafafa);
  background: linear-gradient(to bottom, white, #fafafa); }

#xo-headerlogo {
  float: left;
  margin-left: 40px;
  margin-top: 5px; }

#xo-headerbanner {
  position: relative;
  top: 10px;
  right: 20px;
  float: right; }

/* ------ Header top menu navigation rules ------ */
#xo-globalnav {
  clear: both;
  padding-left: 11px;
  margin-top: 40px;
  padding-bottom: 7px; }

#xo-globalnav a {
  background-color: #59a7d4;
  background: -webkit-linear-gradient(top, #59a7d4, #3391c7);
  background: -moz-linear-gradient(top, #59a7d4, #3391c7);
  background: -ms-linear-gradient(top, #59a7d4, #3391c7);
  background: -o-linear-gradient(top, #59a7d4, #3391c7);
  background: linear-gradient(to bottom, #59a7d4, #3391c7);
  color: white;
  font-weight: normal;
  padding: 0.5em 0.75em;
  margin: 0 0.25em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

/* ---------- Canvas rules ---------- */
#xo-canvas {
  float: right;
  width: 100%;
  min-height: 100%;
  margin-bottom: -19px; }

#xo-canvas-content {
  margin-left: 30px;
  margin-right: 30px; }

#xo-canvas-leftcolumn {
  float: left;
  width: 170px;
  margin-left: -170px; }

* html #xo-canvas-leftcolumn {
  margin-left: -85px; }

#xo-canvas-rightcolumn {
  float: right;
  width: 170px;
  margin-right: -170px; }

* html #xo-canvas-rightcolumn {
  margin-left: -90px;
  margin-right: -100px; }

@media all and (min-width: 0px) {
  head ~ body #xo-canvas-rightcolumn {
    margin-right: -170px; } }
/* ----------Canvas rules (when columns are visible) ---------- */
#xo-canvas.leftcolumn-layout #xo-canvas-columns, #xo-canvas.threecolumns-layout #xo-canvas-columns {
  padding-left: 170px; }

#xo-canvas.rightcolumn-layout #xo-canvas-columns, #xo-canvas.threecolumns-layout #xo-canvas-columns {
  padding-right: 170px; }

/* ----------Page [center column] rules ---------- */
#xo-page {
  float: left;
  width: 100%; }

/* ------- Top and bottom zones (2 columns) ------- */
#xo-page-topleftblocks, #xo-page-bottomleftblocks, #xo-page-topleft_adminblocks, #xo-page-bottomleft_adminblocks {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 0px; }

#xo-page-toprightblocks, #xo-page-bottomrightblocks, #xo-page-topright_adminblocks, #xo-page-bottomright_adminblocks {
  float: right;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%; }

* html #xo-page-topleftblocks, * html #xo-page-bottomleftblocks,
* html #xo-page-toprightblocks, * html #xo-page-bottomrightblocks,
* html #xo-page-topleft_adminblocks, * html #xo-page-bottomleft_adminblocks,
* html #xo-page-topright_adminblocks, * html #xo-page-bottomright_adminblocks {
  width: 47%; }

#xo-page-topcenterblocks, #xo-page-bottomcenterblocks, #xo-page-topcenter_adminblocks, #xo-page-bottomcenter_adminblocks {
  clear: both;
  margin-left: 1%;
  margin-right: 1%; }

/* ------- Top and bottom zones (3 columns) ------- */
#xo-page-topblocks.xo-lcrpageblocks .xo-blockszone, #xo-page-bottomblocks.xo-lcrpageblocks .xo-blockszone {
  float: left;
  clear: none;
  width: 31.2%; }

* html #xo-page-topblocks.xo-lcrpageblocks .xo-blockszone,
* html #xo-page-bottomblocks.xo-lcrpageblocks .xo-blockszone {
  width: 30.6%; }

#xo-content {
  position: relative;
  clear: both; }

/* ------ Left column / Right column content------ */
#xo-canvas-leftcolumn .xo-block, #xo-canvas-rightcolumn .xo-block {
  margin-bottom: 10px; }

#xo-canvas-leftcolumn .xo-blocktitle {
  padding: 3px;
  text-align: left; }

#xo-canvas-leftcolumn .xo-blocktitle h3 {
  color: #8fbe58;
  font-weight: bold;
  font-size: larger;
  margin: 0;
  padding: 0; }

#xo-canvas-rightcolumn .xo-blocktitle {
  padding: 3px;
  text-align: right; }

#xo-canvas-rightcolumn .xo-blocktitle h3 {
  color: #8fbe58;
  font-weight: bold;
  font-size: larger;
  margin: 0;
  padding: 0; }

#xo-canvas-leftcolumn .xo-blockcontent, #xo-canvas-rightcolumn .xo-blockcontent {
  padding: 3px; }

#xo-canvas-leftcolumn th, #xo-canvas-rightcolumn th {
  color: magenta;
  font-size: 90%; }

/* ------ Center column content ------ */
#xo-page th {
  color: black; }

#xo-page .xo-block {
  margin-bottom: 5px; }

#xo-page .xo-blocktitle {
  padding: .2em;
  margin: 0 0.5em;
  text-align: center; }

#xo-page .xo-blocktitle h3 {
  color: black;
  font-weight: bold;
  padding: 0;
  margin: 0; }

#xo-page .xo-blockcontent {
  padding: .5em;
  background-color: #F2F2F2;
  border-top: 4px solid #f3ac03; }

/* Start Main Menu */
#mainmenu {
  font-size: .8em; }

#mainmenu a {
  display: block;
  margin: 0;
  padding: 4px;
  color: #8fbe58; }

#mainmenu a:hover {
  color: #689138; }

#mainmenu a.menuTop {
  padding-left: 3px; }

#mainmenu a.menuMain {
  padding-left: 3px; }

#mainmenu a.menuSub {
  padding-left: 17px;
  color: #8fbe58; }

#mainmenu a.menuSub:hover {
  color: #8fbe58; }

/* End Main Menu */
/* Start User Menu */
#usermenu {
  font-size: .8em; }

#usermenu a {
  color: #8fbe58;
  display: block;
  margin: 0;
  padding: 4px;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  border-left: 1px solid #cccccc; }

#usermenu a:hover {
  color: #689138; }

#usermenu a.menuTop {
  border-top: 1px solid #cccccc; }

#usermenu a.highlight {
  background-color: #fcc;
  color: #ff0000; }

/* End User Menu */
/* tables and cells */
table {
  width: 100%; }

table td {
  padding: 0;
  border-width: 0;
  vertical-align: top; }

th {
  background-color: white;
  color: black;
  padding: 2px;
  vertical-align: middle; }

.main-cell-div > a {
  color: #fff; }

.outer {
  /*border: 1px solid #ccc;*/ }

td.head {
  background-color: #59a7d4;
  color: white;
  font-weight: bold;
  padding: 0.5em 1em 0.5em 0.4em; }

.even, tr.even td {
  background-color: white;
  color: black;
  padding: 5px; }

.odd, tr.odd td {
  background-color: #e6e6e6;
  color: black;
  padding: 5px; }

.foot {
  background-color: white;
  color: inherit;
  padding: 5px;
  font-weight: bold; }

th {
  background-color: white !important;
  /* TODO: why important?? */ }

/* core messages */
.errorMsg {
  background-color: #FFCCCC;
  color: inherit;
  text-align: center;
  border-top: 1px solid #ddddff;
  border-left: 1px solid #ddddff;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  font-weight: bold;
  padding: 10px; }

.confirmMsg {
  background-color: #DDFFDF;
  color: #136C99;
  text-align: center;
  border-top: 1px solid #ddddff;
  border-left: 1px solid #ddddff;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  font-weight: bold;
  padding: 10px; }

.resultMsg {
  background-color: #bbb;
  color: #333;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  font-weight: bold;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  padding: 10px; }

/* codes and quotes */
.xoopsCode {
  background-color: #fff;
  color: inherit;
  border: 1px inset navy;
  font-family: "Courier New",Courier,monospace;
  padding: 0 6px 6px 6px;
  max-height: 200px;
  overflow: auto; }

.xoopsQuote {
  background-color: #fff;
  color: inherit;
  border: 1px inset navy;
  font-family: "Courier New",Courier,monospace;
  font-style: italic;
  padding: 0 6px 6px 6px; }

.icmsCode {
  background-color: #fff;
  color: inherit;
  border: 1px inset navy;
  font-family: "Courier New",Courier,monospace;
  padding: 0 6px 6px 6px;
  max-height: 200px;
  overflow: auto; }

.icmsQuote {
  background-color: #fff;
  color: inherit;
  border: 1px inset navy;
  font-family: "Courier New",Courier,monospace;
  font-style: italic;
  padding: 0 6px 6px 6px; }

/* Admin Help Nav */
#helpbar a {
  float: left;
  width: 14px;
  height: 14px;
  padding: 2px 0 4px 5px;
  background: #F3AC03;
  color: #333333;
  border: 1px dotted #dddddd; }

/* articles */
.item {
  border: 1px solid #cccccc; }

.itemHead {
  padding-left: 3px;
  color: #639ACE;
  border-bottom: 1px solid #bbbbbb;
  font-size: .8em; }

.itemInfo {
  text-align: right;
  padding: 3px;
  background-color: #e6e6e6;
  color: black; }

.itemTitle a {
  font-size: 1.1em;
  font-weight: bold;
  font-variant: small-caps;
  color: #fff;
  background-color: transparent; }

.itemPoster {
  font-size: .9em;
  font-style: italic; }

.itemPostDate {
  font-size: .9em;
  font-style: italic; }

.itemStats {
  font-size: .9em;
  font-style: italic; }

.itemBody {
  padding-left: 5px; }

.itemText {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5em; }

.itemText:first-letter {
  font-size: 1.3em;
  font-weight: bold; }

.itemFoot {
  text-align: right;
  padding: 3px;
  background-color: #e6e6e6;
  color: black; }

.itemAdminLink {
  font-size: .9em; }

.itemPermaLink {
  font-size: .9em; }

/* forums */
.row1 {
  background-color: #FFF;
  color: inherit;
  padding: 5px; }

.row2 {
  background-color: #E9E9E9;
  color: inherit;
  padding: 5px; }

.comTitle {
  font-weight: bold;
  margin-bottom: 2px; }

.comText {
  padding: 2px; }

.comUserStat {
  font-size: .7em;
  color: #639ACE;
  font-weight: bold;
  border: 1px solid #cccccc;
  background-color: #fff;
  margin: 2px;
  padding: 2px;
  border-right: 2px solid #999999;
  border-bottom: 2px solid #999999; }

.comUserStatCaption {
  font-weight: normal; }

.comUserRank {
  margin: 2px; }

.comUserRankText {
  font-size: .8em; }

.comUserRankImg {
  border: 0;
  vertical-align: middle; }

.comUserStatus {
  float: left; }

.comUserName {
  font-size: 18px; }

.comUserName img {
  padding: 0; }

.comUserImg {
  margin: 2px; }

.comDate {
  font-weight: normal;
  font-style: italic;
  font-size: .8em; }

.comDateCaption {
  font-weight: bold;
  font-style: normal;
  font-size: .8em; }

.signature {
  font-size: .8em;
  font-style: italic; }

#online {
  color: green;
  font-weight: 700;
  font-size: 1em; }

#offline {
  color: red;
  font-weight: 700;
  font-size: 1em; }

.forum_controls {
  background-color: #EEE;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  border-top: 1px solid #999999;
  width: 100%; }

.userrow {
  padding: 0; }

.transfer a {
  padding-left: 5px; }

#groupform .icms_checkboxoption {
  width: 48.9%;
  padding: 2px; }

.icms_checkboxoption {
  float: left; }

.icms_checkboxoption input[type=checkbox] {
  float: left;
  outline: none;
  background: transparent;
  border: 0;
  margin-top: 0.5em; }

.icms_checkboxoption label {
  float: left;
  overflow: hidden;
  vertical-align: middle;
  margin-top: 0.3em; }

.icms_checkboxoption label a {
  float: left;
  overflow: hidden; }

#groupform .even b {
  clear: both;
  margin: 5px 0px;
  float: left;
  width: 99%;
  background: #dcdee0;
  padding: 3px;
  border-bottom: 1px solid #cccccc; }

table.outer {
  border: 1px solid #59a7d4; }

.formulize-page-navigation {
  display: inline-block;
  margin: 1em 1em 1em 0;
  padding: 0.6em;
  background-color: #f7f7f7;
  border-radius: 4px; }

.page-navigation-label {
  margin-right: 1em; }

.formulize-page-navigation a {
  margin: 0 0.1em;
  padding: 0.4em 0.5em;
  font-weight: normal; }

.formulize-page-navigation a.page-navigation-active {
  background-color: #fff;
  border: 1px solid #70b640;
  border-radius: 4px; }

.page-navigation-total {
  color: #555;
  white-space: nowrap; }

a.tooltip {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 11pt;
  cursor: help;
  position: relative;
  background: transparent;
  background-color: transparent; }

a.tooltip:before {
  content: "\f110";
  font-size: 15pt;
  color: #59a7d4; }

a.tooltip > span {
  display: none; }

a.tooltip:hover {
  background: transparent;
  background-color: transparent; }

a.tooltip:hover > span {
  position: absolute;
  top: 2em;
  left: -5em;
  width: 25em;
  display: block;
  background-color: white;
  color: black;
  padding: 1.5em;
  line-height: 1.5em;
  opacity: 0.95;
  border: 2px solid #59a7d4;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3); }

.icms_checkboxoption {
  clear: both; }

#floating-list-of-entries-save-button {
  padding: 0.5em 1.5em;
  margin: 1em 0;
  background-color: #FFF; }

#floating-list-of-entries-save-button.save_button_fixed {
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin-top: 0;
  margin-bottom: 0;
  border-top: solid 1px #1d65a5;
  border-left: solid 1px #1d65a5;
  border-right: solid 1px #1d65a5;
  border-radius: 5px 5px 0 0; }

.floating-column {
  position: fixed;
  border: 1px solid white;
  display: none;
  padding: 0px !important; }

.floating-column .main-cell-div {
  float: left;
  border: 1px solid white;
  padding: 5px; }

#currentview {
  width: 500px;
  font-size: 1.2em; }

.formulize-subform-table {
  width: auto;
  border-collapse: collapse; }

.formulize-subform-table > tbody > tr > th {
  background-color: transparent !important;
  color: black !important;
  text-align: center;
  border-bottom: 1px solid #d1d1df; }

.formulize-subform-table > tbody > tr > td {
  padding: 0.5em;
  border-bottom: 1px dotted #d1d1df; }

/*=== Formulize Boutons by Francois T ===*/
button, input[type='submit'], input[type='button'], input[type='reset'] {
  background-color: #F4F9FE;
  -webkit-border-radius: 5px;
  color: #2F85DC;
  border: 1px solid;
  border-color: #ccc; }

input:hover, button:hover, .xo-formbuttons:hover, .formButton:hover {
  transform: scale(1.2);
  box-shadow: 0 0 65px #f4f9fe inset, 0 0 20px #f4f9fe inset, 0 0 15px #333333; }

button:focus, input[type='submit']:focus, input[type='button']:focus, input[type='reset']:focus, .xo-formbuttons:focus, .formButton:focus {
  background-color: #f4f4f4;
  border-color: #333; }

.formulize_button {
  text-indent: 30px;
  border-color: #0076a3;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: bold;
  height: 36px;
  width: 185px !important; }

#prev {
  background: #008cc4 url("../../images/prev.png") no-repeat 10px;
  text-indent: 40px;
  height: 36px;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 15px; }

#next {
  background: #008cc4 url("../../images/next.png") no-repeat 140px;
  text-align: left;
  width: 185px;
  height: 36px;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 15px; }

/*=== Formulize Boutons by Francois T ===*/
#formulize_addButton, #formulize_addProxyButton {
  text-indent: 45px;
  background: #2f85dc url("../../images/contact-new.png") no-repeat 10px;
  width: 210px !important; }

#formulize_addMultiButton {
  text-indent: 45px;
  background: #2f85dc url("../../images/multi.png") no-repeat 10px;
  width: 210px !important; }

#formulize_changeColsButton {
  background: #61a6ee url("../../images/table.png") no-repeat 10px; }

#formulize_exportButton {
  background: #2f85dc url("../../images/math.png") no-repeat 10px; }

#formulize_exportCalcsButton {
  background: #2f85dc url("../../images/math.png") no-repeat 10px; }

#formulize_importButton {
  background: #2f85dc url("../../images/import.png") no-repeat 10px; }

#formulize_calcButton, #formulize_advCalcButton, #formulize_advSearchButton {
  border-color: #8E8E8E;
  background: #a3a3a3 url("../../images/calculator.png") no-repeat 10px; }

#formulize_selectAllButton {
  background: #3ca683 url("../../images/select.png") no-repeat 10px; }

#formulize_clearSelectButton {
  background: #3ca683 url("../../images/unselect.png") no-repeat 10px; }

#formulize_deleteButton {
  background: #3ca683 url("../../images/delete.png") no-repeat 10px; }

#formulize_cloneButton {
  background: #3ca683 url("../../images/clone.png") no-repeat 10px; }

#formulize_notifButton {
  background: #5450a5 url("../../images/notif.png") no-repeat 10px; }

#formulize_resetViewButton {
  background: #61a6ee url("../../images/find.png") no-repeat 10px; }

#formulize_saveViewButton {
  background: #61a6ee url("../../images/findsave.png") no-repeat 10px; }

#formulize_deleteViewButton {
  background: #61a6ee url("../../images/finddel.png") no-repeat 10px; }

#formulize_saveButton {
  background-color: #61A6EE;
  text-indent: 0px; }

/*=== End of Formulize Boutons ===*/
.formulize_autocomplete {
  display: inline-block; }

.formulize-element-edit-link {
  float: right;
  font-weight: normal;
  border: 1px solid #b3b3b3;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  opacity: 0.0; }

td.even:hover .formulize-element-edit-link, td.odd:hover .formulize-element-edit-link {
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
  opacity: 0.3; }

td.even .formulize-element-edit-link:hover, td.odd .formulize-element-edit-link:hover {
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
  opacity: 1.0; }

#formulize-entry-lock-message {
  font-size: 80%;
  margin-bottom: 1em;
  padding: 0.7em 0.7em 0.7em 0em;
  color: #855;
  border: 1px solid #885555;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #formulize-entry-lock-message #formulize-entry-lock-icon {
    float: left;
    font-size: 200%;
    padding: 0.4em 0.7em; }

td a.heading-locked, td a.heading-unlocked {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 11pt;
  float: right;
  margin-left: 0.3em;
  color: #aad2e9; }

td a.heading-locked {
  color: #d3e7f3; }

.heading-locked:before {
  content: "\f113"; }

.heading-unlocked:before {
  content: "\f112"; }

td a.header-info-link {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 11pt;
  float: right;
  color: #aad2e9; }

.header-info-link:before {
  content: "\f110"; }

.heading-locked:hover, .heading-unlocked:hover, .header-info-link:hover {
  text-shadow: 0px 0px 2px #1e5676; }

a.loe-edit-entry {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 11pt;
  font-size: 12pt;
  margin: 0;
  margin-left: 0.5em;
  padding: 0.1em; }

.loe-edit-entry:before {
  content: "\f10d"; }

a.loe-edit-entry:hover {
  text-shadow: 0px 0px 2px #14384d; }

td.formulize-controls {
  white-space: nowrap; }

.xoops-form-element-help {
  color: #a2cee7; }

form#formulize td.even, form#formulize td.odd {
  width: 70%; }

form#formulize td.even textarea, form#formulize td.odd textarea {
  width: 99%; }

#listofentries div.main-cell-div input {
  width: 7em; }

@media print {
  body {
    font-size: 10pt; }

  #xo-header {
    display: none; }

  #xo-canvas-leftcolumn {
    display: none; }

  #xo-canvas.leftcolumn-layout #xo-canvas-columns, #xo-canvas.threecolumns-layout #xo-canvas-columns {
    padding-left: 0 !important; }

  #xo-content {
    width: 100%; }

  #formulizeform {
    width: 100%; }

  #xo-footer {
    display: none; }

  .no-print {
    display: none; }

  input, textarea {
    border: none; }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none; }

  h1.formulize-form-title {
    font-weight: normal; }

  td.head h2 {
    color: #222;
    font-size: 12pt;
    font-weight: normal; }

  td.head span.caption-text {
    color: #333;
    font-weight: normal; }

  td.head div.xoops-form-element-help {
    color: #ddd;
    font-size: 8pt;
    font-weight: normal; }

  td.even {
    font-size: 10pt; }

  tr, td {
    page-break-inside: avoid; }

  #pageNavTable, #bottomPageNumber, #bottom-save-block {
    display: none; }

  .ui-accordion .ui-accordion-content {
    display: block !important; }

  .ui-accordion .ui-accordion-content table.outer {
    border: none; }

  .ui-accordion .ui-accordion-content table.outer td {
    border-bottom: 1px solid #dddddd; }

  #formulize-entry-lock-message {
    display: none; }

  #formulize-element-edit-link {
    display: none; } }
