@import '_style_common';

@import '../../libraries/codemirror/_codemirror';

/* ------ Header top menu navigation rules ------ */

#xo-globalnav a:hover {
    color: #fff;
    border-top: 4px solid #F3AC03;
}

/* ---------- Image Manager / Folder not writeable ------------ */
tr.blocked td {
    background-color: #FF0000;
}

.admin-ui a, .ui-widget-content a {
    color: $colourPrimary;
}

.admin-ui a:hover, .ui-widget-content a:hover {
    color: lighten-or-darken($colourPrimary, 10%);
}

.formulize-toolbar {
    border-bottom: 1px #e0e4e0;
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
}
/*float: right;background-color: #f8f8f8;padding: 0.5em;border-radius:3px;*/

.formulize-application-toolbar > a {
    margin: 0 1em;
}

.formulize-application-toolbar > :first-child {
    margin-left: 0;
}

.formulize-application-toolbar > :last-child {
    margin-right: 0;
}

.formulize-application-panel {
    background-color: $colourPrimary;
    border: 1px solid $colourPrimary;
    margin: 2em 0;
    padding: 0em;
    border-radius: 3px;
    box-shadow: 2px 2px 15px darken($colorPageBackground, 15%);
}

.formulize-application-panel-header {
    color: $colourTextOnPrimary;
    border-bottom: 1px solid $colourAccent;
    padding: 1em 0.5em;
    border-radius: 3px 3px 0 0;
}

.formulize-application-panel-header .formulize-toolbar {
    padding: 0;
}

.formulize-toolbar a {
  float: left;
  margin-right: 1em;
}

.formulize-application-panel-header a {
    background-color: lighten-or-darken($colourPrimary, 5%);
    color: $colourTextOnPrimary;
    margin: 0 0.25em;
    padding: 0.25em 0.5em;
    border-radius: 3px;
}

.formulize-application-panel-header a:hover {
    color: lighten-or-darken($colourTextOnPrimary, 10%);
}

.formulize-application-panel-header a:last-child {
    margin-right: 0;
}

.formulize-application-panel-header > h2 {
    padding-top:0em;
    margin-top:0em;
    margin-bottom:0em;
    clear:none;
}

.formulize-application-panel-body {
    background-color: $colorPageBackground;
    margin: 0;
    padding: 2em 1em;
    border-radius: 0 0 3px 3px;
}

.formulize-application-panel-body h2 {
    margin-top: 0;
}

ul.admin-application-form-list {
    margin: 0;
    padding: 0;
}

ul.admin-application-form-list li {
    list-style-type: none;
    line-height: 2em;
}

.floatright {
    float: right;
}

.right-toolbar {
    display:inline-block;
    float:right;
}

#fz-admin-toolbar {
    float: right;
}

#fz-admin-toolbar a {
    background-color: $colorHeaderMenuBG;
    @include background-linear-gradient($colorHeaderMenuBG, lighten-or-darken($colorHeaderMenuBG, 10%));
    color: $colorHeaderLink;
    font-weight: normal;
    padding: 0.5em 0.75em;
    margin: 0 0.25em;
    @include border-radius(3px);
}

.forms-note {
    width: 99%;
    height: 10em;
}

// css rules below were in /modules/formulize/template/admin/css/ui.css

/* page for tabs */
.ui-tabs-panel {}

/* header */
.ui-widget-header {}

/* logo */
#formulize-logo {
    margin-bottom: 20px;    
}


.deleteicon {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    
}

label {
    text-align: left !important;
}

.form-screen-list .imageicon {
    clear: both;
    float: left;
}

.form-screen-list .formaction {
    padding-left: 38px;
}

#formlisting {
    overflow: hidden;
}

/* override blockquote container */
.ui-accordion-content blockquote {
    margin: 0.5em 0;
    padding: 0;
    overflow: auto;
    font-style: normal;
}

div.accordion-box {
    float: left;
    width: 385px;
    margin: 0 2em 1.5em 0;
}

div.accordion-box-wide {
    float: left;
    width: 500px;
    margin: 0 2em 1.5em 0;
}

div.accordion-box .form-name {
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    background-color: #0085b6;
    border:1px solid #94daf2;
    border-bottom: 0;
}

div.accordion-box .form-name a {
    display: block;
    margin: 0;
    /*padding-left: 35px;
    min-height: 30px;
    background-image: url(../../images/kedit.gif);
    background-repeat: no-repeat;   */
    line-height: 1.2em;
    color: #FFF;
    text-decoration: none;
}

div.accordion-box .form-name a:hover {
    color: #aee7f9;
    text-decoration: none;
}

div.accordion-box .form-screen-list {
    margin: 0;
    padding: 0.5em;
    border:1px solid #94daf2;
    border-top: 0;
}

.formbox-title {
    font-weight: bold;
}

.formactions-list {
    margin-top: 1em;
    margin-left: 2em;
    
}

div.accordion-box .form-screen-list ul {
    margin: 0.5em;
}

div.accordion-box .form-screen-list p {
    margin: 0;
}

div.accordion-box .no-bullets {
    list-style-type: none;
}

/* table overrides */

th a {
    display: block;
}

.ui-tabs-panel .content table {
    width: 80%;
    border: 1px solid #0085b6;
    border-collapse: collapse;
}
.ui-tabs-panel .content table th {
    font-weight: normal;
    background-color: #0085b6 !important;
    color: white !important;
    background: none;
}

.ui-tabs-panel .content table th, .ui-tabs-panel .content table td {
    padding: 0.2em 0.3em;
    text-align: left;
}

.ui-tabs-panel .content table td a img{
    vertical-align: top;
}

.ui-accordion, #tabs {
    clear: both;
}

div.admin-ui, p.versionnumber {
    position: static;   
}

.admin-ui a {
    font-weight: normal;
}

.admin-ui p {
    margin-top: 0.75em;
}

.admin-ui blockquote {
    text-align: left;
}

#tabs, .tab-content, .ui-tabs-nav, .ui-tabs-nav li {
    position: static;
}

div#tabs li {
    list-style-type: none;
}

.ui-tabs-panel .content a:hover {
    background: #eee;
}

.ui-tabs-panel .content table {
    /*width: 60em;*/
}

div.float-left {
    float: left;
}

div.half-width {
    width: 50%;
}

div.clear-both {
    clear: both;
}

div.save-view-access {
    margin-left: 55%;
    margin-right: 15px;
    border:1px solid #0085B6;
    padding: 10px;
}


/* modified by S.Gray, April 11, 2011, floating save button so save button is always visible */
/* uses jQuery, see: http://michelgotta.posterous.com/sticky-scrolling-shoppingcart-with-jquery */
#admin_toolbar {
    margin: 1em 0;
    background-color: #FFF;
}

#admin_toolbar.toolbar_fixed {
    position: fixed; 
    top: 0;
    z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1.5em;
    border: solid 1px #1D65A5;
}

#savebutton input, #popupsavebutton input {
    float: left;
    font-size: 1.1em;
    width: 150px;
    text-align: center;
    margin-bottom: 1em;
  font-weight: normal;
}
#savewarning, #derivedfinished {
    display: none;
    
    float: left;
    margin-bottom: 1em;
    margin-left: 1em;
    background-color: #FCF;
    
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(../../images/warning.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    padding:10px 5px 10px 40px;
    border: solid 1px #9F6000;
}

#popupsavewarning {
    padding-top: 1.75em;
    display: none;
    color: red;
}


#admin_toolbar.toolbar_fixed #savebutton input {
    margin-bottom: 0;
}

#admin_toolbar.toolbar_fixed #savewarning {
    float: none;
    margin-left: 165px;
    margin-bottom: 0;
}

/* Develop a consistent style for forms */
/* form > fieldset > ol > li > fieldset or input or select */
/* Using http://www.alistapart.com/articles/prettyaccessibleforms/ */


.code {
    font-family: "Courier New", Courier, monospace;
}

.checkbox-table-cell input {
    margin-right: 8em;
}

.smallhead {
    margin-top: -0.5em;
    font-size: 10pt;    
}


.addeffectbutton {
    margin-bottom: 1.5em;
}

div.customeffect {
    padding-left: 1em;
}

form fieldset {
  margin-bottom: 10px;
    border: 1px solid #0085b6;
    /*padding: 6px;*/
    padding: 0.5em;
}
form legend {
  padding: 0 2px;
  font-weight: bold;
  color: #0085b6;
  white-space: normal;
}

span.user_groups {
  color: #808080;
  font-size: smaller;
  font-style: italic;
}

#user_perms_accordion_box {
  width: 600px;
}

li.user_perms_li {
  list-style-type: disc !important;
  margin-left: 30px !important;
  padding: 0;
}

li.user_perms_li_li {
  list-style-type: circle !important;
  margin-left: 50px !important;
  padding: 0;
}

form div.form-item {
    margin: 0 0 2.5em 0;
}
form div.form-item > fieldset {
    border-radius: 5px;
}
form label {
    display: inline-block;
//    vertical-align: top;
    padding: 0 4px 0 0;
}

form fieldset fieldset {
/*  border: none; 
  margin: 3px 0 0 0;
    padding: 0;*/
}
form fieldset fieldset legend {
  /*padding: 0 0 5px;
  font-weight: normal;*/
}
form fieldset fieldset label {
/*  display: block;
  width: auto; */
}
form .required em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
label.question{
    margin: 0.5em 0;
    display: block;
    text-align: left !important;
}
form fieldset fieldset label {
/*  margin-left: 163px; /* Width plus 3 (html space) */
}

div.description {
    clear: both;
  font-style: italic;
  font-size: 80%;
  color: #666;
    padding-top: 10px;
    text-align: left !important;
}
.homepage-description {
    margin-bottom: 1em;
    margin-top: -20px;
}

form textarea {
    width: 80%;
}

form .input-text {
    border:1px solid #0085b6;
    /*margin: 0.5em 0 0.5em 1em;*/
    width: 270px;
}

input:focus, select:focus, textarea:focus {
    background: #FFFCCF;
}

form .form-radios, form .form-multiple-select {
    /*margin: 0.5em 0 0.25em 1em;*/
}

form .radio-inline {
    float: left;
}

form fieldset ol {
  margin: 0;
  padding: 0;
}
form fieldset li {
  padding: 5px;
  margin: 0;
}

form .groupselectionbox, form .permissiongroup {
    margin-left: 30px;
}

form .groupselectionbox {
    margin-bottom: 20px;
}

.conditionsdelete {
    color: red !important;
    font-weight: bold;
}

#sortable-list .ui-accordion-header a:hover {
    cursor: move !important;
}
.accordion-name {
    cursor: pointer !important;
}


/* remove the horizontal scroll-bar */
#icms-page {
  padding: 0;
}

/* remove full justification */
.admin-ui .content {
    text-align: left;
}


/* tooltips */
/* blue: #0085B6 */
/* yellow: #FFFFAA */
#tooltip {
    position:absolute;
    z-index:9999;
    width:240px;
    color:#FFFFFF;
  background:#0085B6;
}

#tooltip .tipHeader {
  height:8px;
  -moz-border-radius-topleft: 75px;
  border-top-left-radius: 75px;
  -moz-border-radius-topright: 75px;
  border-top-right-radius: 75px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}

#tooltip .tipBody {
  padding-left:8px;
  padding-right:8px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}

#tooltip .tipFooter {
  height:8px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 75px;
  border-bottom-left-radius: 75px;
  -moz-border-radius-bottomright: 75px;
  border-bottom-right-radius: 75px;
}

/* patch div */
#formulize-patch-panel {
    float: right;
    padding-left: 1em;
    width: 50%;
    height: 13em;
    overflow: auto;
    border: 1px solid blue;
}
