/*
  Icon Font: formulize-icons
*/
@font-face {
  font-family: "formulize-icons";
  src: url("./formulize-icons/formulize-icons.eot");
  src: url("./formulize-icons/formulize-icons.eot?#iefix") format("embedded-opentype"), url("./formulize-icons/formulize-icons.woff") format("woff"), url("./formulize-icons/formulize-icons.ttf") format("truetype"), url("./formulize-icons/formulize-icons.svg#formulize-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-application:before,
.icon-arrow-backward:before,
.icon-arrow-forward:before,
.icon-calculator:before,
.icon-check-all:before,
.icon-check-mark:before,
.icon-check-none:before,
.icon-config:before,
.icon-connection:before,
.icon-copy:before,
.icon-delete:before,
.icon-download:before,
.icon-edit:before,
.icon-form-mini:before,
.icon-form:before,
.icon-help:before,
.icon-home:before,
.icon-lock-unlocked:before,
.icon-lock:before,
.icon-magnifier:before,
.icon-menu:before,
.icon-permission:before,
.icon-piechart:before,
.icon-print:before,
.icon-relationship:before,
.icon-screen-form:before,
.icon-screen-list:before,
.icon-screen:before,
.icon-table:before,
.icon-trash:before,
.icon-view:before {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit; }

.icon-add:before {
  content: "\f100"; }

.icon-application:before {
  content: "\f101"; }

.icon-arrow-backward:before {
  content: "\f102"; }

.icon-arrow-forward:before {
  content: "\f103"; }

.icon-calculator:before {
  content: "\f104"; }

.icon-check-all:before {
  content: "\f105"; }

.icon-check-mark:before {
  content: "\f106"; }

.icon-check-none:before {
  content: "\f107"; }

.icon-config:before {
  content: "\f108"; }

.icon-connection:before {
  content: "\f109"; }

.icon-copy:before {
  content: "\f10a"; }

.icon-delete:before {
  content: "\f10b"; }

.icon-download:before {
  content: "\f10c"; }

.icon-edit:before {
  content: "\f10d"; }

.icon-form-mini:before {
  content: "\f10e"; }

.icon-form:before {
  content: "\f10f"; }

.icon-help:before {
  content: "\f110"; }

.icon-home:before {
  content: "\f111"; }

.icon-lock-unlocked:before {
  content: "\f112"; }

.icon-lock:before {
  content: "\f113"; }

.icon-magnifier:before {
  content: "\f114"; }

.icon-menu:before {
  content: "\f115"; }

.icon-permission:before {
  content: "\f116"; }

.icon-piechart:before {
  content: "\f117"; }

.icon-print:before {
  content: "\f118"; }

.icon-relationship:before {
  content: "\f119"; }

.icon-screen-form:before {
  content: "\f11a"; }

.icon-screen-list:before {
  content: "\f11b"; }

.icon-screen:before {
  content: "\f11c"; }

.icon-table:before {
  content: "\f11d"; }

.icon-trash:before {
  content: "\f11e"; }

.icon-view:before {
  content: "\f11f"; }



.formulize_button {
  text-indent: 30px;
  border-color: #0076a3;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: bold;
  height: 36px;
  width: 185px !important; }

#prev {
  background: #008CC4 url("../../images/prev.png") no-repeat 10px;
  text-indent: 40px;
  height: 36px;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 15px; }

#next {
  background: #008CC4 url("../../images/next.png") no-repeat 140px;
  text-align: left;
  width: 185px;
  height: 36px;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 15px; }



.formulize-page-navigation {
  display: inline-block;
  margin: 1em 1em 1em 0;
  padding: 0.6em;
  background-color: #f7f7f7;
  border-radius: 4px; }

.page-navigation-label {
  margin-right: 1em; }

.formulize-page-navigation a {
  margin: 0 0.1em;
  padding: 0.4em 0.5em;
  font-weight: normal; }

.formulize-page-navigation a.page-navigation-active {
  background-color: #fff;
  border: 1px solid #70b640;
  border-radius: 4px; }

.page-navigation-total {
  color: #555;
  white-space: nowrap; }

a.tooltip {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 1.6rem;
  cursor: help;
  position: relative;
  background: transparent;
  background-color: transparent; }

a.tooltip:before {
  content: "\f110";
  font-size: 1.6rem;
  color: #59a7d4; }

a.tooltip > span {
  display: none;
  font-family: Verdana, Arial, sans-serif;
  }

a.tooltip:hover {
  background: transparent;
  background-color: transparent; }

a.tooltip:hover > span {
  position: absolute;
  top: 2em;
  left: -5em;
  width: 25em;
  display: block;
  background-color: #ffffff;
  color: #000;
  padding: 1.5em;
  line-height: 1.5em;
  opacity: 0.95;
  border: 2px solid #59a7d4;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3); }

a.formulize-open-close-link {
  cursor: pointer; }

.icms_checkboxoption {
  clear: both; }

#floating-list-of-entries-save-button {
  padding: 0.5em 1.5em;
  margin: 1em 0;
  background-color: #FFF; }

#floating-list-of-entries-save-button.save_button_fixed {
  position: fixed;
  bottom: 0;
  z-index: 100;
  margin-top: 0;
  margin-bottom: 0;
  border-top: solid 1px #1D65A5;
  border-left: solid 1px #1D65A5;
  border-right: solid 1px #1D65A5;
  border-radius: 5px 5px 0 0; }

.floating-column {
  position: fixed;
  border: 1px solid white;
  display: none;
  padding: 0px !important; }

.floating-column .main-cell-div {
  float: left;
  border: 1px solid white;
  padding: 5px; }

#currentview {
  width: 350px;
  font-size: 1.2em; }

.formulize-subform-table {
  width: auto;
  border-collapse: collapse;
  white-space: nowrap;
}

.formulize-subform-table > tbody > tr > th {
  background-color: transparent !important;
  color: black !important;
  text-align: center;
  border-bottom: 1px solid #d1d1df; }

.formulize-subform-table > tbody > tr > td {
  padding: 0.5em;
  border-bottom: 1px dotted #d1d1df;
  border-left: 1px dotted #d1d1df;
  border-right: 1px dotted #d1d1df;
}

/*=== Formulize Boutons by Francois T ===*/
button, input[type='submit'], input[type='button'], input[type='reset'] {
  background-color: #F4F9FE;
  -webkit-border-radius: 5px;
  color: #2F85DC;
  border: 1px solid;
  border-color: #ccc; }

button:hover, .xo-formbuttons:hover, .formButton:hover {
  cursor: pointer; }

button:focus, input[type='submit']:focus, input[type='button']:focus, input[type='reset']:focus, .xo-formbuttons:focus, .formButton:focus {
  background-color: #f4f4f4;
  border-color: #333; }

/*=== Formulize Boutons by Francois T ===*/
#formulize_addButton, #formulize_addProxyButton {
  text-indent: 45px;
  background: #2F85DC url("../../images/contact-new.png") no-repeat 10px;
  width: 210px !important; }

#formulize_addMultiButton {
  text-indent: 45px;
  background: #2F85DC url("../../images/multi.png") no-repeat 10px;
  width: 210px !important; }

#formulize_changeColsButton {
  background: #61A6EE url("../../images/table.png") no-repeat 10px; }

#formulize_exportButton {
  background: #2F85DC url("../../images/math.png") no-repeat 10px; }

#formulize_exportCalcsButton {
  background: #2F85DC url("../../images/math.png") no-repeat 10px; }

#formulize_importButton {
  background: #2F85DC url("../../images/import.png") no-repeat 10px; }

#formulize_calcButton, #formulize_proceduresButton, #formulize_advSearchButton {
  border-color: #8E8E8E;
  background: #A3A3A3 url("../../images/calculator.png") no-repeat 10px; }

#formulize_selectAllButton {
  background: #3CA683 url("../../images/select.png") no-repeat 10px; }

#formulize_clearSelectButton {
  background: #3CA683 url("../../images/unselect.png") no-repeat 10px; }

#formulize_deleteButton {
  background: #3CA683 url("../../images/delete.png") no-repeat 10px; }

#formulize_cloneButton {
  background: #3CA683 url("../../images/clone.png") no-repeat 10px; }

#formulize_notifButton {
  background: #5450A5 url("../../images/notif.png") no-repeat 10px; }

#formulize_resetViewButton {
  background: #61A6EE url("../../images/find.png") no-repeat 10px; }

#formulize_saveViewButton {
  background: #61A6EE url("../../images/findsave.png") no-repeat 10px; }

#formulize_deleteViewButton {
  background: #61A6EE url("../../images/finddel.png") no-repeat 10px; }

#formulize_saveButton {
  background-color: #61A6EE;
  text-indent: 0px; }

/*=== End of Formulize Boutons ===*/
.formulize_autocomplete {
  display: inline-block; }

.formulize-element-edit-link {
  float: right;
  font-weight: normal;
  border: 1px solid #b3b3b3;
  padding: 0.1em 0.5em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  opacity: 0.0;
  float: right;
}
td.even:hover .formulize-element-edit-link, td.odd:hover .formulize-element-edit-link, td.head:hover .formulize-element-edit-link, .form-row:hover .formulize-element-edit-link {
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
  opacity: 0.3;
}
td.even .formulize-element-edit-link:hover, td.odd .formulize-element-edit-link:hover, td.head .formulize-element-edit-link:hover, .form-row .formulize-element-edit-link:hover {
  -webkit-transition: opacity 400ms linear;
  transition: opacity 400ms linear;
  opacity: 1.0;
}

#formulize-entry-lock-message {
  font-size: 80%;
  margin-bottom: 1em;
  padding: 0.7em 0.7em 0.7em 0em;
  color: #855;
  border: 1px solid #855;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; }
  #formulize-entry-lock-message #formulize-entry-lock-icon {
    float: left;
    font-size: 200%;
    padding: 0.4em 0.7em; }

td a.heading-locked, td a.heading-unlocked {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 11pt;
  float: right;
  margin-left: 0.3em;
  color: #aad2e9; }

td a.heading-locked {
  color: #d3e7f3; }

.heading-locked:before {
  content: "\f113"; }

.heading-unlocked:before {
  content: "\f112"; }

td a.header-info-link {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 16pt;
  position: relative;
  left: -2.5px;
  color: #aad2e9; }

.header-info-link:before {
  content: "\f110";
  color: #59626a;
}

.heading-locked:hover, .heading-unlocked:hover, .header-info-link:hover {
  text-shadow: 0px 0px 2px #1e5676; }

a.loe-edit-entry {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: inherit;
  font-size: 1rem;
  margin: 0;
  margin-left: 0.5em;
  padding: 0.1em; }

.loe-edit-entry:before {
  color: #fff;
  content: "\f10d"; }

a.loe-edit-entry:hover {
  text-shadow: 0px 0px 2px #14384d; }

td.formulize-controls {
  white-space: nowrap;
  width: 1%; }

.xoops-form-element-help {
  color: #edfcff; }

form#formulize td.even, form#formulize td.odd {
  width: 70%; }

form#formulize td.even textarea, form#formulize td.odd textarea {
  width: 99%; }

#listofentries div.main-cell-div input {
  width: 80%; }

#pageNavTable, #pageNavTableBottom {
  margin: 1em 0; }

.scrollbox {
    overflow: auto;
}

.formulize_autocomplete_search_label {
    font-weight: bold;
}

td.head div.xoops-form-element-caption, td.head div.xoops-form-element-caption-required {
    font-weight: bold;
}

#formulizeform td.head {
    font-weight: normal;
}

@media print {
    
  body {
    font-size: 10pt; }

  #xo-header {
    display: none; }

  #xo-canvas-leftcolumn {
    display: none; }

  #xo-canvas.leftcolumn-layout #xo-canvas-columns, #xo-canvas.threecolumns-layout #xo-canvas-columns {
    padding-left: 0 !important; }

  #xo-content {
    width: 100%; }

  #formulizeform {
    width: 100%; }

  #xo-footer {
    display: none; }

  .no-print {
    display: none; }

  input, textarea {
    border: none; }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none; }

  h1.formulize-form-title {
    font-weight: normal; }

  td.head h2 {
    color: #222;
    font-size: 12pt;
    font-weight: normal; }

  td.head span.caption-text {
    color: #333;
    font-weight: normal; }

  td.head div.xoops-form-element-help {
    color: #ddd;
    font-size: 8pt;
    font-weight: normal; }

  td.even {
    font-size: 10pt; }

  tr, td {
    page-break-inside: avoid; }

  #pageNavTable, #pageNavTableBottom #bottomPageNumber, #bottom-save-block {
    display: none; }

  .ui-accordion .ui-accordion-content {
    display: block !important; }

  .ui-accordion .ui-accordion-content table.outer {
    border: none; }

  .ui-accordion .ui-accordion-content table.outer td {
    border-bottom: 1px solid #ddd; }

  #formulize-entry-lock-message {
    display: none; }

  .formulize-element-edit-link {
    display: none; }
    
}

.appcatspacer {
    width: 25%;
}

.auto_multi {
    margin: 0.2em;
    display: table-row;
}

.auto_multi:hover {
    cursor: pointer;
    text-decoration: line-through;
    color: red;
}
          
.right-align-text {
    text-align: right;
}

.formulize-spacer-column {
    width: auto;
}

#formulize-button-controls input {
    margin: 1em;
}

div[id^=cellcontents_1_] {
    display: flex;
}
div[id^=cellcontents_1_] label {
    white-space: nowrap;
}