<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<appSettings/>
	<connectionStrings/>
	<system.webServer>
		<security>
			<requestFiltering>
				<denyUrlSequences>
					<add sequence="cache" />
					<add sequence="templates_c" />
					<add sequence="trust_path" />
					<add sequence="mainfile.php" />
                </denyUrlSequences>
				<fileExtensions>
					<add fileExtension=".sql" allowed="false" />
				</fileExtensions>
            </requestFiltering>
		</security>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
            </rules>
        </rewrite>
        <defaultDocument>
			<files>
				<remove value="index.php" />
				<add value="index.php" />
			</files>
		</defaultDocument>
    </system.webServer>	
</configuration>
