<div id="clone_image<{$i}>" class="opt_divs" style="display:none; padding:5px; margin:5px;">
  <form id="clone_form<{$i}>" action="admin.php" method="post">
    <table width="100%" cellspacing="1" class="outer">
      <tr><th colspan="2"><{$lang_imanager_cat_clone}></th></tr>
      <tr>
	    <td class="head"><{$lang_image_name}></td>
	    <td class="odd"><input type="text" name="image_nicename" id="name<{$i}>" size=20 value="<{$lang_imanager_copyof}><{$image.nicename}>"></td>
	  </tr>
	  <tr>
	    <td class="head"><{$lang_image_weight}></td>
	    <td class="odd"><input type="text" name="image_weight" size="5" value="0"></td>
	  </tr>
	  <tr>
	    <td class="head"><{$lang_image_disp}></td>
	    <td class="odd">
	      <{$lang_yes}> <input type="radio" name="image_display" value="1" checked /> 
	  	  <{$lang_no}> <input type="radio" name="image_display" value="0" />
  	    </td>
	  </tr>
	  <tr>
	    <td class="head" colspan="2" align="center">
	      <input type="submit" name="submit" value="<{$lang_submit}>" /> 
	      <input type="button" name="btn" value="<{$lang_cancel}>" onclick="document.getElementById('clone_image<{$i}>').style.display = 'none'; return false;" />
	    </td>
      </tr>
    </table>
    <input type="hidden" name="image_id" value="<{$image.id}>" />
    <input type="hidden" name="imgcat_id" value="<{$image.categ_id}>" />
    <input type="hidden" name="op" value="cloneimg" />
    <input type="hidden" name="fct" value="images" />
    <{$image.clone_token}>
  </form>
</div>
<a name="clone_image<{$i}>"></a>