
/* Formulize css */


#formulize-screen table td {
	padding: 0;
	border-width: 0;
	vertical-align: top;
}

#formulize-screen th {
	font-size: large;
}

#formulize-screen .outer{
	color: #1B75BB;
}
#formulize-screen .head {
	color:#74B64A;
	padding: 5px;
	font-weight: bold;
	border-top: 3px solid #CCCCCC;
}
#formulize-screen .even {
	color:black;
	padding: 5px;
	border-top: 3px solid #CCCCCC;
}
#formulize-screen .odd {
	color:black;
	padding: 5px;
	border-top: 3px solid #CCCCCC;
	background-color: white;
}
#formulize-screen tr.even td {
	color:black;
	padding: 5px;
	border-top: 3px solid #CCCCCC;
}
#formulize-screen tr.odd td {
	color:black;
	padding: 5px;
	border-top: 3px solid #CCCCCC;
	background-color: white;	
}
#formulize-screen .xoops-form-element-caption .caption-marker {
	display: none;
}
#formulize-screen .xoops-form-element-help {
	font-weight: normal;
}

#formulize-screen tbody {
  border-top: 0 solid white;
}


