/*
  Icon Font: formulize-icons
*/

@font-face {
  font-family: "formulize-icons";
  src: url("./formulize-icons.eot");
  src: url("./formulize-icons.eot?#iefix") format("embedded-opentype"),
       url("./formulize-icons.woff") format("woff"),
       url("./formulize-icons.ttf") format("truetype"),
       url("./formulize-icons.svg#formulize-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-application:before,
.icon-arrow-backward:before,
.icon-arrow-forward:before,
.icon-calculator:before,
.icon-check-all:before,
.icon-check-mark:before,
.icon-check-none:before,
.icon-config:before,
.icon-connection:before,
.icon-copy:before,
.icon-delete:before,
.icon-download:before,
.icon-edit:before,
.icon-form-mini:before,
.icon-form:before,
.icon-help:before,
.icon-home:before,
.icon-menu:before,
.icon-permission:before,
.icon-piechart:before,
.icon-print:before,
.icon-relationship:before,
.icon-screen:before,
.icon-table:before,
.icon-trash:before,
.icon-view:before {
  font-family: "formulize-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-add:before { content: "\f100"; }
.icon-application:before { content: "\f101"; }
.icon-arrow-backward:before { content: "\f102"; }
.icon-arrow-forward:before { content: "\f103"; }
.icon-calculator:before { content: "\f104"; }
.icon-check-all:before { content: "\f105"; }
.icon-check-mark:before { content: "\f106"; }
.icon-check-none:before { content: "\f107"; }
.icon-config:before { content: "\f108"; }
.icon-connection:before { content: "\f109"; }
.icon-copy:before { content: "\f10a"; }
.icon-delete:before { content: "\f10b"; }
.icon-download:before { content: "\f10c"; }
.icon-edit:before { content: "\f10d"; }
.icon-form-mini:before { content: "\f10e"; }
.icon-form:before { content: "\f10f"; }
.icon-help:before { content: "\f110"; }
.icon-home:before { content: "\f111"; }
.icon-menu:before { content: "\f112"; }
.icon-permission:before { content: "\f113"; }
.icon-piechart:before { content: "\f114"; }
.icon-print:before { content: "\f115"; }
.icon-relationship:before { content: "\f116"; }
.icon-screen:before { content: "\f117"; }
.icon-table:before { content: "\f118"; }
.icon-trash:before { content: "\f119"; }
.icon-view:before { content: "\f11a"; }
