.formulize_button
{
width: 100px;
}

#formulize_addMultiButton
{
width:120px;
}

#formulize_form table
{
    border-width:0px;
}

#formulize_form #currentViewSelectTable
{
    padding:0px 0px 0px 0px;
    border-width:0px;
}

#formulize_form .innerTable
{
    border-width:0px;
}

#allColumns
{
    border-width:0px;
}

#actionsTable
{
    border-top-width:3px;
    height:100px;
    border-left-width:2px;
    vertical-align:middle !important;
}

#fillInTable
{
    border-top-width:3px;
}

#temp1
{
    border-width:0px 5px 0px 0px;
}

#temp1 b
{
    line-height:0;
}

#temp2
{
    border-width:0px;
    height:30px;
    padding:0px 10px 6px 0px;
}

#formulize_form .outer
{
    width:20% !important;
}