body {
	min-width: 520px;
	color: dimgrey;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
}

#page-overlay {
	background: rgba(0, 0, 0, 0.35);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.column {
	/*border: 0.5px dotted #7a7a7a;*/
	border: 0.5px solid #ddd;
	-webkit-box-shadow: 2px 2px 4px -4px #777;
	float: left;
	padding: 10px;
	margin-right: 18px;
	background-color: white;
	text-align: center;
	margin: 4px;
	border-radius: 5px;
}

#droppable {
	width: 100vw;
	padding: 5px;
	margin: 10px;
}

.form-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}

.form {
	margin: 0 1em 1em 0;
	padding: 0.3em;
	color: #999999;
}

.main {
	min-width: 65vw;
	display: inline-block;
}

.form-layout,
.form-sortable,
.form-draggable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fcfcfc;
	vertical-align: middle;
	margin: auto;
	margin-bottom: 4px;
	font-family: Arial;
	font-size: 14px;
	text-align: left;
	text-decoration: none;
}

.form-layout {	
	border: 1px solid #cacaca;
	width: 65%;
	padding: 3px;
	min-width: 250px;
}
.form-sortable,
.form-draggable {
	padding: 3px 8px 3px 8px;
	line-height: 28px;
}

.form-content {
	padding-top: em;
	color: #999999;
	display: table-cell;
	align-content: flex-start;
	border: 1px solid rgba(0, 0, 0, 0);
}

.form-sortable:hover,
.form-draggable:hover {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
	background-color: #f4f4f4;
	cursor: grab;
}

.form-draggable:active,
.form-draggable-helper:hover,
.form-sortable:active {
	cursor: grabbing;
}

.form-draggable-helper {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0);
	background-color: #fcfcfc;
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);

}

.form-focus {
	border: 1px dashed rgba(0, 0, 0, 0.3);
	background-color: rgba(0, 0, 0, 0.01);
}

.form-draggable > img,
.form-sortable > img {
	width: 18px;
	height: auto;
	padding-right: 8px;
	padding-bottom: 4px;
	vertical-align: middle
}

.highlight {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border: 1px dotted #cacaca;
	min-height: 20px;
	min-width: 48px;
	background-color: #cacaca;
}

/* The side navigation menu */
.sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #fdfdfd;
	border: 1px solid #ddd;
	border-radius: 6px;
	padding: 12px;
	position: fixed;
	height: 100%;
	overflow: auto;
}

#addbutton {
	padding: 8px;
	text-align: center;
	cursor: pointer;
}

#addbutton:hover {
	color: #999;
	background-color: #eee;
	text-decoration: underline;
}

.sortable-placeholder {
	background-color: #f2f2f2;
	height: 44px;
	margin-bottom: 4px;
}

/*SAM*/
.sideBarIcons {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: gainsboro;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: Arial;
	overflow: auto;
}

.sideBarIcons a {
	padding: 10px 10px 10px 20px;
	font-size: 24px;
	color: rgba(242, 251, 248, 0.99);
	display: block;
	transition: 0.3s;
}

.sideBarIcons a:hover {
	color: lightgreen;
}

.sideBarIcons .close {
	position: absolute;
	top: 0;
	right: 30px;
	margin-left: 20px;
	color: black;
}

.sideBarInfo {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: white;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	font-family: Arial;
	overflow: auto;
	white-space: nowrap;
}

.sideBarInfo a {
	padding: 10px 10px 10px 20px;
	color: darkslategray;
	display: block;
	transition: 0.3s;
}

.sideBarInfo p {
	padding: 10px 10px 10px 20px;
	color: darkslategray;
	display: block;
	transition: 0.3s;
}

.sideBarInfo a:hover {
	color: lightgreen;
}

.sideBarInfo .close {
	position: absolute;
	top: 0;
	left: 10px;
	margin-right: 20px;
	color: black;
}

.imgToText {
	position: relative;
	width: 100%;
	z-index: -1;
}

.initBase {
	position: absolute;
	top: 0;
	left: 16px;
	width: 100%;
}

.popup {
	display: none;
	z-index: 2;
	background-color: white;
	width: 25%;
	height: 25%;
	top: 50%;
	left: 50%;
}

.popBox {
	background-color: white;
	padding: 30px;
	border: 2px solid black;
}

/*popup*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* popup */
.popup-content {
    background-color: #fefefe;
	border-radius: 5px;
    margin: 35% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 75%; 
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}