<div class="profile-profile-group1">
  <div id="profile-profile-visual" class="outer">
    <h3 class="profile-profile-title head"><{$user_name_header}></h3>
    <div id="profile-profile-avatar">
      <{if $avatar !="" && (substr($avatar, -1))!="/"}>
      <img src="<{$avatar}>" />
      <{else}>
      <img src="images/noavatar.gif" />
      <{ /if }>
    </div>
    <div id="profile-profile-atribs">
      <{if $email}>
      <p id="profil-settings">
        <a href="<{$user_pmlink}>">
          <img class="profile-nav-bar-icon" src="<{$icms_url}>/modules/<{$icms_dirname}>/images/pm.gif" alt="<{$user_pmlink_imgsrc_alttxt}>"><{$uname}>
        </a>
      </p>
      <{else}>
      <p id="profil-settings">
        <a href="<{$user_pmlink}>"><img src="<{$icms_url}>/modules/<{$icms_dirname}>/images/pm.gif" alt="<{$user_pmlink_imgsrc_alttxt}>"></a>
      </p>
      <{/if}>
      <{if $user_ownpage == true}>
      <p id="profil-settings">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/edituser.php"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$lang_editprofile}></a>
      </p>
      <p id="profil-settings-long">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/changepass.php"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$lang_changepassword}></a>
      </p>
      <{if $user_changeemail}>
      <p id="profil-settings">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/changemail.php"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$smarty.const._PROFILE_MA_CHANGEMAIL}></a>
      </p>
      <{/if}>
      <{if $user_candelete == true}>
      <p id="profil-settings">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/admin/deactivate.php"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$smarty.const._PROFILE_MA_DEACTIVATE}></a>
      </p>
      <{/if}>
      <{elseif $xoops_isadmin != false}>
      <p id="profil-settings">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/admin/user.php?op=edit&amp;id=<{$user_uid}>"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$lang_editprofile}></a>
      </p>
      <{if $userlevel == 1}>
      <p id="profil-settings">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/admin/user.php?op=edit&amp;id=<{$user_uid}>"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$smarty.const._PROFILE_MA_DEACTIVATE}></a>
      </p>
      <{else}>
      <p id="profil-settings">
        <a href="<{$icms_url}>/modules/<{$icms_dirname}>/admin/user.php?op=edit&amp;id=<{$user_uid}>"><img class="profile-nav-bar-icon" src="images/configs.gif"  /><{$smarty.const._PROFILE_MA_ACTIVATE}></a>
      </p>
      <{/if}>
      <{/if}>
    </div>
  </div>
</div>
<div style="clear:both"></div>
<br />
<{counter assign=catcount print=false}>
<{foreach item=category from=$categories}>
<{if isset($category.fields)}>
<{counter}>
<div style="width: 48%; float: left; padding: 0px 5px 10px 0px;<{if $catcount % 2 == 0}> float: right; <{/if}>">
  <table class="outer" cellpadding="4" cellspacing="1">
    <tr>
      <th colspan="2" align="center"><{$category.cat_title}></th>
    </tr>
    <{foreach item=field from=$category.fields}>
    <tr>
      <td class="head"><{$field.title}></td>
      <td class="even"><{$field.value}></td>
    </tr>
    <{/foreach}>
  </table>
</div>
<{/if}>
<{/foreach}>

<{if $modules}>
<{counter assign=modcount print=false}>
<{foreach item=module from=$modules}>
<{counter}>
<div style="width: 48%; float: <{$smarty.const._GLOBAL_LEFT}>; padding: 0px 5px 10px 0px;<{if $modcount % 2 == 0}> clear: <{$smarty.const._GLOBAL_LEFT}>;<{/if}>">
  <h4><img src="<{$module.results.0.image}>" alt="<{$module.name}>" />&nbsp;<{$module.name}></h4>
  <{foreach item=result from=$module.results}>
  <strong><a href="<{$result.link}>"><{$result.title}></strong></b><br />
  <small>(<{$result.time}>)</small><br />
  <{/foreach}>
  <{$module.showall_link}>
</div>
<{/foreach}>
<{/if}>

<{include file="db:profile_footer.html"}>