<div><a href="step.php?op=new"><{$smarty.const._ADD}> <{$smarty.const._PROFILE_AM_STEP}></a></div>
<table>
    <th><{$smarty.const._PROFILE_AM_STEPNAME}></th>
    <th><{$smarty.const._PROFILE_AM_STEPORDER}></th>
    <th><{$smarty.const._PROFILE_AM_STEPSAVE}></th>
    <th></th>
    <{foreach item=step from=$steps}>
        <tr class="<{cycle values='odd, even'}>">
            <td><{$step.step_name}></td>
            <td><{$step.step_order}></td>
            <td><{if $step.step_save == 1}><img src="<{$icms_url}>/images/infomsg_icon.gif" alt="<{$smarty.const._YES}>" /><{else}><img src="<{$icms_url}>/images/delete.gif" alt="<{$smarty.const._NO}>" /><{/if}></td>
            <td>
                <a href="step.php?id=<{$step.step_id}>" title="<{$smarty.const._EDIT}>"><{$smarty.const._EDIT}></a>
                &nbsp;<a href="step.php?op=delete&amp;id=<{$step.step_id}>" title="<{$smarty.const._DELETE}>"><{$smarty.const._DELETE}></a>
            </td>
        </tr>
    <{/foreach}>
</table>