<{includeq file='db:content_header.html'}>

<{foreach item=content_content from=$content_contents}>
	<div class="content_content_container">
		<h1 class="content_content_title"><{$content_content.itemLink}> <{if $content_content.userCanEditAndDelete}><{$content_content.editItemLink}><{$content_content.deleteItemLink}><{/if}></h1>
		<{if $showInfo}>
		  <div class="content_content_info"><{$content_content.content_info}></div>
		<{/if}>  
		<div class="content_content_body">
			<{$content_content.content_lead}>
		</div>
		<div class="content_admin_links">
		  <{if $content_content.content_tags}>
		    <div class="content_content_tags">
			  <strong><{$smarty.const._CO_CONTENT_CONTENT_CONTENT_TAGS}>:</strong> <{$content_content.content_tags}>
		    </div>
		  <{/if}>
		  <div class="content_content_comments">
			<{$content_content.content_comment_info}>
		  </div>
		  <div style="clear: left"></div>
		</div>
	</div>
<{/foreach}>
<{if $navbar}>
	<div id="content_navbar">Pages: <{$navbar}></div>
<{/if}>

<{includeq file='db:content_footer.html'}>