<div id="block_login_form">
	<{if $block.auth_googleonly == FALSE}>
		<form action="<{$xoops_url}>/user.php" method="post">
			<div class="block_login_form--username">
				<label class="form-label"><{$block.lang_username}></label>
				<input type="text" required class="uname form-input" name="uname" value="<{$block.unamevalue}>" maxlength="200" aria-required="true" />
			</div>
			<div class="block_login_form--password">
				<label class="form-label"><{$block.lang_password}></label>
				<input type="password" required name="pass" class="form-input" maxlength="32" aria-required="true" />
			</div>
			<{if $block.rememberme }>
				<div class="block_login_form--remember">
					<input type="checkbox" name="rememberme" value="On" /><{$block.lang_rememberme}>
				</div>
			<{/if}>
			<input type="hidden" name="xoops_redirect" value="<{$xoops_requesturi}>" />
			<input type="hidden" name="op" value="login" />
			<input type="hidden" id="tfacode" name="tfacode" value="" />
			<input type="hidden" id="tfaremember" name="tfaremember" value="" />
			<div class="block_login_form--submit">
				<input type="submit" class="btn" value="<{$block.lang_login}>" />
			</div>
			<{$block.sslloginlink}>
		</form>
  	<{php}>include_once XOOPS_ROOT_PATH.'/include/2fa/manage.php';print tfaLoginJS('block_login_form');<{/php}>
		<{if $block.auth_openid}>
			<div style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><a href="<{$block.auth_url}>"><{$smarty.const._MB_SYSTEM_OPENID_LOGIN}></a></div>
		<{/if}>
		<{if $block.auth_okta}>
			<div style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><a href="<{$block.auth_okta}>"><{$smarty.const._MB_SYSTEM_OKTA_LOGIN}></a></div>
		<{/if}>
		<a id='lostpass' href='#' title="<{$block.lang_lostpass}>"><{$block.lang_lostpass}></a>
		<{if $block.registration }>
			<a href="<{$xoops_url}>/register.php" title="<{$block.lang_registernow}>"><{$block.lang_registernow}></a>
		<{/if}>
	<{else}>
		<div class='google-only-login-div' style="text-align: <{$smarty.const._GLOBAL_LEFT}>;">
			<a class='google-only-login-link' href="<{$block.auth_url}>">
				<div class="google-btn" style="max-width: 192px;">
					<div class="google-icon-wrapper">
						<img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"/>
						<span class="btn-text btn"><b>Login with Google</b></span>
					</div>
				</div>
			</a>
		</div>
	<{/if}>
</div>
