<div id="block_login_form">
  <form style="margin-top: 0px;" action="<{$xoops_url}>/user.php" method="post">
    <p><{$block.lang_username}></p>
    <div><input type="text" class="uname" name="uname" size="12" value="<{$block.unamevalue}>" maxlength="25" /><br /></div>
    <p><{$block.lang_password}></p>
    <div><input type="password" name="pass" size="12" maxlength="32" /><br /></div>
    <{if $block.rememberme }>
    <div><input type="checkbox" name="rememberme" value="On" /><{$block.lang_rememberme}><br /></div>
    <{/if}>
    <div><input type="hidden" name="xoops_redirect" value="<{$xoops_requesturi}>" /></div>
    <div><input type="hidden" name="op" value="login" /></div>
    <div><input type="submit" value="<{$block.lang_login}>" /><br /></div>
    <{$block.sslloginlink}>
  </form>
  <{if $block.auth_openid}>
	  <div style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><a href="#" onclick="xoopsGetElementById('openid-verify-form2').style.display = 'block'; xoopsGetElementById('block_login_form').style.display = 'none'; return false;"><{$smarty.const._MB_SYSTEM_OPENID_LOGIN}></a></div>
  <{/if}>
</div>

<{if $block.auth_openid}>
	<div id="openid-verify-form2" style="display: none;">
	  <form method="get" action="<{$xoops_url}>/try_auth.php">
	    <{$smarty.const._MB_SYSTEM_OPENID_URL}>
	    <input type="hidden" name="action" value="verify" />
	    <input type="text" class="openid_url" name="openid_identifier" size="12" value="" />
	    <input type="submit" value="<{$block.lang_login}>" />
	  </form>
	  <div style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><a href="#" onclick="xoopsGetElementById('block_login_form').style.display = 'block'; xoopsGetElementById('openid-verify-form2').style.display = 'none'; return false;"><{$smarty.const._MB_SYSTEM_OPENID_NORMAL_LOGIN}></a></div>
	</div>
<{/if}>
<br />
<a href="<{$xoops_url}>/user.php#lost" title="<{$block.lang_lostpass}>"><{$block.lang_lostpass}></a>
<{if $block.registration }>
<br />
<a href="<{$xoops_url}>/register.php" title="<{$block.lang_registernow}>"><{$block.lang_registernow}></a>
<{/if}>
