th/* ------ Left column / Right column content------ */
#icms-canvas-leftcolumn .icms-block, #icms-canvas-rightcolumn .icms-block {
	margin-bottom:	10px;
}

#icms-canvas-leftcolumn .icms-blocktitle, #icms-canvas-rightcolumn .icms-blocktitle {
	border: 1px solid #000;
	padding: 3px;
	background-color: #f2e2a0;
	text-align:center;
}
#icms-canvas-leftcolumn .icms-blocktitle h3, #icms-canvas-rightcolumn .icms-blocktitle h3 {
	color: #222;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#icms-canvas-leftcolumn .icms-blockcontent, #icms-canvas-rightcolumn .icms-blockcontent {
	padding: 0.5em;
}

#icms-canvas-leftcolumn .icms-block.system .icms-blockcontent {
	padding: 0;
}

#icms-canvas-leftcolumn th, #icms-canvas-rightcolumn th {
	background-color: #f3ac03;
	color: #fff;
	font-size: 90%;
}

/* ------ Center column content ------ */
#icms-page th {
	background-color: #f3ac03;
	color: #000;
}

#icms-page .icms-block {
	margin-bottom: 5px;
	border: 1px solid #ddd;
}

#icms-page .icms-blocktitle {
	padding: .2em;
	border-bottom: 1px solid #ddd;
	margin: 0 .5em;
}

#icms-page .icms-blocktitle h3 {
	color: #f3ac03;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#icms-page .icms-blockcontent {
	padding: .5em;
}
