<table class="outer" width="100%">
	<{foreach item=feeditem from=$admin_rss_feeditems}>
		<tr class="head">
			<td><a href="<{$feeditem.link}>" rel="external"><{$feeditem.title}></a> (<{$feeditem.date}>)</td>
		</tr>
		<{if $feeditem.description}>
			<tr>
				<td class="odd">
					<{$feeditem.description}>
					<{if $feeditem.guid}>
						<br />
						<a href="<{$feeditem.guid}>"><{$smarty.const._MORE}></a>
					<{/if}>
				</td>
			</tr>
		<{elseif $feeditem.guid}>
			<tr>
				<td class="even" valign="top">
					<a href="<{$feeditem.guid}>"><{$smarty.const._MORE}></a>
				</td>
			</tr>
		<{/if}>
	<{/foreach}>
</table>