.content_content_container {
    padding:3px;
}

.content_content_title, a.content_content_title {
	background: url(../images/00-title.gif) no-repeat left center;
    padding: 0 0 0 18px;
    margin:5px 0 0 0;
    font-size: 18px;
    border-bottom: 1px solid #333333;
}

.content_content_info {
	background: url(../images/00-time.gif) no-repeat right center;
	background-color: #efefef;
    height: 15px;
    padding: 2px 22px 2px 2px;
    margin: 0;
    font-size: 11px;
    font-style:italic;
    font-weight:normal;
    text-align: right;
}

.content_content_body {
	
}

#content_content_subs {
   margin-top: 5px;
}

.content_content_subs_header {
    padding: 0;
    margin:0;
    font-size: 14px;
    font-weight: bold;
}

.content_content_subs_item {}
.content_content_subs_item even {}
.content_content_subs_item odd {}
.content_content_subs_item_title {}
.content_content_subs_item_teaser{
    font-style:italic;
}