ul.primary-nav,
ul.primary-nav ul {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%; /* Width of Menu Items */
	background: inherit; /* IE6 Bug */
}

ul.primary-nav li {
	position: relative;
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

ul.primary-nav li a {
	display: block;
	text-decoration: none;
	padding: 3px;
	width:auto;
}

/* Fix IE. Hide from IE Mac \*/
* html ul.primary-nav li { float: left; height: 1%; }
* html ul.primary-nav li a { height: 1%; }
/* End */

ul.primary-nav ul {
	position: absolute;
	display: none;
	left: 99%;
	top: 0;
	z-index: 10000;
}

ul.primary-nav li:hover ul ul,
ul.primary-nav li:hover ul ul ul,
ul.primary-nav li:hover ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul,
ul.primary-nav li.over ul ul ul,
ul.primary-nav li.over ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul ul ul ul { display: none; }

ul.primary-nav li:hover ul,
ul.primary-nav li li:hover ul,
ul.primary-nav li li li:hover ul,
ul.primary-nav li li li li:hover ul,
ul.primary-nav li li li li li:hover ul,
ul.primary-nav li li li li li li:hover ul,
ul.primary-nav li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li li li li:hover ul,
ul.primary-nav li.over ul,
ul.primary-nav li li.over ul,
ul.primary-nav li li li.over ul,
ul.primary-nav li li li li.over ul,
ul.primary-nav li li li li li.over ul,
ul.primary-nav li li li li li li.over ul,
ul.primary-nav li li li li li li li.over ul,
ul.primary-nav li li li li li li li li.over ul,
ul.primary-nav li li li li li li li li li.over ul,
ul.primary-nav li li li li li li li li li li.over ul,
ul.primary-nav li li li li li li li li li li li.over ul { display: block; } /* The magic */

ul.primary-nav li.menuparent { background: transparent url(../../../images/arrow.gif) right center no-repeat; }

ul.primary-nav li.menuparent:hover,
ul.primary-nav li.over { background-color: inherit; }

.contentmenu {display: block;}

/* Definições de modelos */
ul.primary-nav.blue {}
ul.primary-nav.blue li a {
	background: #FFF;
	border-bottom: #333 solid 1px;
	font-size: 10px;
}
ul.primary-nav.blue li a:hover {
	background: #59ADDB;
	color: #FFF;
}