
$colourPrimary:         #59a7d4;
$colourAccent:          #8fBe58;
$colorPageBackgroundAlt:#f3f3f3;

$colorHeaderBackground: #ffffff;
$colorPageBackground:   #ffffff;

// this function chooses a color that contrasts with another color. background first, then dark color, then light color
@function contrasting-color($bg, $colorA, $colorB) {
    @return if((lightness($bg) > 60), $colorA, $colorB);
}

@function lighten-or-darken($bg, $percentage) {
    @return if((lightness($bg) > 50), darken($bg, $percentage), lighten($bg, $percentage));
}

// header colours
$colorHeaderMenuBG:     $colourPrimary;
$colorHeaderText:       contrasting-color($colorHeaderBackground, #000, #fff);
$colorHeaderLink:       contrasting-color($colorHeaderMenuBG, #000, #fff);
$colorHeaderAccent:     contrasting-color($colorHeaderBackground, darken($colorHeaderBackground, 10%), lighten($colorHeaderBackground, 10%));


// page colours
$colorPageText:         contrasting-color($colorPageBackground, #000, #fff);
$colorPageHeaders:      $colourAccent;

$colorLink:             $colourAccent;
$colorLinkHover:        lighten-or-darken($colorLink, 15);


// table colours
$colorTableHeaderBackground: $colourAccent;
$colorTableHeaderText:  contrasting-color($colorTableHeaderBackground, #000, #fff);
$colorEvenBackground:   $colorPageBackground;
$colorOddBackground:    lighten-or-darken($colorPageBackground, 10);
$colorTableText:        contrasting-color($colorPageBackground, #000, #fff);


// form colours
$colorFormBackground:   $colorPageBackground;
$colorFormText:         contrasting-color($colorFormBackground, #000, #fff);

$colorCalcBtnBlue:      $colourPrimary;
$colorCalcBtnBlueLight: $colourPrimary;
$colorCalcBtnGreen:     $colourPrimary;
$colorCalcBtnPurple:    $colourPrimary;
$colorCalcBtnGrey:      $colourPrimary;

// standard button colours
// $colorCalcBtnBlue:      #2F85DC;
// $colorCalcBtnBlueLight: #61A6EE;
// $colorCalcBtnGreen:     #3CA683;
// $colorCalcBtnPurple:    #5450A5;
// $colorCalcBtnGrey:      #A3A3A3;


// footer colours
$colorFooterBackground: $colourPrimary;
$colorFooterLink:       contrasting-color($colorFooterBackground, #000, #fff);


$sizeContentPadding:    5px;


@mixin border-radius($radius)
{
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin border-radius-top($radius)
{
    border-radius: $radius $radius 0 0;
    -moz-border-radius: $radius $radius 0 0;
    -webkit-border-radius: $radius $radius 0 0;
}

@mixin border-radius-bottom($radius)
{
    border-radius: 0 0 $radius $radius;
    -moz-border-radius: 0 0 $radius $radius;
    -webkit-border-radius: 0 0 $radius $radius;
}

@mixin background-linear-gradient($from, $to)
{
    background: -webkit-linear-gradient(top, $from, $to);
    background: -moz-linear-gradient(top, $from, $to);
    background: -ms-linear-gradient(top, $from, $to);
    background: -o-linear-gradient(top, $from, $to);
    background: linear-gradient(to bottom, $from, $to);
}

@mixin background-radial-gradient($from, $to)
{
    background-color: $to;
    background-image: -moz-radial-gradient(50% 30%, ellipse cover, $from, $to 100%);
    background-image: -webkit-radial-gradient(50% 30%, ellipse cover, $from, $to 100%);
    background-image: -o-radial-gradient(50% 30%, ellipse cover, $from, $to 100%);
    background-image: -ms-radial-gradient(50% 30%, ellipse cover, $from, $to 100%);
    background-image: radial-gradient(50% 30%, ellipse cover, $from, $to 100%)
}

@mixin shadow-floating()
{
    box-shadow: 3px 3px 15px rgba(0,0,0,0.3);
}

@mixin shadow-floating-small()
{
    box-shadow: 1px 1px 15px rgba(0,0,0,0.12);
}
