@import '_style_common';

/* ------ Header top menu navigation rules ------ */

#xo-globalnav a:hover {
    color: #fff;
    border-top: 4px solid #F3AC03;
}

/* ---------- Image Manager / Folder not writeable ------------ */
tr.blocked td {
    background-color: #FF0000;
}
