#content_nav {
    padding:3px;
}

#content_header {
    padding: 0;
    margin:0;
}

.content_title_admlinks {
    padding: 0;
    padding-bottom:2px;
    margin:0;
    fonte-size: 18px;
    float:right;
}
h1.content_title {
    padding: 0;
    padding-bottom:2px;
    margin:0;
    fonte-size: 18px;
    border-bottom: 1px solid #333333;
}
h2.content_title_info {
    height: 15px;
    padding: 2px;
    margin: 0;
    background: #efefef;
    font-size: 11px;
    font-style:italic;
    font-weight:normal;
    text-align: right;
}

.content_body {
   padding:5px;
}

#content_subs {
   margin-top: 5px;
}
.content_subs_header {
    padding: 0;
    margin:0;
    font-size: 14px;
    font-weight: bold;
}
.content_subs_item {}
h3.content_subs_item_title{}
.content_subs_item_teaser{font-style:italic;}