<div class="panel-content content">
	<form id="form-<{$number}>" class="formulize-admin-form">
        <{php}>print $GLOBALS['xoopsSecurity']->getTokenHTML()<{/php}>
            <input type="hidden" name="formulize_admin_handler" value="application_menu_entries">
                <input type="hidden" name="formulize_admin_key" value="<{$content.aid}>">
                    <input type="hidden" id="reload_settings" name="reload_settings" value="true">
                        <input type="hidden" id="menu_items" name="menu_items" value="">
                            <input type="hidden" id="deletemenuitem" name="deletemenuitem" value="">
                                <input type="hidden" name="menuorder" value="">	
                            
                            
                            <div class="accordion-box">
                                <div class="form-item">
                                
                                    <h2> Add links to the menu</h2> 
                                    
                                    <fieldset>		
                                        <p>Menu text: <input type="text" id="addmenutext" name="addmenutext">	</p>	
                                            <br />
                                            <{$content.listsofscreenoptions}>
                                                <br />or<br />
                                                external url:  <input type="text" name="addurl" id="addurl"><br /><br />	
                                                    
                                                    <h3>Which groups can view the link</h3>
                                                    <select name="addgroups" id="addgroups" size=10 multiple style="overflow-y: scroll;">
                                                        <{foreach from=$content.groups item=group}>
                                                            <option value=<{$group.id}><{$group.selected}>><{$group.name}></option>                 
                                                            <{/foreach}>
                                                                </select>
                                                    </fieldset>
                                    
                                    <button class="menuButton" id="addMenuItem" type="button" >Add Menu Item</button>				
                	             	
                                </div>		
                            </div>
                                    
                                    <div class="accordion-box">			
                                        <h2> Manage the links in the menu</h2>
                                        <p>Click and drag the links to re-order them</p><br/>
                                        <div id="sortable-list">        
                                            <{include file="db:admin/ui-accordion.html" sectionTemplate="db:admin/application_menu_entries_sections.html" sections=$content.links}>
                                                </div>                                                    
                                    </div>
        </form>
    
	<div style="clear: both"></div>
</div> <!--// end content -->
<script type="text/javascript">
    var formID = "";
    var formRelationID = "1";
    
   
    
    
    // added Oct 2013 
    $(".deletelink").click(function () {
        var answer = confirm("The selected menu link will be deleted, OK?");
        if(answer) {
            $("[name=deletemenuitem]").val($(this).attr('target'));
            $("[name=reload_settings]").val(1);
            $(".savebutton").click();
        }
        return false;
    });
    
    // modified Oct 2013
    $("#addMenuItem").click(function (){
                            
        var menuText = $("#addmenutext").val().trim().replace(/\'/g, " ") ;
        var url = $("#addurl").val();
        var screen = $("#listsofscreenoptions").val();
        var groupids = $("#addgroups").val();
                            
        var value = "null::";
                            
        if(screen.length > 0){
            if(menuText.length == 0){
                menuText = $("#listsofscreenoptions option:selected").text().trim().replace(/\'/g, " "); 
            }
        }else if(url.length > 0){
                if(menuText.length == 0){
                    menuText = url;
                }
        }else{
                alert("missing screen or url");
                return;
        }   
        
        value += menuText+ "::" + screen + "::" + url + "::"+groupids;
                                                                                            
        $("[name=menu_items]").val(value);
        $("[name=reload_settings]").val(1);
        $(".savebutton").click();
                                                                                            
    });
                                                              
    // user have a choice of either choosing a screen or entering an external URL
                                                              
    $('#addurl').change(function(){
        if ($('#addurl').val() != ''){
            $("#listsofscreenoptions").attr("disabled", "disabled");
        }
        else{
            $("#listsofscreenoptions").attr("disabled", "");
        }
    });
      
    $('#listsofscreenoptions').change(function(){
        if ($('#listsofscreenoptions').val() != ''){
            $("#addurl").attr("disabled", "disabled");
        }
        else{
            $("#addurl").attr("disabled", "");
        }        
    });
    
    function updateSaveChangeDisplay(){
             
        $("#addgroups").unbind("change");
        $("#addmenutext").unbind("keydown");
        $("#addmenutext").unbind("change");
       
        $("[name=groups]").unbind("change");
        $("[name=menutext]").unbind("keydown");
        $("[name=menutext]").unbind("change");
                                                              
    }
    
    $(".savebutton").click(function () {
        $("[name=menuorder]").val($("#accordion-5").sortable('serialize')); 
    });
                            
    $("#accordion-5").bind( "sortupdate", function(event, ui) {
        setDisplay('savewarning','block');
    });
                            
    window.setTimeout("updateSaveChangeDisplay();",500);
    </script>