<p><a href="" class="deletelink" ><img src="../images/editdelete.gif"> Delete</a></p>

<div class="accordion-box">			
    <div class="form-item">
    	<fieldset>
 			<p>Menu text: <input type="text" id="menutext" name="menutext">	</p>	
                <br />
                <{$content.listsofscreenoptions}>
                    <br />or<br />
                    External url:  <input type="text" name="url" id="url"><br />	 
                        <h3>Which groups can view the link</h3>                        
                        <select name="groups" id="groups" size=10 multiple multiple style="overflow-y: scroll;">
                            <{foreach from=$content.groups item=group}>
                                <option value=<{$group.id}><{$group.selected}>><{$group.name}></option>
                                <{/foreach}>
                                    </select>
                        </fieldset>
    </div>
</div>