<div class="panel-content content">

<form id="application-<{$number}>">
<{* form elements must be named with their table name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a field in the database to update *}>

<fieldset>
	<legend>Application Settings</legend>
	<div class="form-item"><label for="formulize_id-app_name">Name</label>
		<input type="text" id="formulize_id-app_name" name="formulize_id-app_name" value="<{$content.name}>"/>
	</div>
	<div class="form-item">
		<label for="formulize_id-app_description">Description</label>
		<textarea name="formulize_id-app_description" rows="6" cols="50"></textarea>
	</div>
	<div class="form-item"><input type="submit" class="savebutton" name="#form-<{$number}>" value="Save"/></div>

</fieldset>

</form>

</div> <!--// end content -->
