
    <div class="form-item">
	    <label for="element-subform"><{$smarty.const._AM_ELE_SUBFORM_FORM}></label>
	    <select id="element-subform" name="elements-ele_value[0]" size="1">
        <{html_options options=$content.subforms selected=$content.ele_value[0]}>
	    </select>
	    <div class="description">
		    <{$smarty.const._AM_ELE_SUBFORM_DESC}>
	    </div>
    </div>
		<div class="form-item">
			<label for="element-subformelements"><{$smarty.const._AM_ELE_SUBFORM_ELEMENTS}></label>
			<select name="elements_ele_value_1[]" size="10" multiple>
				<{html_options options=$content.subformelements selected=$content.ele_value[1]}>
			</select>
			<div class="description"><{$smarty.const._AM_ELE_SUBFORM_ELEMENTS_DESC}></div>
		</div>
		<div class="form-item">
	    <label for="element-ele_value[4]"><{$smarty.const._AM_ELE_SUBFORM_HEADINGSORCAPTIONS}></label>
			<div class="form-radios">
				<label for="elements-ele_value[4]-0"><input type="radio" id="elements-ele_value[4]-0" name="elements-ele_value[4]" value="0"<{if $content.ele_value[4] eq 0}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_SUBFORM_HEADINGSORCAPTIONS_HEADINGS}></label>
			</div>
			<div class="form-radios">
				<label for="elements-ele_value[4]-1"><input type="radio" id="elements-ele_value[4]-1" name="elements-ele_value[4]" value="1"<{if $content.ele_value[4] eq 1}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_SUBFORM_HEADINGSORCAPTIONS_CAPTIONS}></label>
			</div>
    </div>
    <div class="form-item">
	    <label for="element-subformblanks"><{$smarty.const._AM_ELE_SUBFORM_BLANKS}></label>
	    <input type="text" id="element-subformblanks" name="elements-ele_value[2]" value="<{$content.ele_value[2]}>" size="2" maxlength="2"/>
    </div>
    <input type="checkbox" id="element-subformviewbutton" name="elements-ele_value[3]" <{if $content.ele_value[3]}>checked="checked"<{/if}> value="1"/> <{$smarty.const._AM_ELE_SUBFORM_VIEW}>
		<div class="description"><{$smarty.const._AM_ELE_SUBFORM_VIEW_DESC}></div>
  
<script type="text/javascript">

	$("#element-subform").change(function() {
		subfid = $("#element-subform").val();
		$.get("<{$xoops_url}>/modules/formulize/formulize_xhr_responder.php?uid=<{$content.uid}>&op=get_element_option_list&fid="+subfid, function(data) {
			results = eval('('+data+')');
			if(results) {
				$("[name=elements_ele_value_1[]]").empty();
				for( var i in results.options) {
					if(typeof(results.options[i]) == "object") {
						$("[name=elements_ele_value_1[]]").append("<option value='"+results.options[i].id+"'>"+results.options[i].value+"</value>");
					}
				}
			}
		});
	});


</script>
