<div class="panel-content content">
  <fieldset>
    <legend><{$smarty.const._AM_ELE_SELECT}></legend>

    <div class="form-item required">
	    <label for="element-size"><{$smarty.const._AM_ELE_SIZE}><em>*</em></label>
	    <input type="text" id="element-size" name="element-size" value="" size="3" maxlength="2"/>
    </div>
	  <div class="form-item">
		  <label for="element-multiple"><{$smarty.const._AM_ELE_MULTIPLE}></label>
		  <input type="checkbox" id="element-multiple" name="element-multiple"<{if $content.multiple}> checked="checked"<{/if}> value="1"/>
	  </div>

	  <div class="form-item">
      <fieldset>
        <legend><{$smarty.const._AM_ELE_OPT}></legend>

<h1>Incomplete - add options</h1>

		    <label for="element-changeuservalues">
		      <input type="checkbox" id="element-changeuservalues" name="element-changeuservalues"<{if $content.changeuservalues}> checked="checked"<{/if}> value="1"/>
          <{$smarty.const._AM_ELE_OPT_CHANGEUSERVALUES}></label>
	      <div class="description">
		      <p><{$smarty.const._AM_ELE_OPT_DESC}><{$smarty.const._AM_ELE_OPT_DESC1}></p>
          <p><{$smarty.const._AM_ELE_OPT_UITEXT}></p>
	      </div>
      </fieldset>
	  </div>
    <div class="form-item">
	    <label for="formlink"><{$smarty.const._AM_ELE_FORMLINK_TEXTBOX}></label>
      <{$content.formlink}>
	    <div class="description">
		    <{$smarty.const._AM_ELE_FORMLINK_DESC_TEXTBOX}>
	    </div>
    </div>

    <div class="form-item">
      <fieldset>
        <legend><{$smarty.const._AM_ELE_FORMLINK_SCOPE}></legend>
	      <select id="element-formlink_scope" name="element-formlink_scope" size="10">
          <{html_options options=$content.formlink_scope_options selected=$content.formlink_scope}>
	      </select>
        <br/><br/>
        <fieldset>
	        <div class="form-radios">
		        <label for="linkscopelimit-0"><input type="radio" id="linkscopelimit-0" name="element-linkscopelimit" value="0"/><{$smarty.const._AM_ELE_FORMLINK_SCOPELIMIT_NO}></label>
	        </div>
	        <div class="form-radios">
		        <label for="linkscopelimit-1"><input type="radio" id="linkscopelimit-1" name="element-linkscopelimit" value="1"/><{$smarty.const._AM_ELE_FORMLINK_SCOPELIMIT_YES}></label>
	        </div>
        </fieldset>
	      <fieldset>
		      <div class="form-radios">
			      <label for="linkscopeanyall-0"><input type="radio" id="linkscopeanyall-0" name="element-linkscopeanyall" value="0"/><{$smarty.const._AM_ELE_FORMLINK_ANYALL_ANY}></label>
		      </div>
		      <div class="form-radios">
			      <label for="linkscopeanyall-1"><input type="radio" id="linkscopeanyall-1" name="element-linkscopeanyall" value="1"/><{$smarty.const._AM_ELE_FORMLINK_ANYALL_ALL}></label>
		      </div>
	      </fieldset>
	      <div class="description">
		      <{$smarty.const._AM_ELE_FORMLINK_SCOPE_DESC}>
	      </div>
      </fieldset>
    </div>

<h1>Incomplete - conditions</h1>

  </fieldset>
</div>
