<div class="panel-content content">
  <fieldset>
    <legend><{$smarty.const._AM_ELE_TEXT}></legend>

    <div class="form-item required">
	    <label for="element-size"><{$smarty.const._AM_ELE_SIZE}><em>*</em></label>
	    <input type="text" id="element-size" name="element-size" value="" size="3" maxlength="3"/>
    </div>
    <div class="form-item required">
	    <label for="element-max"><{$smarty.const._AM_ELE_MAX_LENGTH}><em>*</em></label>
	    <input type="text" id="element-max" name="element-max" value="" size="3" maxlength="3"/>
    </div>
    <div class="form-item">
	    <label for="element-default"><{$smarty.const._AM_ELE_DEFAULT}></label>
	    <textarea id="element-default" name="element-default" rows="5" cols="35"></textarea>
	    <div class="description">
          <p><{$smarty.const._AM_ELE_TEXT_DESC}><{$smarty.const._AM_ELE_TEXT_DESC2}></p>
      </div>
    </div>
    <div class="form-item">
	    <fieldset>
	    <legend><{$smarty.const._AM_ELE_TYPE}></legend>
		    <div class="form-radios">
			    <label for="anything"><input type="radio" id="anything" name="element-data" value="0"/><{$smarty.const._AM_ELE_TYPE_STRING}></label>
		    </div>
		    <div class="form-radios">
			    <label for="numbers"><input type="radio" id="numbers" name="element-data" value="1"/><{$smarty.const._AM_ELE_TYPE_NUMBER}></label>
		    </div>
		    <div class="description">
			    <p><{$smarty.const._AM_ELE_TYPE_DESC}></p>
		    </div>
	    </fieldset>
    </div>
    <div class="form-item">
	    <fieldset>
		    <legend><{$smarty.const._AM_ELE_NUMBER_OPTS}></legend>
		    <div class="form-item">
			    <label for="dec"><{$smarty.const._AM_ELE_NUMBER_OPTS_DEC}></label><input type="text" id="element-dec" name="element-dec" value="2" size="2" maxlength="2"/>
		    </div>
		    <div class="form-item">
			    <label for="prefix"><{$smarty.const._AM_ELE_NUMBER_OPTS_PREFIX}></label><input type="text" id="element-prefix" name="element-prefix" value="$" size="5" maxlength="255"/>
		    </div>
		    <div class="form-item">
			    <label for="sep"><{$smarty.const._AM_ELE_NUMBER_OPTS_DECSEP}></label><input type="text" id="element-sep" name="element-sep" value="." size="5" maxlength="255"/>
		    </div>
		    <div class="form-item">
			    <label for="thou"><{$smarty.const._AM_ELE_NUMBER_OPTS_SEP}></label><input type="text" id="element-thou" name="element-thou" value="," size="5" maxlength="255"/>
		    </div>
		    <div class="description">
			    <{$smarty.const._AM_ELE_NUMBER_OPTS_DESC}>
		    </div>
	    </fieldset>
    </div>
    <div class="form-item">
	    <label for="formlink"><{$smarty.const._AM_ELE_FORMLINK_TEXTBOX}></label>
      <{$content.formlink}>
	    <div class="description">
		    <{$smarty.const._AM_ELE_FORMLINK_DESC_TEXTBOX}>
	    </div>
    </div>
	  <div class="form-item">
		  <label for="element-requireunique"><{$smarty.const._AM_ELE_REQUIREUNIQUE}></label>
		  <input type="checkbox" id="element-requireunique" name="element-requireunique"<{if $content.requireunique}> checked="checked"<{/if}> value="1"/>
	  </div>
  </fieldset>
</div>
