<div class="panel-content content">

<form id="form-<{$number}>" name="formulize-admin-form">
<input type="hidden" name="formulize_admin_handler" value="element_options">
<input type="hidden" name="formulize_admin_key" value="<{$content.ele_id}>">


<div class="accordion-box">
	<div class="form-item">
   	<fieldset>
      <legend><label for="elements_ele_display" class="question">Which groups should see this element?</label></legend>
			<select name="elements_ele_display" size=8 multiple>
				<option value="all"<{$content.ele_display.all}>>All groups with permission to view the form</option>
				<{foreach from=$content.groups item=group}>
				<{assign var=groupid value=$group.id}>
        <option value=<{$groupid}><{$content.ele_display.$groupid}>><{$group.name}></option>
        <{/foreach}>
			</select>
		</fieldset>
	</div>
</div>

<div class="accordion-box">
	<div class="form-item">
   	<fieldset>
      <legend><label for="elements_ele_disabled" class="question">Disable this element for any groups?</label></legend>
			<select name="elements_ele_disabled" size=8 multiple>
				<option value="all"<{$content.ele_disabled.all}>>Disable for all groups</option>
				<{foreach from=$content.groups item=group}>
				<{assign var=groupid value=$group.id}>
        <option value=<{$groupid}><{$content.ele_disabled.$groupid}>><{$group.name}></option>
        <{/foreach}>
			</select>
			<div class="description">
				<p>Users will see this element if they are a member of any group for which the element is not disabled.  Only users who have all their groups selected here, will see the element as disabled.</p>
			</div>
		</fieldset>
	</div>
</div>

<div class="accordion-box-wide">
	<div class="form-item">
   	<fieldset>
      <legend><label for="elements_ele_filtersettings" class="question">Only display the element in the form if the entry being edited meets these conditions:</label></legend>
			<{$content.filtersettings}>
			<div class="description">
				<p>When an entry is saved, these conditions will be checked and this element will be displayed or not displayed on the next page load.  This feature is most useful on multipage form screens, which save the entry between pages.</p>
			</div>
		</fieldset>
	</div>
</div>

<div class="accordion-box">
	<div class="form-item">
   	<fieldset>
      <legend><label class="question">Additional display options:</label></legend>
			<input type="checkbox" name="elements-ele_forcehidden" value="1"<{$content.ele_forcehidden}>> If this element is not displayed to a user, still save its value when the form is submitted.
			<div class="description">
				This can be useful for setting default values in a form, for elements the user should not interact with.
			</div>
			<br /><input type="checkbox" name="elements-ele_private" value="1"<{$content.ele_private}>> Only display this element to users who have permission to "view private elements".
			<div class="description">
				This can be useful for hiding information like phone numbers and other personal details from most other users.
			</div>
		</fieldset>
	</div>
</div>


</form>

<div style="clear: both;"></div>
</div> <!--// end content -->
