<div class="panel-content content">
	<div class="form-item">
  <fieldset>
    <legend>What kind of select box is this?</legend>
		<div class="form-radios">
			      <label for="dropdown"><input type="radio" id="dropdown" name="elements_listordd" value="0"<{if $content.listordd eq 0}> checked="checked"<{/if}>/>This is a dropdown box</label>
		      </div>
		      <div class="form-radios">
			      <input type="radio" id="list" name="elements_listordd" value="1"<{if $content.listordd eq 1}> checked="checked"<{/if}>/>This is a list box, with <input type="text" id="elements-ele_value_0" name="elements-ele_value[0]" value="<{$content.ele_value[0]}>" maxlength=2 size=2> rows. &mdash; Multiple selections are: <input type="radio" name="elements_multiple" value="1" <{if $content.multiple}>checked<{/if}>/>Allowed&nbsp;&nbsp;&nbsp;<input type="radio" name="elements_multiple" value="0" <{if $content.multiple eq 0}>checked<{/if}>/>Not Allowed
		      </div>
	</fieldset>
	</div>

	 <div class="form-item">
	<fieldset>
		<legend>What are the options the user can choose from?</legent>
			<div class="form-radios">
			      <input type="radio" id="yes" name="linked_yesno" value="1"<{if $content.islinked eq 1}> checked="checked"<{/if}>/>Use the values that people have entered in this form element: <{$content.linkedoptions}>
		      </div>
		      <div class="form-radios">
			      <input type="radio" id="no" name="linked_yesno" value="0"<{if $content.islinked eq 0}> checked="checked"<{/if}>/>Use the options specified below:
		      </div>
				<{include file="db:admin/element_optionlist.html"}>					
	</div>

    <div class="form-item">
      <fieldset>
        <legend><{$smarty.const._AM_ELE_FORMLINK_SCOPE}></legend>
	      <select id="element-formlink_scope" name="element_formlink_scope[]" size="10" multiple>
          <{html_options options=$content.formlink_scope_options selected=$content.formlink_scope}>
	      </select>
        <br/><br/>
        <fieldset>
	        <div class="form-radios">
		        <label for="elements-ele_value[4]-0"><input type="radio" id="elements-ele_value[4]-0" name="elements-ele_value[4]" value="0"<{if $content.ele_value[4] eq 0}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_SCOPELIMIT_NO}></label>
	        </div>
	        <div class="form-radios"><label for="elements-ele_value[4]-1"><input type="radio" id="elements-ele_value[4]-1" name="elements-ele_value[4]" value="1"<{if $content.ele_value[4] eq 1}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_SCOPELIMIT_YES}></label></div>
        </fieldset>
	      <fieldset>
		      <div class="form-radios">
			      <label for="elements-ele_value[6]-0"><input type="radio" id="elements-ele_value[6]-0" name="elements-ele_value[6]" value="0"<{if $content.ele_value[6] eq 0}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_ANYALL_ANY}></label>
		      </div>
		      <div class="form-radios">
			      <label for="elements-ele_value[6]-1"><input type="radio" id="elements-ele_value[6]-1" name="elements-ele_value[6]" value="1"<{if $content.ele_value[6] eq 1}> checked="checked"<{/if}>/><{$smarty.const._AM_ELE_FORMLINK_ANYALL_ALL}></label>
		      </div>
	      </fieldset>
	      <div class="description">
		      <{$smarty.const._AM_ELE_FORMLINK_SCOPE_DESC}>
	      </div>
      </fieldset>
    </div>

		<div class="form-item">
			<fieldset>
				<legend><{$smarty.const._AM_ELE_FORMLINK_SCOPEFILTER}></legend>
				<div id="filterdiv">
				<{$content.formlinkfilter}>
				</div>
				<div class="description">
					<{$smarty.const._AM_ELE_FORMLINK_SCOPEFILTER_DESC}>
				</div>
			</fieldset>
		</div>

		<div class="form-item">
			<fieldset>
				<legend>Show as links in lists of entries?</legend>
		      <div class="form-radios">
			      <label for="elements-ele_value[7]-1"><input type="radio" id="elements-ele_value[7]-1" name="elements-ele_value[7]" value="1" <{if $content.ele_value[7] eq 1}>checked<{/if}>/>Yes, make these values clickable in lists of entries so people can go to the source form easily</label>
		      </div>
		      <div class="form-radios">
            <label for="elements-ele_value[7]-0"><input type="radio" id="elements-ele_value[7]-0" name="elements-ele_value[7]" value="0" <{if $content.ele_value[7] eq 0}>checked<{/if}>/>No, just show the selected value as text</label>
		      </div>
				<div class="description">
				</div>
			</fieldset>
		</div>

</div>

<script type="text/javascript">
 $("#elements-ele_value_0").focus(function() {
	  $("#list").attr('checked',1);
 });

 $("[name=elements_multiple]").click(function() {
	  $("#list").attr('checked',1);
 });

 $("#formlink").change(function() {
		$("#yes").attr('checked',1);
		$("[name=reload_option_page]").val(1);
		$("#filterdiv").empty();
		$("#filterdiv").append('<p><input type="button" class="formButton" name="refreshfilter" onclick="refreshfilterjq()" value="Save changes to update filter options"></p>');
 });
 
 function refreshfilterjq() {
	 $("[name=reload_option_page]").val(1);
	 $(".savebutton").click();
	 	
 }
 
 $("[name=addoption]").click(function () {
		$("#no").attr('checked',1);
 })
 
 $("[name=ele_value[0]]").keydown(function () {
	$("#no").attr('checked',1);
	$("#formlink").val('none');
	$("#filterdiv").empty();
	$("#filterdiv").append('<p>The options are not linked.</p>');
	
 });

	$("div#filterdiv > a.conditionsdelete").click(function () {
		$(".selectconditionsdelete").val($(this).attr('target'));
		$("[name=reload_option_page]").val(1);
	  $(".savebutton").click();
		return false;
	});


	$("div#filterdiv > input#addcon").click(function () {
		$("[name=reload_option_page]").val(1);
	  $(".savebutton").click();
		return false;
	});
 
</script>
