<fieldset>
<legend>Textarea display</legend>
	<div class="form-item required">
		<label for="rows">Rows<em>*</em></label>
		<input type="text" id="rows" name="rows" value=""/>
	</div>
	<div class="form-item required">
		<label for="cols">Columns<em>*</em></label>
		<input type="text" id="cols" name="cols" value=""/>
	</div>
</fieldset>
<fieldset>
<legend>Text box display</legend>
	<div class="form-item required">
		<label for="size">Size<em>*</em></label>
		<input type="text" id="size" name="size" value=""/>
	</div>
	<div class="form-item required">
		<label for="max">Maximum length<em>*</em></label>
		<input type="text" id="max" name="max" value=""/>
	</div>
	<div class="form-item">
		<fieldset>
		<legend>Data type</legend>
			<div class="form-radios">
				<label for="anything"><input type="radio" id="anything" name="data" value="anything"/>Any kind of text</label>
			</div>
			<div class="form-radios">
				<label for="numbers"><input type="radio" id="numbers" name="data" value="numbers"/>Numbers Only</label>
			</div>
			<div class="description">
				<p>Choose 'Numbers Only' to strip non-numeric characters from the box when an entry is saved. This ensures mathematical operations can be performed on the contents of the box.</p>
			</div>
		</fieldset>
	</div>
	<div class="form-item">
		<fieldset>
			<legend>Appear next to every entry?</legend>
			<div class="form-item">
				<label for="dec">Number of decimal places</label><input type="text" id="dec" name="dec" value="2"/>
			</div>
			<div class="form-item">
				<label for="prefix">Prefix for numbers (e.g. '$')</label><input type="text" id="prefix" name="prefix" value="$"/>
			</div>
			<div class="form-item">
				<label for="sep">Decimals separator (e.g. '.')</label><input type="text" id="sep" name="sep" value="."/>
			</div>
			<div class="form-item">
				<label for="thou">Thousands separator (e.g. ',')</label><input type="text" id="thou" name="thou" value=","/>
			</div>
			<div class="description">
				<p>If no, then the button will be available in the Top and Bottom Templates. If yes, the button will appear in the list, or will be available in the List Template if you use one.</p>
			</div>
		</fieldset>
	</div>
</fieldset>
