<div class="panel-content content">
    <div class="form-item">
    <fieldset>
		<legend><{$smarty.const._AM_ELE_OPT}></legend>
		<{include file="db:admin/element_optionlist.html}>
    </div>	
    <div class="form-item">
      <fieldset>
        <legend><{$smarty.const._AM_ELE_DELIM_CHOICE}></legend>
        <div class="form-radios">
	        <label for="element-delimit-br"><input type="radio" id="br" name="element_delimit" value="br"/><{$smarty.const._MI_formulize_DELIMETER_BR}></label>
        </div>
        <div class="form-radios">
	        <label for="element-delimit-space"><input type="radio" id="space" name="element_delimit" value="space"/><{$smarty.const._MI_formulize_DELIMETER_SPACE}></label>
        </div>
	      <div class="form-radios">
		      <label for="element-delimit-custom" style="display:inline">
            <input type="radio" id="custom" name="element_delimit" value="custom"/><{$smarty.const._MI_formulize_DELIMETER_CUSTOM}></label>
      	    <input type="text" id="element-delim_custom" name="element_delim_custom" value="<{$content.ele_delim_custom_value}>" size="25" maxlength="255"/>
	      </div>
      </fieldset>
    </div>
  
</div>


<script type='text/javascript'>

$("#element-delimit-custom").click(function () {
  $("#element-delim_custom").focus();
});

$("#element-delim_custom").click(function () {
  $("#custom").attr("checked", "checked"); 
});

$("#<{$content.ele_delim}>").attr('checked',1);

</script>
