<div class="panel-content content">
  <fieldset>
    <legend><{$smarty.const._AM_ELE_MODIF_ONE}></legend>

    <div class="form-item">
	    <label for="element-text"><{$smarty.const._AM_ELE_INSERTBREAK}></label>
	    <textarea id="element-text" name="element-text" rows="5" cols="35"></textarea>
	    <div class="description">
          <p><{$smarty.const._AM_ELE_IB_DESC}></p>
      </div>
    </div>
    <div class="form-item">
	    <label for="element-text"><{$smarty.const._AM_ELE_INSERTBREAK}></label>
      <select name="css" id="css" size=1>
        <option value="head">head</option>
      </select>
    </div>
  </fieldset>
</div>
