<div class="panel-content content">
<form>
<table>
	<tr>
		<th>Data handle</th>
		<th>Type</th>
		<th>Required</th>
		<th>Display</th>
		<th>Private</th>
		<th>Conversions</th>
		<th colspan="3">Actions</th>
	</tr>
	<tr>
		<td><{$sectionContent.ele_handle}></td>
		<td><{$sectionContent.ele_type}></td>
		<td align="center"><input type="checkbox" disabled="disabled" value="<{$sectionContent.ele_req}>" name="ele_req[<{$sectionContent.ele_id}>]"></td>
		<td align="center"><input type="checkbox" <{if $sectionContent.ele_display}>checked="checked"<{/if}> value="<{$sectionContent.ele_display}>" name="ele_display[<{$sectionContent.ele_id}>]"></td>
		<td align="center"><input type="checkbox" <{if $sectionContent.ele_private}>checked="checked"<{/if}>  value="<{$sectionContent.ele_private}>" name="ele_private[<{$sectionContent.ele_id}>]"></td>
		<td><a href="">Convert to text area</a></td>
		<td><a href="ui.php?page=element&tab=settings&aid=1&ele_id=<{$sectionContent.ele_id}>">Edit</a></td>
		<td><a href="">Clone</a></td>
		<td><a href="">Delete</a></td>
	</tr>
</table>
</form>
</div>
