<div class="panel-content content">

<form id="form-<{$number}>">
<{* form elements must be named with their table name hyphen field name *}>
<{* no other elements should have hyphens, since that tells the saving system that this is a field in the database to update *}>
<fieldset>
<legend>Settings for the form <em><{$content.name}></em></legend>

	<div class="form-item">
		<label for="formulize_id-desc_form">Name</label>
		<input type="text" id="formulize_id-desc_form" name="formulize_id-desc_form" value="<{$content.name}>"/>
	</div>
	<div class="form-item">
		<fieldset>
			<legend>How many entries are allowed in this form?</legend>
			<div class="form-radios">
				<label for="group"><input type="radio" id="group" name="formulize_id-singleentry" value="group"/>One entry per <b>group</b></label>
			</div>
			<div class="form-radios">
				<label for="on"><input type="radio" id="on" name="formulize_id-singleentry" value="on"/>One entry per <b>user</b></label>
			</div>
			<div class="form-radios">
				<label for="empty"><input type="radio" id="empty" name="formulize_id-singleentry" value=""><b>More than one entry</b> per user</label>
			</div>
		</fieldset>
	</div>
	<div class="form-item">
			<label for="database_table">Existing table reference</label>
			<input type="text" id="database_table" name="database_table" value=""/>
			<div class="description">
				<p>If you want to reference an existing database table, type in the exact name.</p>
			</div>
	</div>
	<div class="form-item"><input type="button" class="savebutton" name="#form-<{$number}>" value="Save"/></div>

</fieldset>

</form>

</div> <!--// end content -->
