<script type="text/javascript" src="<{$xoops_url}>/modules/formulize/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/formulize/jquery/jquery-ui-1.7.2.custom.min.js"></script>

<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/formulize/jquery/css/start/jquery-ui-1.7.2.custom.css">

<div class="admin-ui">

<{if $breadcrumbtrail}>
<p>
<{counter start=0 assign=crumbcount print=false}>
<{foreach from=$breadcrumbtrail item=crumb}>
<{if $crumbcount}>
 >
<{/if}>
<a href="ui.php?<{$crumb.url}>"><{$crumb.text}></a>
<{counter}>
<{/foreach}>
</p>
<{/if}>

<{if $adminPage.tabs}>  
<{include file="db:admin/ui-tabs.html" tabs=$adminPage.tabs}>
<{/if}>
  
</div><!-- End admin-ui -->