<script type="text/javascript" src="<{$xoops_url}>/modules/formulize/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/formulize/jquery/jquery-ui-1.7.2.custom.min.js"></script>

<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/formulize/jquery/css/start/jquery-ui-1.7.2.custom.css">
<link rel="stylesheet" type="text/css" href="<{$xoops_url}>/modules/formulize/templates/admin/ui.css">

<div class="admin-ui">

<{if $breadcrumbtrail}>
<p>

<{counter start=0 assign=crumbcount print=false}>
<{foreach from=$breadcrumbtrail item=crumb}>

<{if $crumbcount}>
 >
<{/if}>

<{if $crumb.url}>
 <a href="ui.php?<{$crumb.url}>"><{$crumb.text}></a>
<{else}>
 <{$crumb.text}>
<{/if}>
  
<{counter}>
<{/foreach}>

</p>
<{/if}>
  
<h1><{$adminPage.pagetitle}></h1>  

<{if $adminPage.needsave}>
<div id=savebutton><input type="button" class="savebutton" value="Save your changes"/></div><div id="savewarning">You have unsaved changes!</div>
<{/if}>

<{if $adminPage.template}>
<{include file=$adminPage.template}>  
<{/if}>

<{if $adminPage.tabs}>  
<{include file="db:admin/ui-tabs.html" tabs=$adminPage.tabs}>
<{/if}>

</div><!-- End admin-ui -->

<script type="text/javascript">

  $("input").change(function() {
    window.document.getElementById('savewarning').style.display = 'block';
    });
  $("select").change(function() {
    window.document.getElementById('savewarning').style.display = 'block';
    });
  $("textarea").change(function() {
    window.document.getElementById('savewarning').style.display = 'block';
    });

  $(".savebutton").click(function() {
    var formulize_formlist = window.document.getElementsByName("formulize-admin-form");
    for( var i in formulize_formlist) {
      if(typeof(formulize_formlist[i]) == 'object') { // for some crazy reason, non-form stuff can be pulled in by getElementsByName with that param...I hate javascript
        $.post("save.php", $(formulize_formlist[i]).serialize(), function(data) {
          if(data) {
            alert(data);
          }
        });
      }
    }
    window.document.getElementById('savewarning').style.display = 'none';
    $(".savebutton").blur();
  });

  $().ajaxError(function () {
    alert("There was an error when saving your data.  Please try again.");
  });
  
</script>