@import '_style_common';

/* ------ Header top menu navigation rules ------ */

#xo-globalnav a:hover {
    color: #fff;
    border-top: 4px solid #F3AC03;
}

/* ---------- Image Manager / Folder not writeable ------------ */
tr.blocked td {
    background-color: #FF0000;
}

#fz-admin-toolbar {
    float: right;
}

#fz-admin-toolbar a {
    background-color: $colorHeaderMenuBG;
    @include background-linear-gradient($colorHeaderMenuBG, lighten-or-darken($colorHeaderMenuBG, 10%));
    color: $colorHeaderLink;
    font-weight: normal;
    padding: 0.5em 0.75em;
    margin: 0 0.25em;
    @include border-radius(3px);
}

.forms-note {
    width: 99%;
    height: 10em;
}
