@import '_style_common';

div.xo-theme-form > table {
    table-layout: fixed;    // prevent subforms from making the table too wide
}

/* horizontal lines between form questions */
div.xo-theme-form > table.outer > tbody > tr > td {
    border-bottom: 1px solid $colourPrimary;
}

/* compensate for padding in outer table cell when another table is contained -- for table-of-existing-elements */
table.outer table.outer {
    margin: -5px;
}

/* ADDED BY FREEFORM SOLUTIONS TO CHANGE POSITION OF JGROWL */
div.jGrowl-notification {
    margin-top: 80px !important;
    margin-right: 30px !important;
}

/* from style.php */
.icms_checkboxoption {
    clear: both;
}

#floating-list-of-entries-save-button {
    padding: 0.5em 1.5em;
    margin: 1em 0;
    background-color: $colorHeaderAccent;
    @include shadow-floating();
}

#floating-list-of-entries-save-button.save_button_fixed {
    position: fixed;
    bottom: 0;
    z-index: 100;
    margin-top: 0;
    margin-bottom: 0;
    border-top: solid 1px #1D65A5;
    border-left: solid 1px #1D65A5;
    border-right: solid 1px #1D65A5;
    border-radius: 5px 5px 0 0;
}

.floating-column {
    position: fixed;
    border: 1px solid white;
    display: none;
    padding: 0px !important;
}
.floating-column .main-cell-div {
    float: left;
    border: 1px solid white;
    padding: 5px;

}

#currentview {
    width: 500px;
    font-size: 1.2em;
}

.formulize-subform-table {
    width: auto;
    border-collapse: collapse;
}

.formulize-subform-table > tbody > tr > th {
    background-color: transparent !important;
    color: black !important;
    text-align: center;
    border-bottom: 1px solid rgb(209, 209, 223);
}

.formulize-subform-table > tbody > tr > td {
    padding: 0.5em;
    border-bottom: 1px dotted rgb(209, 209, 223);
}

// accordion subforms >
p.subform-header {
    // font-size: 10pt !important;
}

.ui-accordion-content {
    //background: #80C3DD;
    //border-color: white;
    // font-size: 10pt; !important;
}
.ui-accordion-header {
    //border-color: white;
}

.subform-deletebox {
    float: left;        // float the delete checkboxes to the left
}

.subform-entry-container {
    margin-left: 25px;  // space for the delete checkboxes
}
// accordion subforms <

/*=== Formulize Boutons by Francois T ===*/
button, input[type='submit'], input[type='button'], input[type='reset'] {
    border: none;
    //margin: 1px;
    @include border-radius(5px);
    //background-color: #F4F9FE;
    //color: $colorCalcBtnBlue;
    /* border: 1px solid; border-color: #ccc; */
}
//input:hover, button:hover, .xo-formbuttons:hover, .formButton:hover {
//    //transform: scale(1.2);
//    //box-shadow: 0 0 65px #F4F9FE inset, 0 0 20px #F4F9FE inset, 0 0 15px #333;
//    @include shadow-floating();
//}
input:hover, button:hover, .xo-formbuttons:hover, .formButton:hover,
button:focus, input[type='submit']:focus, input[type='button']:focus, input[type='reset']:focus, .xo-formbuttons:focus, .formButton:focus {
    box-shadow: inset 4px 4px 10px rgba(255,255,255,0.3);
}

.formulize_button {
    color: $colorHeaderText;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    text-indent: 30px;
    font-size: 105%;
    height: 36px;
    width: 185px;
    margin: 4px;
    //border-color: #0076a3;
    //color: #fff !important;
    //font-size: 15px;
    //font-weight: bold;
}

/*=== Formulize Boutons by Francois T ===*/
#formulize_addButton, #formulize_addProxyButton {
    text-indent: 45px;
    width: 210px !important;
}
#formulize_addMultiButton {
    text-indent: 45px;
    width: 210px !important;
}
#formulize_addButton, #formulize_addProxyButton {
    background-color: $colorCalcBtnBlue;
}
#formulize_addMultiButton {
    background-color: $colorCalcBtnBlue;
}
#formulize_changeColsButton {
    background-color: $colorCalcBtnBlueLight;
}
#formulize_exportButton {
    background-color: $colorCalcBtnBlue;
}
#formulize_exportCalcsButton {
    background-color: $colorCalcBtnBlue;
}
#formulize_importButton {
    background-color: $colorCalcBtnBlue;
}
#formulize_calcButton, #formulize_advCalcButton, #formulize_advSearchButton  {
    background-color: $colorCalcBtnGrey;
}
#formulize_selectAllButton {
    background-color: $colorCalcBtnGreen;
}
#formulize_clearSelectButton {
    background-color: $colorCalcBtnGreen;
}
#formulize_deleteButton {
    background-color: $colorCalcBtnGreen;
}
#formulize_cloneButton {
    background-color: $colorCalcBtnGreen;
}
#formulize_notifButton {
    background-color: $colorCalcBtnPurple;
}
#formulize_resetViewButton {
    background-color: $colorCalcBtnBlueLight;
}
#formulize_saveViewButton {
    background-color: $colorCalcBtnBlueLight;
}
#formulize_deleteViewButton {
    background-color: $colorCalcBtnBlueLight;
}

#formulize_saveButton {
    background-color: lighten-or-darken($colorHeaderBackground, 30%);
    text-indent: 0px;
}
/* from style.php */

#session-timeout-warning {
    display: none;
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    z-index: 101;
    text-align: center;
    background-color: lighten-or-darken($colorPageBackground, 20%);
    color: black;
    border: 8px solid lighten-or-darken($colorHeaderBackground, 20%);
    padding: 1em;
    @include border-radius(5px);
    box-shadow: 1px 1px 20px 3px #000;
}

/* this forces the footer to the bottom of the page even when the page content is shorter than the window */
html, body, #content
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body > #content
{
    height: auto; min-height: 100%;
}
#content
{
    margin-bottom: -2em;  // height of the footer
}
#footer
{
    background-color: $colorHeaderBackground;
    clear: both;
    position: relative;
    z-index: 10;
    height: 2em;
    padding: 0em;
    margin-top: -2.3em; // height + top padding + bottom padding
}

.xoops-form-element-help {
    // modify the background color instead of the text color so that this text always contrasts with the background
    color: desaturate(lighten-or-darken($colorHeaderBackground, 40%), 60%);
}
