<h1><{$smarty.const._US_OPENID_YOUR}>: <{$displayId}></h1>

<div>
<div>
<fieldset style="padding: 10px;">
  <legend style="font-weight: bold;"><{$smarty.const._US_OPENID_EXISTING_USER}></legend>
  <{$smarty.const._US_OPENID_EXISTING_USER_LOGIN_BELOW}><br />
  <br />
  <form action="finish_auth.php" method="post">
    <{$smarty.const._US_NICKNAME}>: <input type="text" name="uname" size="21" maxlength="" value="<{$usercookie}>" /><br />
    <br />
    <{$smarty.const._US_PASSWORD}>: <input type="password" name="pass" size="21" maxlength="32" /><br />
    <input type="hidden" name="op" value="login" />
    <br />
	<input type="hidden" name="openid_link" value="1" />    
    <input type="submit" value="<{$smarty.const._LOGIN}>" />
  </form>
</div>
<div>
</fieldset>
<fieldset style="padding: 10px;">
  <legend style="font-weight: bold;"><{$smarty.const._US_OPENID_NOM_MEMBER}></legend>
  <div>
	<{$smarty.const._US_OPENID_NON_MEMBER_DSC}></div>
	<br />
  <form action="finish_auth.php" method="post">
  
    <{$smarty.const._US_NICKNAME}>: <input type="text" name="uname" size="26" maxlength="60" value="<{$uname}>"/><br />
    <br />
    <{$smarty.const._US_EMAIL}>: <input type="text" name="email" size="26" maxlength="255" value="<{$email}>"/>
    <br />
    <br />
     <input type="hidden" name="openid_register" value="1" />
     <input type="submit" value="<{$smarty.const._SUBMIT}>" />
  </form>
</fieldset>

</div>

</div>
<div style="clear: both;"></div>
