<{if $icms_single_view_header_value && !$icms_header_as_row}>
	<h1><{$icms_single_view_header_value}></h1>
<{/if}>

<table class="outer" cellspacing="1" width="100%">
	<{if $icms_single_view_header_value && $icms_header_as_row}>
		<tr>
			<th width="200" style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><{$icms_single_view_header_caption}></th>
			<th style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><{$icms_single_view_header_value}></th>
		</tr>
	<{/if}>
	<{foreach from=$icms_object_array key=key item=field name=singleviewloop}>
		<tr>
			<td class="head" width="200"><{$field.caption}></td>
			<td class="<{cycle values="even,odd"}>"><{$field.value}></td>
		</tr>
	<{/foreach}>
</table>
