<div style="position: relative;">
	<div>
		<fieldset style="padding: 10px;">
			<legend style="font-weight: bold; font-size: 150%;"><{$lang_login}></legend>
<div id="icms_block_login_form">
			<form action="user.php" method="post">
		    	<div><{$lang_username}><input type="text" class="uname" name="uname" size="21" maxlength="255" value="<{$usercookie}>" />
		    	<br />
			    <br /></div>
		    	<div><{$lang_password}><input type="password" name="pass" size="21" maxlength="255" /><br /></div>
			    <{if $rememberme }>
			    	<div><input type="checkbox" name="rememberme" value="On" /><{$lang_rememberme}><br /></div>
			    <{/if}>
			    <div><input type="hidden" name="op" value="login" /></div>
				<input type="hidden" id="tfacode" name="tfacode" value="" />
				<input type="hidden" id="tfaremember" name="tfaremember" value="" />
		    	<div><input type="hidden" name="xoops_redirect" value="<{$redirect_page}>"/>
				
			    <br />
		    	<input type="submit" value="<{$lang_login}>" /></div>
			</form>
			<{php}>include_once XOOPS_ROOT_PATH.'/include/2fa/manage.php';print tfaLoginJS('icms_block_login_form');<{/php}>
  <{if $auth_openid}>
<br />
	  <div style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><a href="<{$auth_url}>"><{$lang_login_oid}></a></div>
  <{/if}>
<{if $auth_okta}>
<br />
	  <div style="text-align: <{$smarty.const._GLOBAL_LEFT}>;"><a href="<{$auth_okta}>"><{$lang_login_okta}></a></div>
  <{/if}>
</div>
			<a name="lost"></a>
			<{if $allow_registration }>
				<div style="text-align: <{$smarty.const._GLOBAL_RIGHT}>;"><{$lang_notregister}><br /></div>
			<{/if}>
		</fieldset>
	</div>
</div>

