<div id="pageNavTable">
    <table>
        <tr>
            <td style="vertical-align: middle; padding-right: 5px;">
                <nobr><{$_formulize_DMULTI_PAGE}> <{$currentPage}> <{$_formulize_DMULTI_OF}> <{$totalPages}></nobr>
            </td>
            <td style="vertical-align: middle; padding-right: 5px;">
                <{$previousPageButton}>
            </td>
            <td style="vertical-align: middle; padding-right: 5px;">
                <{$nextPageButton}>
            </td>
            <td style="vertical-align: middle;">
                <{$_formulize_DMULTI_JUMPTO}>&nbsp;&nbsp;<{$pageSelectionList}>
            </td>
        </tr>
    </table>
</div>
