<div id="pageNavTable<{$bottom}>">
    <table>
        <tr>
            <td style="vertical-align: middle; padding-right: 5px;">
                <{if $showpageindicator}>
                <span id="pageNumber<{$bottom}>"><nobr><{$_formulize_DMULTI_PAGE}> <{$currentPage}> <{$_formulize_DMULTI_OF}> <{$totalPages}></nobr></span>
                <{/if}>
            </td>
            <td style="vertical-align: middle; padding-right: 5px;">
                <span id="navPrevButton<{$bottom}>"><{$previousPageButton}></span>
            </td>
            <td style="vertical-align: middle; padding-right: 5px;">
                <span id="navNextButton<{$bottom}>"><{$nextPageButton}></span>
            </td>
            <td style="vertical-align: middle;">
                <{if $showpageselector}>
                <span id="jumpList<{$bottom}>"><{$_formulize_DMULTI_JUMPTO}>&nbsp;&nbsp;<{$pageSelectionList}></span>
                <{/if}>
            </td>
        </tr>
    </table>
</div>
