<{if $content_content}>
    <style type="text/css">
      <{$content_content.content_css}>
    </style>
	<div class="content_content_container">
		<h1 class="content_content_title"><{$content_content.content_title}>
		<{if $content_content.userCanEditAndDelete}><{$content_content.editItemLink}><{$content_content.deleteItemLink}>
		<{/if}>
		</h1>
		<{if $showInfo}>
		  <div class="content_content_info"><{$content_content.content_info}></div>
		<{/if}>  
		<div class="content_content_body">
			<{$content_content.content_body}>
		</div>
        <{if $showSubs && $content_content.content_hassubs}>
          <hr style="margin:20px;" />
          <div id="content_content_subs">
            <div class="content_content_subs_header"><{$smarty.const._MD_CONTENT_SUBS}></div>
            <{foreach item=sub from=$content_content.content_subs}>
              <div style="margin:5px;" class="content_content_subs_item <{cycle values="even,odd"}>">
                <h3 class="content_content_subs_item_title" style="margin:0;"><{$sub.itemLink}></h3>
                <div class="content_content_subs_item_teaser"><{$sub.content_body}></div>
              </div>
            <{/foreach}>
          </div>
        <{/if}>
	</div>
<{/if}>