ul.primary-nav, ul.primary-nav ul {margin:0;padding:0;width:100%;background:#fff;}
ul.primary-nav li {position:relative;list-style:none;margin:0;padding:0;}
ul.primary-nav li a {display:block;text-decoration:none;padding:3px;width:auto;}
* html ul.primary-nav li {float:right;height:1%;}
* html ul.primary-nav li a {height:1%;}
ul.primary-nav ul {position:absolute;display:none;right:99%;top:0;z-index:1;}
ul.primary-nav li:hover ul ul,
ul.primary-nav li:hover ul ul ul,
ul.primary-nav li:hover ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul ul ul,
ul.primary-nav li:hover ul ul ul ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul,
ul.primary-nav li.over ul ul ul,
ul.primary-nav li.over ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul ul ul,
ul.primary-nav li.over ul ul ul ul ul ul ul ul ul ul ul {display:none;}
ul.primary-nav li:hover ul,
ul.primary-nav li li:hover ul,
ul.primary-nav li li li:hover ul,
ul.primary-nav li li li li:hover ul,
ul.primary-nav li li li li li:hover ul,
ul.primary-nav li li li li li li:hover ul,
ul.primary-nav li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li li li:hover ul,
ul.primary-nav li li li li li li li li li li li:hover ul,
ul.primary-nav li.over ul,
ul.primary-nav li li.over ul,
ul.primary-nav li li li.over ul,
ul.primary-nav li li li li.over ul,
ul.primary-nav li li li li li.over ul,
ul.primary-nav li li li li li li.over ul,
ul.primary-nav li li li li li li li.over ul,
ul.primary-nav li li li li li li li li.over ul,
ul.primary-nav li li li li li li li li li.over ul,
ul.primary-nav li li li li li li li li li li.over ul,
ul.primary-nav li li li li li li li li li li li.over ul {display:block;}
ul.primary-nav li.menuparent {background:transparent url(../../../../images/arrow.gif) left center no-repeat;}
ul.primary-nav li.menuparent:hover, ul.primary-nav li.over {background-color:inherit;}
.contentmenu {display:block;}