<{if $content_content_comment}>
<div style="text-align:center;"><{$commentsnav}><{$lang_notice}></div>
<a name="comments_container">&nbsp;</a>
<{if $comment_mode == "flat"}>
<{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
<{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
<{include file="db:system_comments_nest.html"}>
<{/if}>
<{/if}>
<{if $content_module_home != ''}><{includeq file='db:system_notification_select.html'}><{/if}>