<div style="clear: both"></div>

<{include file='db:profile_notifications.html'}>
<!-- this open blank div is here only for not putting bottom blocks on the right column -->
<{if $section_name != $lang_profile}></div><{/if}>
<!-- this open blank div is here only for not putting bottom blocks on the right column 
<{if $section_name==$lang_photos}></div><{/if}>
<{if $section_name==$lang_audio}></div><{/if}>
<{if $section_name==$lang_videos}></div><{/if}>
<{if $section_name==$lang_friends}></div><{/if}>
<{if $section_name==$lang_tribes}></div><{/if}>
<{if $section_name==$lang_configs}></div><{/if}>-->
