<{include file="db:profile_header.html"}>
<{if $profile_audioform}>
<{if $hideForm}>
<div class="profile-form outer">
  <h2 class="head">
    <a href="#" onclick ="jQuery().find('div.profile-album-form').toggle(400);"><img src="images/toggle.gif" /></a>&nbsp;<{$lang_audioform_title}>
  </h2>
  <div class="profile-album-form" style="display: none">
    <{includeq file='db:system_common_form.html' form=$profile_audioform}>
  </div>
</div>
<{else}>
<{includeq file='db:system_common_form.html' form=$profile_audioform}>
<{/if}>
<{/if}>
<{if $profile_single_audio}>
<div class="profile_single_audio_container">
  <h1 class="audio-title"><{$profile_single_audio.audio_title}></h1>
  <div class="profile_single_audio_content"><{$profile_single_audio.audio_content}></div>
  <{if $profile_single_audio.userCanEditAndDelete}>
  <div class="profile_admin_links"><{$profile_single_audio.editItemLink}><{$profile_single_audio.deleteItemLink}></div>
  <{/if}>
</div>
<{/if}>
<{if $profile_audios}>
<div id="profile-audio-container" class="outer">
  <table width="100%" cellspacing="1" cellpadding="4">
    <tbody>
      <tr align="center">
        <th width="250px"><{$lang_player}></th>
        <th><{$lang_author}></th>
        <th><{$lang_title}></th>
        <{if $actions}><th width="130px"><{$lang_actions}></th><{/if}>
      </tr>
      <{foreach item=audio from=$profile_audios}>
      <{cycle values='even,odd' assign=class}>
      <tr class="<{$class}>">
        <td width="250px"><{$audio.audio_content}></td>
        <td><{$audio.author}></td>
        <td><{$audio.title}></td>
        <{if $audio.userCanEditAndDelete}>
        <td width="130px" align="center"><{$audio.editItemLink}><{$audio.deleteItemLink}></td>
        <{/if}>
      </tr>
      <{/foreach}>
    </tbody>
  </table>
</div>
<{if $profile_audios_pagenav}>
<div class="pagination"><{$profile_audios_pagenav}></div>
<{/if}>
<{/if}>
<{if $icmspersistable_delete_confirm}>
<{$icmspersistable_delete_confirm}>
<{/if}>
<{if $lang_nocontent}><div id="profile-nocontent" class="outer"><p class="odd"><{$lang_nocontent}></p></div><{/if}>