<form id="<{$searchform.name}>" action="<{$searchform.action}>" method="<{$searchform.method}>" <{$searchform.extra}> >
    <table>
    <!-- start of visible form elements loop -->
    <{foreach item=element from=$searchform.elements}>
        <{if $element.hidden != true}>
            <tr valign="top">
                <td class="head"><{$element.caption}></td>
                <td class="odd" style="white-space: nowrap;"><{$element.body}></td>
            </tr>
        <{/if}>
    <{/foreach}>
    <!-- end of visible form elements loop -->
    </table>
    <div>
    <{foreach item=element from=$searchform.elements}>
        <{if $element.hidden == true}>
            <{$element.body}>
        <{/if}>
    <{/foreach}>
    </div>
</form>