<br />
<hr />
<div class="head">
    <form id="<{$addform.name}>" method="<{$addform.method}>" action="<{$addform.action}>">
        <{foreach item=element from=$addform.elements}>
            <{$element.caption}> <{$element.body}>
        <{/foreach}>
    </form>
</div>

<table>
    <{foreach item=field from=$fields key=fieldid}>
        <tr class="<{cycle values='odd,even'}>">
            <td><{$field}></td>
            <td>
                <{if isset($visibilities[$fieldid])}>
                    <ul>
                        <{foreach item=visibility from=$visibilities[$fieldid]}>
                            <li>
                                <{$smarty.const._PROFILE_AM_FIELDVISIBLEFOR}> <{$groups[$visibility.user_group]}>
                                <{$smarty.const._PROFILE_AM_FIELDVISIBLEON}> <{$groups[$visibility.profile_group]}>
                                <a href="visibility.php?op=del&amp;fieldid=<{$fieldid}>&amp;ug=<{$visibility.user_group}>&amp;pg=<{$visibility.profile_group}>" title="<{$smarty.const._DELETE}>">
                                    <img src="<{$icms_url}>/images/delete.gif" alt="<{$smarty.const._DELETE}>" width="14" height="14" />
                                </a
                            </li>
                        <{/foreach}>
                    </ul>
                <{else}>
                    <{$smarty.const._PROFILE_AM_FIELDNOTVISIBLE}>
                <{/if}>
            </td>
        </tr>
    <{/foreach}>
</table>