<script type="text/javascript" src="<{$xoops_url}>/modules/system/admin/images/js/imanager.js"></script>
<div class="CPbigTitle" style="background-image: url(<{$xoops_url}>/modules/system/admin/images/images/images_big.png)"><{$lang_imanager_title}></div><br />
<p style="margin-top:0;"><{$admnav}></p>
<table width="100%" celpadding="0" cellspacing="1" class="outer">
  <tr>
    <th align="center"><{$lang_imanager_catmsize}></th>
    <th align="center"><{$lang_imanager_catmwidth}></th>
    <th align="center"><{$lang_imanager_catmheight}></th>
    <th align="center"><{$lang_imanager_catstype}></th>
    <th align="center"><{$lang_imanager_catdisp}></th>
    <th align="center" width="5%"><{$lang_imanager_catsubs}></th>
    <th align="center"><{$lang_imanager_catqtde}></th>
    <th align="center"><{$lang_imanager_catoptions}></th>
  </tr>
  <tr class="odd">
    <td align="center"><{$cat_maxsize}></td>
    <td align="center"><{$cat_maxwidth}>px</td>
    <td align="center"><{$cat_maxheight}>px</td>
    <td align="center"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/<{$cat_storetype}>.png" title="<{$cat_storetype}>" alt="<{$cat_storetype}>" /></td>
    <td align="center"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/<{$cat_display}>.png" title="<{$cat_display}>" alt="<{$cat_display}>" /></td>
    <td align="center">
    <{if $cat_subs > 0}>
      <{$cat_subs}> <a href="admin.php?fct=images&imgcat_id=<{$cat_id}>" title="<{$smarty.const._MD_IMAGE_VIEWSUBS}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/filefind.png" align="absmiddle" alt="<{$smarty.const._MD_IMAGE_VIEWSUBS}>" /></a>
    <{else}>
      <{$cat_subs}>
    <{/if}>
    </td>
    <td align="center"><{$imgcount}><{if $simgcount > 0}> (+<{$simgcount}>)<{/if}></td>
    <td align="center">
      <a href="#" onclick="showDiv('addimgform',''); document.anchors.item('addimgform').scrollIntoView(); return false;" title="<{$lang_imanager_cat_addimg}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/filenew2.png" alt="<{$lang_imanager_cat_addimg}>" /></a>
      <a href="admin.php?fct=images&amp;op=editcat&amp;imgcat_id=<{$cat_id}>" title="<{$lang_imanager_cat_edit}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/edit.png" alt="<{$lang_imanager_cat_edit}>" /></a>
      <a href="admin.php?fct=images&amp;op=delcat&amp;imgcat_id=<{$cat_id}>" title="<{$smarty.const._DELETE}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/editdelete.png" alt="<{$smarty.const._DELETE}>" /></a>
    </td>
  </tr>
</table>
<div style="border: 2px solid #C2CDD6; padding: 5px; vertical-align: middle; background-color: #E6E6E6; width:45%; float:right; margin-top:5px;" align="right">
  <form action="admin.php?fct=images&op=listimg&imgcat_id=<{$cat_id}>" method="POST">
    <b><{$lang_search_title}>:</b> 
    <input type="text" name="query" id="query" size="20" value="<{$query}>" style="min-width:300px;" />
    <input type="submit" name="btn" value="<{$lang_search}>" />
    <input type="submit" name="btn1" value="<{$lang_cancel}>" onclick="document.getElementById('query').value='';" />
  </form>
</div>
<br style="clear:right;" />
<{foreach from=$images item=image key=key}>
  <{include file="db:admin/images/system_adm_imagemanager_img.html" image=$image i=$key}>
<{/foreach}>
<br style="clear:both;" />
<{foreach from=$images item=image key=key}>
  <{include file="db:admin/images/system_adm_imagemanager_editimg.html" image=$image i=$key}>
  <{include file="db:admin/images/system_adm_imagemanager_cloneimg.html" image=$image i=$key}>
<{/foreach}>
<div id="addimgform" class="opt_divs" style="display:none; padding:5px; margin:5px;"><{$addimgform}></div>
<a name="addimgform"></a>
<{$pag}>