<script type="text/javascript" src="<{$xoops_url}>/modules/system/admin/images/js/imanager.js"></script>
<div class="CPbigTitle" style="background-image: url(<{$xoops_url}>/modules/system/admin/images/images/images_big.png)"><{$lang_imanager_title}></div><br />
<p style="margin-top:0;"><{$admnav}></p>
<{if $catcount > 0}>
<form action="admin.php" method="post">
  <table width="100%" celpadding="0" cellspacing="1" class="outer">
    <tr>
      <th align="center" width="3%"><{$lang_imanager_catid}></th>
      <th align="center" width="20%"><{$lang_imanager_catname}></th>
      <th align="center" width="10%"><{$lang_imanager_catmsize}></th>
      <th align="center" width="10%"><{$lang_imanager_catmwidth}></th>
      <th align="center" width="10%"><{$lang_imanager_catmheight}></th>
      <th align="center" width="8%"><{$lang_imanager_catstype}></th>
      <th align="center" width="7%"><{$lang_imanager_catdisp}></th>
      <th align="center" width="5%"><{$lang_imanager_catweight}></th>
      <th align="center" width="5%"><{$lang_imanager_catsubs}></th>
      <th align="center" width="10%"><{$lang_imanager_catqtde}></th>
      <th align="center" width="10%"><{$lang_imanager_catoptions}></th>
    </tr>
    <{section name=i loop=$imagecategorys}>
      <tr class="<{cycle values="odd,even"}><{if !$nwrite[i]}> blocked<{/if}>" align="center">
        <td><{$imagecategorys[i]->getVar('imgcat_id')}></td>
        <td align="left"><{$imagecategorys[i]->getVar('imgcat_name')}></td>
        <td><{$msize[i]}></td>
        <td><{$imagecategorys[i]->getVar('imgcat_maxwidth')}>px</td>
        <td><{$imagecategorys[i]->getVar('imgcat_maxheight')}>px</td>
        <td><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/<{$imagecategorys[i]->getVar('imgcat_storetype')}>.png" title="<{$imagecategorys[i]->getVar('imgcat_storetype')}>" /></td>
        <td><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/<{$imagecategorys[i]->getVar('imgcat_display')}>.png" /></td>
        <td><input style="text-align:center;" type="text" name="imgcat_weight[<{$imagecategorys[i]->getVar('imgcat_id')}>]" value="<{$imagecategorys[i]->getVar('imgcat_weight')}>" size="3" maxlength="4" /></td>
        <td>
          <{if $subs[i] > 0}>
            <{$subs[i]}> <a href="admin.php?fct=images&imgcat_id=<{$imagecategorys[i]->getVar('imgcat_id')}>" title="<{$smarty.const._MD_IMAGE_VIEWSUBS}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/filefind.png" align="absmiddle" alt="<{$smarty.const._MD_IMAGE_VIEWSUBS}>" /></a>
          <{else}>
            <{$subs[i]}>
          <{/if}>
        </td>
        <td><{$count[i]}><{if $scount[i] > 0}> (+<{$scount[i]}>)<{/if}></td>
        <td>
          <{if $count[i] > 0}>
            <a href="admin.php?fct=images&amp;op=listimg&amp;imgcat_id=<{$imagecategorys[i]->getVar('imgcat_id')}>" title="<{$lang_imanager_cat_listimg}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/viewmag.png" alt="<{$lang_imanager_cat_listimg}>" /></a>
          <{else}>
            <img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/encrypted.png" alt="" />
          <{/if}>
          <a href="admin.php?fct=images&amp;op=editcat&amp;imgcat_id=<{$imagecategorys[i]->getVar('imgcat_id')}>" title="<{$lang_imanager_cat_edit}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/edit.png" alt="<{$lang_imanager_cat_edit}>" /></a>
          <{if ($imagecategorys[i]->getVar('imgcat_type') == 'C')}>
            <a href="admin.php?fct=images&amp;op=delcat&amp;imgcat_id=<{$imagecategorys[i]->getVar('imgcat_id')}>" title="<{$smarty.const._DELETE}>"><img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/editdelete.png" alt="<{$smarty.const._DELETE}>" /></a>
          <{else}>
            <img src="<{$smarty.const.ICMS_IMAGES_SET_URL}>/actions/encrypted.png" alt="" />
          <{/if}>
        </td>
      </tr>
      <tr id="line<{$imagecategorys[i]->getVar('imgcat_id')}>" style="display:none;">
        <td class="head" width="2%"></td>
        <td colspan="11" style="padding:0; margin:0;">
          <div id="cat<{$imagecategorys[i]->getVar('imgcat_id')}>"></div>
        </td>  
      </tr>
    <{/section}>
    <tr>
      <td class="head" colspan="12" align="right">
        <input type="submit" name="submit" value="<{$lang_imanager_cat_submit}>" />
        <{if $isAdmin}>
          <input type="button" onclick="showDiv('addcatform'); document.anchors.item('addcatform').scrollIntoView(); return false;" value="<{$lang_imanager_cat_addnewcat}>" />
        <{/if}>
        <{if $writecatcount > 0}>
          <input type="button" onclick="showDiv('addimgform'); document.anchors.item('addimgform').scrollIntoView(); return false;" value="<{$lang_imanager_cat_addnewimg}>" />
        <{/if}>
      </td>
    </tr>
  </table>
  <input type="hidden" name="op" value="reordercateg" />
  <input type="hidden" name="fct" value="images" />
  <{$token}>
</form>
<{/if}>
<{if $hasnwrite}>
<div id="legend">
  <div class="imgcat_notwrite"><span><{$lang_imanager_folder_not_writable}>: <{$hasnwrite}></span></div>
</div>
<{/if}>
<div id="addimgform" class="opt_divs" style="display:none; margin:5px; padding:5px;"><{$addimgform}></div>
<a name="addimgform"></a>
<div id="addcatform" class="opt_divs" style="<{if $catcount > 0}>display:none;<{else}>display:block;<{/if}> margin:5px; padding:5px;"><{$addcatform}></div>
<a name="addcatform"></a>