<{include file="db:profile_header.html"}>
<{if $profile_videosform}>
<{if $hideForm}>
<div class="profile-form outer">
  <h2 class="head">
    <a href="#add-video" onclick ="jQuery('div.profile-album-form').toggle(400);" name="add-video"><img src="images/toggle.png" />&nbsp;<{$lang_videosform_title}></a>
  </h2>
  <div class="profile-album-form" style="display: none">
    <{includeq file='db:system_common_form.html' form=$profile_videosform}>
  </div>
</div>
<{else}>
<{includeq file='db:system_common_form.html' form=$profile_videosform}>
<{/if}>
<{/if}>
<{if $profile_videos}>
<div id="profile-video-container" class="outer">
  <table width="100%" cellspacing="1" cellpadding="4">
    <tbody>
      <tr align="center">
        <th width="350px"><{$lang_video}></th>
        <th><{$lang_description}></th>
        <{if $actions}><th width="130px"><{$lang_actions}></th><{/if}>
      </tr>
      <{foreach item=video from=$profile_videos}>
      <{cycle values='even,odd' assign=class}>
      <tr class="<{$class}>">
        <td width="350px" align="center"><{$video.video_content}></td>
        <td style="vertical-align:top;"><strong><{$video.video_title}></strong><br /><br /><{$video.video_desc}></td>
        <{if $video.userCanEditAndDelete}>
        <td width="130px" align="center"><{$video.editItemLink}><{$video.deleteItemLink}></td>
        <{/if}>
      </tr>
      <{/foreach}>
    </tbody>
  </table>
</div>
<{if $profile_videos_pagenav}>
<div class="pagination"><{$profile_videos_pagenav}></div>
<{/if}>
<{/if}>
<{if $icmspersistable_delete_confirm}>
<{$icmspersistable_delete_confirm}>
<{/if}>
<{if $lang_nocontent}><div id="profile-nocontent" class="outer"><p class="odd"><{$lang_nocontent}></p></div><{/if}>
<{if $profile_videos || $lang_nocontent}><{includeq file='db:system_notification_select.html'}><{/if}>