<div class="CPbigTitle" style="background-image: url(<{$xoops_url}>/modules/system/admin/rating/images/rating_big.png)"><{$smarty.const._CO_ICMS_RATING}></div><br />

<{if $icms_rating_explain}>
	<h1><{$smarty.const._CO_ICMS_RATING_EXPLAIN_TITLE}></h1>
	<p><{$smarty.const._CO_ICMS_RATING_EXPLAIN}></p>
<{/if}>

<p><{$icms_rating_title}></p>

<{if $icms_rating_table}>
	<{$icms_rating_table}>
<{/if}>

<{if $addrating}>
	<{includeq file='db:system_common_form.html' form=$addrating}>
<{/if}>