name: Publish PHP Development Docker image

on:
  push:
    branches:
      - 'FEATURE/docker-arm-support'
    paths:
      - 'docker/php/Dockerfile'
      - '.github/workflows/build-docker-dev-image.yaml'

jobs:
  deploy-dev-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./docker/php
          platforms: linux/amd64,linux/arm64
          push: true
          tags: formulize/php-dev:latest
