<{if $block.content_content}>
    <style type="text/css">
      <{$block.content_content.content_css}>
    </style>
	<div class="content_content_container">
		<h1 class="content_content_title"><{$block.content_content.content_title}></h1>
		<{if $block.showInfo}>
		  <div class="content_content_info"><{$block.content_content.content_info}></div>
		<{/if}>  
		<div class="content_content_body">
			<{$block.content_content.content_body}>
		</div>
		<{if $block.content_content.userCanEditAndDelete}>
			<div class="content_admin_links"><{$block.content_content.editItemLink}><{$block.content_content.deleteItemLink}></div>
		<{/if}>
        <{if $block.showSubs && $block.content_content.content_hassubs}>
          <hr style="margin:20px;" />
          <div id="content_content_subs">
            <div class="content_content_subs_header"><{$smarty.const._MD_CONTENT_SUBS}></div>
            <{foreach item=sub from=$block.content_content.content_subs}>
              <div style="margin:5px;" class="content_content_subs_item <{cycle values="even,odd"}>">
                <h3 class="content_content_subs_item_title" style="margin:0;"><{$sub.content_url}></h3>
                <div class="content_content_subs_item_teaser"><{$sub.content_body}></div>
              </div>
            <{/foreach}>
          </div>
        <{/if}>
	</div>
<{/if}>