<style >

/*new*/

.sidebar-form:hover{	
	cursor: grab;!important
}

.sidebar-form > p {
	margin: 0px;
	padding: 6px;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 800;
}

.sidebar-form:hover {
	border-radius: 4px;
	color: rgb(153, 153, 153);
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.sidebar-form:hover > p > .form-settings {
	visibility: visible;
}

.form-settings {
	float: right;
	visibility: hidden;
	cursor: pointer;
}

.sidebar-form:hover {
	color: rgb(153, 160, 177);
}

.sidebar-form-placeholder {
	border: 3px dashed #aaa;
	height: 45px;
	width: 344px;
}

.sidebar-form-dragged {
	padding: 6px;
	border-radius: 4px;
	color: rgb(153, 153, 153);
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 800;
}

/*-9 color presets: color:var(--primary-form)*/
:root {
	--primary-form: #f9f9f9;
	--form-highlight: #f7f7f7;
	--form-active: #efefef;
	--form-text: #7c8289;
	--form-text-highlight: #595d65;
}

body {
	overflow: scroll;
	font-family: "Arial";
	background: rgb(238, 238, 238);
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
}

.form-content,
.form-content p {
	font-family: rgb(78, 82, 91);
	margin: 0px;
}

.sidebar {
	height: 100%;
	width: 160px;
	position: relative;
	left: 0;
	padding: 10px;
	color: rgb(153, 153, 153);
}

.sidebar > p {
	text-indent: 6px;
	font-size: 24px;
	font-family: sans-serif;
}

.form-main {
	margin-left: 190px;
	margin-top: 10px;
	position: fixed;
	top: 0;
	min-width: 400px;
}

.form-main,
.sidebar,
.drop-container,
.drop-container2 {
	padding: 5px;
	border: 0px solid rgba(123, 123, 123, 0.498039);
	border-radius: 4px;
	color: rgb(153, 153, 153);
	background-color: rgb(255, 255, 255);
	box-shadow: inset rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

ul,
.form-listings {
	list-style-type: none;
	white-space: nowrap;
	margin: 0px;
	margin-left: 16px;
	padding: 0px;
	padding-top: 4px;
	display: block;
	font-size: 14px;
}

.drop-container,
.drop-container2 {
	display: none;
	margin: 4px;
	margin-left: 14px;
	border: 3px dashed #d0d0d0;
	color: #d0d0d0;
	border-radius: 4px;
	font-weight: 600;
	font-size: 14px;
}

.drop-highlight {
	background: #d0d0d0;
	color: white;
}

.list {
	cursor: pointer;
	user-select: none;
	display: inline-block;
	/* Prevent text selection */
}

.arrow {
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

}

/* Create the triangle */
.list::before {
	margin-right: 3px;
}

/* Rotate the triangle icon when clicked*/
.arrow-down {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.fa-chevron-down {
	
}

.parent {
	padding: 10px;
	display: flex;
	border: 0px solid rgba(123, 123, 123, 0.498039);
	border-radius: 4px;
	color: rgb(153, 153, 153);
	margin: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.hidelist {
	display: none;
}

.active {
	display: block;
}

.visible {
	display: inline-block;
}

.fas {
	margin-right: 5px;
}


.popup {
	display: none;
	/*temp*/
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	font-family: Arial;
}

.popup-content {
	margin: 25% auto;
	padding: 20px;
	width: 80%;
	border: 0px solid rgba(123, 123, 123, 0.5);
	border-radius: 8px;
	color: rgb(153, 153, 153);
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.popup-selector {
	padding: 5px;
	border: 1px solid rgba(123, 123, 123, 0.25);
	border-radius: 8px;
	color: rgb(153, 153, 153);
	background-color: rgb(247, 247, 247);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
	outline: none;
	margin: 4px;
}

.popup-submit {
	color: dodgerblue;
	font-family: Arial;
	font-weight: 500;
	font-size: 20px;
	background-color: white;
	border: 0px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus,
.popup-submit:hover,
.popup-submit:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

</style >