/*Default ImpressCMS Style*/
div.pagination.default{
    margin-top: 20px;
    margin-bottom: 10px;
}

div.pagination.personal a {
    text-decoration: none;
}
div.pagination.personal a:hover, div.pagination.personal a:active {
    /*CSS Style for the mouse hover of the links inside the pagination div*/
}

div.pagination.personal span.current {
    /*CSS Style for the link of the current page*/
}
div.pagination.personal span.disabled {
    display: none;
}